<template>
<div>
    <img :style="'height: 260px; width: 107px;'" :src="img" alt="">
</div>
</template>

<script>
export default {
    name: "EliUi",
    props: ['info'],
    data(){
        return {
            img: '',
        }
    },

    created(){
        this.imageGet();
    },
    methods: {
        imageGet() {
            return axios.post('/axios/get-door-image', this.info).then(response => {
                if (response.data.status == 'success') {
                    this.img = response.data.image

                }

            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
