// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//vuetify
@import '~vuetify/dist/vuetify.min.css';

@import '~@mdi/font/css/materialdesignicons.min.css';

//local pages

.nav-distance{
    max-height: calc(100% - 33px) !important;
}

.logo-img{
    height: 30px;
    margin-right: 100px;
}

.nav-distance-door{
    max-height: calc(100% - 15px) !important;
    overflow: auto;
    position: fixed;
    z-index: 202 !important;
}

.v-overlay.v-overlay--absolute.v-overlay--active.theme--dark {
    max-height: calc(100% - 15px) !important;
}

.v-card{
    box-shadow: none !important;
}

[v-cloak] > * {
    display: none;
}

.select-important{
    fieldset {
        border-color: red;
        color: red;
    }
}
