//#auth {
//    background-image: url(images/auth/bg.jpg);
//    width: 100%;
//    height: 100vh;
//    background-repeat: no-repeat;
//    background-size: cover;
//
//    .form {
//        width: 700px;
//        height: 400px;
//        display: flex;
//        flex-wrap: nowrap;
//        justify-content: center;
//        justify-items: center;
//        text-align: center;
//        margin-left: auto;
//        margin-right: auto;
//        padding: 20px;
//
//        .text {
//            background-color: #1b4b72;
//        }
//
//        .inputs {
//            background-color: #1d68a7;
//        }
//    }
//}
