<template>
    <div>
        <div class="title">
            <h3>Cosul de cumparaturi</h3>
        </div>
        <div class="cart-items">
            <div class="item" v-for="(cart, i) in carts" :key="i">
                <div class="item-name">
                    <!--                    <h4>Pentru:{{cart.pentru_cine}} | Amplasare: {{cart.amplasare}}</h4>-->
                    <div class="specs spcs-header">
                        <div class="d-flex">
                            <v-btn class="mr-2" color="error" small @click="deleteItemCart(cart.id)">Sterge</v-btn>
                            <v-btn class="mr-2"
                                   v-if="cart.specification.foaie_de_usa && cart.specification.foaie_de_usa.culoare_id"
                                   color="primary" small @click="openOffer(cart, cart.total, cart.product_type_id)">PDF
                            </v-btn>
<!--                            <v-btn class="mr-2"-->
<!--                                   v-if="cart.specification.foaie_de_usa && cart.specification.foaie_de_usa.culoare_id"-->
<!--                                   color="secondary" small @click="addTofavorite(cart)">La favorite-->
<!--                            </v-btn>-->
                            <span>Amplasare: {{cart.amplasare}}</span>
                        </div>
                        <span>Pret lista (fara TVA)</span>
                        <span>Pret partener (fara TVA)</span>
                    </div>
                    <div class="specs" v-if="cart.specification.foaie_de_usa">
                       <span>Foaie de usa:
                           {{cart.specification.foaie_de_usa.seria}}
                           {{specificationIsReverse(cart.specification)}}
                           {{cart.specification.foaie_de_usa.culoare}}
                           {{cart.specification.foaie_de_usa.window}} |
                           {{cart.specification.foaie_de_usa.inaltime}}cm x {{cart.specification.foaie_de_usa.latime}}cm |
                           Grosime canat: {{cart.specification.foaie_de_usa.grosime_canat}}mm
                           {{generateSpecificationDoor(cart.specification)}}
                       </span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.foaie_de_usa.total / cart.specification.foaie_de_usa.quantity}} = {{cart.specification.foaie_de_usa.total}}euro</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{calcEveryItemPricePartner(cart.specification.foaie_de_usa.total / cart.specification.foaie_de_usa.quantity, 1)}} = {{calcEveryItemTotalPartner(cart.specification.foaie_de_usa.total, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.traverse_verticale">
                       <span>Traverse verticale:
                           {{cart.specification.traverse_verticale.culoare}}
                           {{specificationIsReverse(cart.specification)}} |
                           {{cart.specification.traverse_verticale.inaltime}}cm |
                           Latime toc: {{cart.specification.traverse_verticale.latime_toc}}mm |
                           Grosime canat: {{cart.specification.traverse_verticale.grosime_canat}}mm |
                           Pervaz: {{cart.specification.traverse_verticale.pervaz}}mm
                       </span>
                        <span class="text-red">{{cart.specification.traverse_verticale.quantity}}set x {{cart.specification.traverse_verticale.total / cart.specification.traverse_verticale.quantity}} = {{cart.specification.traverse_verticale.total}} euro</span>
                        <span class="text-red">{{cart.specification.traverse_verticale.quantity}}set x {{calcEveryItemPricePartner(cart.specification.traverse_verticale.total / cart.specification.traverse_verticale.quantity, 1)}} = {{calcEveryItemTotalPartner(cart.specification.traverse_verticale.total, 1)}}euro</span>

                    </div>
                    <div class="specs" v-if="cart.specification.grinda">
                        <span>Grinda:
                       {{cart.specification.grinda.culoare}}
                            {{specificationIsReverse(cart.specification)}} |
                       {{cart.specification.grinda.latime}}cm |
                       Latime toc: {{cart.specification.grinda.latime_toc}}mm |
                       Grosime canat: {{cart.specification.grinda.grosime_canat}}mm |
                       Pervaz: {{cart.specification.grinda.pervaz}}mm

                   </span>
                        <span class="text-red">{{cart.specification.grinda.quantity}}set x {{cart.specification.grinda.price}} = {{cart.specification.grinda.total}} euro</span>
                        <span class="text-red">{{cart.specification.grinda.quantity}}set x {{calcEveryItemPricePartner(cart.specification.grinda.price, 1)}} = {{calcEveryItemTotalPartner(cart.specification.grinda.total, 1)}}euro</span>

                    </div>
                    <div class="specs" v-if="cart.specification.balamale">
                        <span>Balama: {{cart.specification.balamale.tip_balama}}</span>
                        <span class="text-red">{{cart.specification.balamale.quantity}}set x {{cart.specification.balamale.price}} = {{cart.specification.balamale.total}} euro</span>
                        <span class="text-red">{{cart.specification.balamale.quantity}}set x {{calcEveryItemPricePartner(cart.specification.balamale.price, 1)}} = {{calcEveryItemTotalPartner(cart.specification.balamale.total, 1)}}euro</span>

                    </div>
                    <div class="specs" v-if="cart.specification.broasca">
                        <span>Broasca: {{cart.specification.broasca.broasca}}</span>
                        <span class="text-red">{{cart.specification.broasca.quantity}}set x {{cart.specification.broasca.price}} = {{cart.specification.broasca.total}} euro</span>
                        <span class="text-red">{{cart.specification.broasca.quantity}}set x {{calcEveryItemPricePartner(cart.specification.broasca.price, 1)}} = {{calcEveryItemTotalPartner(cart.specification.broasca.total, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.extensii_verticale">
                        <span>Extensii verticale: {{cart.specification.extensii_verticale.latime}}mm x {{cart.specification.extensii_verticale.lungime}}mm | Culoare: {{cart.specification.extensii_verticale.culoare}}</span>
                        <span class="text-red">{{cart.specification.extensii_verticale.quantity}}buc x {{cart.specification.extensii_verticale.price}} = {{cart.specification.extensii_verticale.total}} euro</span>
                        <span class="text-red">{{cart.specification.extensii_verticale.quantity}}set x {{calcEveryItemPricePartner(cart.specification.extensii_verticale.price, 1)}} = {{calcEveryItemTotalPartner(cart.specification.extensii_verticale.total, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.extensii_orizontale">
                        <span>Extensii orizontale: {{cart.specification.extensii_orizontale.latime}}mm x {{cart.specification.extensii_orizontale.lungime}}mm | Culoare: {{cart.specification.extensii_orizontale.culoare}} {{specificationIsReverse(cart.specification)}}</span>
                        <span class="text-red">{{cart.specification.extensii_orizontale.quantity}}set x {{cart.specification.extensii_orizontale.price}} = {{cart.specification.extensii_orizontale.total}} euro</span>
                        <span class="text-red">{{cart.specification.extensii_orizontale.quantity}}set x {{calcEveryItemPricePartner(cart.specification.extensii_orizontale.price, 1)}} = {{calcEveryItemTotalPartner(cart.specification.extensii_orizontale.total, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.minere">
                        <span>Miner:{{cart.specification.minere.name}}</span>
                        <span class="text-red">{{cart.specification.minere.quantity}}buc x {{cart.specification.minere.price}} = {{cart.specification.minere.total}} euro</span>
                        <span class="text-red">{{cart.specification.minere.quantity}}set x {{calcEveryItemPricePartner(cart.specification.minere.price, 6)}} = {{calcEveryItemTotalPartner(cart.specification.minere.total, 6)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.plinta">
                        <span>Plinta:{{cart.specification.plinta.name}}</span>
                        <span class="text-red">{{cart.specification.plinta.quantity}}set x {{cart.specification.plinta.price}} = {{cart.specification.plinta.total}} euro</span>
                        <span class="text-red">{{cart.specification.plinta.quantity}}set x {{calcEveryItemPricePartner(cart.specification.plinta.price, 1)}} = {{calcEveryItemTotalPartner(cart.specification.plinta.total, 1)}}euro</span>
                    </div>

<!--                    //new-->
                    <div class="specs" v-if="cart.specification.automatic_threshold">
                        <span>Prag automat:</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.automatic_threshold / cart.specification.foaie_de_usa.quantity}} = {{cart.specification.automatic_threshold}} euro</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{calcEveryItemTotalPartner(cart.specification.automatic_threshold, 1) / cart.specification.foaie_de_usa.quantity}} = {{calcEveryItemTotalPartner(cart.specification.automatic_threshold, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.door_reinforcement">
                        <span>Ranforsare usa:</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.door_reinforcement / cart.specification.foaie_de_usa.quantity}} = {{cart.specification.door_reinforcement}} euro</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{calcEveryItemTotalPartner(cart.specification.door_reinforcement, 1) / cart.specification.foaie_de_usa.quantity}} = {{calcEveryItemTotalPartner(cart.specification.door_reinforcement, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.self_closing">
                        <span>Auto inchidere:</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.self_closing / cart.specification.foaie_de_usa.quantity}} = {{cart.specification.self_closing}} euro</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{calcEveryItemTotalPartner(cart.specification.self_closing, 1) / cart.specification.foaie_de_usa.quantity}} = {{calcEveryItemTotalPartner(cart.specification.self_closing, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.ventilation_grille">
                        <span>Grila ventilare:</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.ventilation_grille / cart.specification.foaie_de_usa.quantity}} = {{cart.specification.ventilation_grille}} euro</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{calcEveryItemTotalPartner(cart.specification.ventilation_grille, 1) / cart.specification.foaie_de_usa.quantity}} = {{calcEveryItemTotalPartner(cart.specification.ventilation_grille, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.invisible_heel">
                        <span>Toc invisibil {{specificationIsReverse(cart.specification)}}:</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.invisible_heel / cart.specification.foaie_de_usa.quantity}} = {{cart.specification.invisible_heel}} euro</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{calcEveryItemTotalPartner(cart.specification.invisible_heel, 1) / cart.specification.foaie_de_usa.quantity}} = {{calcEveryItemTotalPartner(cart.specification.invisible_heel, 1)}}euro</span>
                    </div>
                    <div class="specs" v-if="cart.specification.reverse_door">
                        <span>Usa reversa:</span>
                        <span class="text-red">{{cart.specification.reverse_door ? 'Da' : 'Nu'}}</span>
                        <span class="text-red">{{cart.specification.reverse_door ? 'Da' : 'Nu'}}</span>
                    </div>
                    <div class="specs" v-if="cart.specification.door_edition">
                        <span>Editie usa: {{cart.specification.door_edition.name}}</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.door_edition.price / cart.specification.foaie_de_usa.quantity}} = {{cart.specification.door_edition.price}} euro</span>
                        <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{calcEveryItemTotalPartner(cart.specification.door_edition.price, 1) / cart.specification.foaie_de_usa.quantity}} = {{calcEveryItemTotalPartner(cart.specification.door_edition.price, 1)}}euro</span>
                    </div>

<!--                    //total-->
                    <div class="specs">
                        <span></span>
                        <span class="text-red">Total lista: {{cart.total}}euro</span>
                        <span class="text-red">Total partener: {{calcEveryItemTotalPartner(cart.total, cart.product_type_id)}}euro</span>
                    </div>
                </div>
            </div>


            <div class="container">
                <v-alert
                    v-if="carts.length == 0"
                    border="bottom"
                    color="pink darken-1"
                    dark
                >
                    Momentan nu aveti nimic adugat in cos!
                </v-alert>
            </div>
            <div class="action-btn" v-if="carts.length > 0">
                <div class="discount">
                    <span>Suma pret lista: <span>{{cartsum}} euro(fara TVA)</span></span>
                    <span>Reducere partener (foaie de usa): {{user_data.discount}}%</span>
                    <span>Reducere partener (manere): {{user_data.discount_minere}}%</span>
                    <span>Suma spre achitare partener: <span>{{subWithoutTva()}} euro(fara TVA)</span></span>
                    <span>Suma spre achitare partener: <span>{{calcSumWithTva()}} euro(cu TVA)</span></span>
                </div>
                <div class="act-btn">
                    <v-text-field
                        :error-messages="errors['pentru_cine'] ? errors['pentru_cine'][0] : ''"
                        class="accent-margine"
                        v-model="form.pentru_cine"
                        label="Pentru cine"
                        outlined
                        dense
                    ></v-text-field>
                   <div class="d-block">
                       <v-btn class="mb-4" color="secondary" @click="finishOrder">Trimite Comanda {{calcSumWithTva()}}euro (pret lista
                           cu TVA)
                       </v-btn>
                       <v-btn color="primary" @click="showOfferPdfCart()">Vezi oferta PDF cos</v-btn>
                   </div>
                </div>
            </div>
        </div>
        <v-dialog v-model="dialog" width="800">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Sigur doriti sa adugati acest element in favorite?
                </v-card-title>

                <v-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-text-field
                        v-model="form.client_name"
                        label="Nume client"
                        required
                    ></v-text-field>
                    <v-btn
                        color="primary"
                        text
                        @click="dialog = false"
                    >
                        I accept
                    </v-btn>

                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    name: "Cart",
    props: ['user_data'],
    data() {
        return {
            carts: [],
            cartsum: 0,
            sum_by_name: [],
            pentru_cine: '',
            total_without_tva_back: 0,
            form: {
                invoice_id: 0,
                pentru_cine: '',
                total: 0,
                total_with_discount: 0,
                total_with_discount_tva: 0,
            },

            errors: [],
            show_error: false,
            token: '',
            dialog: false,
        }
    },

    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
        this.getCart();

    },

    methods: {
        generateSpecificationDoor(item) {
            let res = ''
            if (item.automatic_threshold){
                res = res + '| Prag automat '
            }

            if (item.door_reinforcement ){
                res = res + '| Ranforsare usa '
            }

            if (item.self_closing) {
                res = res + '| Auto inchidere '
            }

            if (item.ventilation_grille) {
                res = res + '| Grila ventilata '
            }

            return res;
        },

        specificationIsReverse(item) {
            let res = ''
            if (item.reverse_door) {
                res = res + '| REVERSE '
            }

            return res;
        },

        addTofavorite(cart) {
            this.dialog = true;
        },

        showOfferPdfCart(){
            window.open('/cabinet/client/offer-for-client/'+ this.form.invoice_id);
        },

        openOffer(cart, total, product_type_id) {
            window.open('/cabinet/client/get-offer/' + cart.specification.foaie_de_usa.product_id + '/' + cart.specification.foaie_de_usa.seria_id + '/' + cart.specification.foaie_de_usa.culoare_id + '/' + cart.specification.foaie_de_usa.window_id + '/' + cart.total + '/' + cart.id, '_blank');
        },

        calcEveryItemTotalPartner(sum, type) {
            let total = 0;
            if (type == 1 || type == 7) {
                total = sum - ((sum * this.user_data.discount) / 100);
            } else if (type == 6) {
                total = sum - ((sum * this.user_data.discount_minere) / 100);
            } else {
                total = sum;
            }
            total = Math.round(total * 100) / 100;
            return total;
        },

        calcEveryItemPricePartner(sum, type) {
            let total = 0;
            if (type == 1 || type == 7) {
                total = sum - ((sum * this.user_data.discount) / 100);
            } else if (type == 6) {
                total = sum - ((sum * this.user_data.discount_minere) / 100);
            } else {
                total = sum;
            }
            total = Math.round(total * 100) / 100;
            return total;
        },

        subWithoutTva() {
            let total = 0;
            total = this.total_without_tva_back;
            total = Math.round(total * 100) / 100;

            return total;
        },


        calcSumWithTva() {
            let total = 0;
            total = this.total_without_tva_back;
            total = total * 1.19;
            total = Math.round(total * 100) / 100;
            return total;
        },
        // scoatere cos de cumparaturi
        getCart() {

            axios.get('/axios/get-cart').then(response => {

                if (response.data.status == 'success') {
                    this.carts = response.data.cart;
                    this.cartsum = Math.round(response.data.total * 100) / 100;
                    this.form.invoice_id = response.data.cart_id;
                    this.sum_by_name = response.data.sum_by_name;
                    this.pentru_cine = response.data.cart_for;
                    this.total_without_tva_back = response.data.total_without_TVA;

                    this.form.total = this.cartsum;
                    this.form.total_with_discount = response.data.total_without_TVA;
                    this.form.total_with_discount_tva = this.calcSumWithTva();
                }

                if (response.data.status == 'nocart') {
                    this.form.invoice_id = '';
                    this.carts = [];
                    this.cartsum = [];
                    this.sum_by_name = [];
                }

            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                    // this.selectErrors();
                }

            });

        },

        // finalizare comanda?
        finishOrder() {
            axios.post('/axios/finish-order', this.form).then(response => {
                if (response.data.status == 'success') {
                    this.getCart();
                    this.successOrder = true;
                }

            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        // stergere element din cos
        deleteItemCart(id) {
            axios.get('/axios/delete-item-cart/' + id).then(response => {
                this.getCart();
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                    this.selectErrors();
                }
            });
        },
    }
}
</script>

<style lang="scss" scoped>
.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.cart-items {
    margin-bottom: 150px;

    .item {
        box-shadow: 0px 1px 4px 1px #cac9c9;
        margin: 16px;
        padding: 16px;

        .item-name {
            /*border-bottom: 2px solid;*/
            padding-bottom: 10px;
            padding-top: 5px;
        }

        .spcs-header {
            span {
                text-align: center;
                font-weight: 700;
                font-size: 16px;
            }
        }

        .specs {
            display: grid;
            grid-template-columns: 1.8fr 0.6fr 0.6fr;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-template-areas: ". . .";

            button {
                max-width: 100px;
            }

            span {
                display: flex;
                justify-content: space-between;
            }

            .text-red {
                font-size: 16px;
                font-weight: 700;
                color: #bf6a6a;
            }

            &:hover {
                background-color: #f1f1f1;
            }

            &:nth-child(odd) {
                background-color: #f1f1f1;

                &:hover {
                    background-color: #fff;
                }
            }
        }

        .total {
            display: flex;
            justify-content: space-between;
            background-color: #dcdbd9;

            .text-red {
                font-size: 16px;
                font-weight: 700;
                color: #e03131;
            }
        }

        .item-total {
            display: flex;
            justify-content: center;
            background-color: #000;

            span {
                font-size: 25px;
                color: white;
            }
        }
    }

    .action-btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". .";
        grid-column-gap: 50px;
        margin: 0 15px;

        .discount {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "." ".";
            padding: 20px;
            color: white;
            background-color: #424242;
            font-size: 18px;
        }

        .action-btn {

        }
    }
}


</style>
