<template>
    <div>
        <div class="items">
            <div class="item" @click="openModalProduct(1)">
                <div class="img">
                    <img src="/images/feronerie/grinda.png" alt="">
                </div>
                <div class="title">
                    <span>Grinda</span>
                </div>
            </div>
            <div class="item" @click="openModalProduct(2)">
                <div class="img">
                    <img src="/images/feronerie/grinda.png" alt="">
                </div>
                <div class="title">
                    <span>Traverse verticale</span>
                </div>
            </div>
            <div class="item" @click="openModalProductExtensii(3)">
                <div class="img">
                    <img src="/images/feronerie/extensii.jpg" alt="">
                </div>
                <div class="title">
                    <span>Extensii verticale</span>
                </div>
            </div>
            <div class="item" @click="openModalProductExtensii(4)">
                <div class="img">
                    <img src="/images/feronerie/extensii.jpg" alt="">
                </div>
                <div class="title">
                    <span>Extensii orizontale</span>
                </div>
            </div>
        </div>
        <v-dialog v-model="openProduct" max-width="400">
            <v-card>
                <v-card-title class="headline"></v-card-title>
                <v-card-text>
                    <div class="product-details">
                        <div v-if="form.traverse_off != false">
                            <h3>Traverse verticale</h3>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.traverse_verticale.quantity"
                                :error-messages="errors.quantity"
                                label="Cantitate traverse verticale (set)"
                                type="number"
                                min="0"
                                @change="changeTraverse"
                                outlined
                                dense
                            ></v-text-field>
                            <v-select
                                @change="changeTraverse"
                                v-model="form.traverse_verticale.culoare"
                                :items="colors"
                                item-text="name"
                                label="Culoare"
                                outlined
                                dense
                            ></v-select>
                            <v-select
                                @change="changeTraverse"
                                v-model="form.traverse_verticale.inaltime"
                                :items="foaie_de_usa[1].Inaltime"
                                item-text="size"
                                item-value="size"
                                label="Inaltime"
                                outlined
                                dense
                            ></v-select>
                            <v-select
                                @change="changeTraverse"
                                v-model="form.traverse_verticale.grosime_canat"
                                :items="grosime_canat"
                                label="Grosime canat"
                                outlined
                                dense
                            ></v-select>
                            <v-select
                                @change="changeTraverse"
                                v-model="form.traverse_verticale.pervaz"
                                :items="pervaz"
                                label="Pervaz"
                                outlined
                                dense
                            ></v-select>
                            <v-select
                                @change="changeTraverse"
                                v-model="form.traverse_verticale.latime_toc"
                                :items="latime_toc"
                                label="Latime toc"
                                outlined
                                dense
                            ></v-select>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.traverse_verticale.price"
                                :error-messages="errors.quantity"
                                label="Pret"
                                type="number"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.traverse_verticale.total"
                                :error-messages="errors.quantity"
                                label="Pret total"
                                type="number"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <div class="fixed-btn">
                                    <v-btn color="green darken-1" text @click="AddToCart(2)">Adauga in cos</v-btn>
                                </div>

                            </v-card-actions>
                        </div>
                        <div v-if="form.grinda_off != false">
                            <h3>Grinda</h3>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.grinda.quantity"
                                :error-messages="errors.quantity"
                                label="Cantitate grinda buc."
                                type="number"
                                min="0"
                                @change="changeGrinda"
                                outlined
                                dense
                            ></v-text-field>
                            <v-select
                                v-model="form.grinda.culoare"
                                :items="colors"
                                item-text="name"
                                label="Culoare"
                                outlined
                                dense
                                @change="changeGrinda"
                            ></v-select>
                            <v-select

                                v-model="form.grinda.latime"
                                :items="foaie_de_usa[0].Latime"
                                item-text="size"
                                item-value="size"
                                label="Latime"
                                outlined
                                dense
                                @change="changeGrinda"
                            ></v-select>
                            <v-select
                                @change="changeGrinda"
                                v-model="form.grinda.grosime_canat"
                                :items="grosime_canat"
                                label="Grosime canat"
                                outlined
                                dense
                            ></v-select>
                            <v-select
                                @change="changeGrinda"
                                v-model="form.grinda.pervaz"
                                :items="pervaz"
                                label="Pervaz"
                                outlined
                                dense
                            ></v-select>
                            <v-select
                                @change="changeGrinda"
                                v-model="form.grinda.latime_toc"
                                :items="latime_toc"
                                label="Latime toc"
                                outlined
                                dense
                            ></v-select>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.grinda.price"
                                :error-messages="errors.quantity"
                                label="Pret"
                                type="number"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.grinda.total"
                                :error-messages="errors.quantity"
                                label="Pret total"
                                type="number"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <div class="fixed-btn">
                                    <v-btn color="green darken-1" text @click="AddToCart(1)">Adauga in cos</v-btn>
                                </div>

                            </v-card-actions>
                        </div>

                        <div v-if="form.extensii_orizontale_off != false">
                            <h3>Extensii orizontale</h3>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.extensii_orizontale.quantity"
                                :error-messages="errors.quantity"
                                label="Cantitate extensii orizontale (set)."
                                type="number"
                                min="0"
                                outlined
                                dense
                            ></v-text-field>
                            <v-select
                                v-model="data_ext_orz.extensii_oriz_select_seria"
                                :items="seria"
                                item-value="id"
                                item-text="name"
                                @change="getExtensiiOrizontale(data_ext_orz.extensii_oriz_select)"
                                label="Alege seria"
                                outlined
                                dense>
                            </v-select>
                            <v-select
                                v-model="data_ext_orz.extensii_oriz_select"
                                :items="extensii_type"
                                item-value="latime"
                                label="Extensii orizontale tip"
                                @change="getExtensiiOrizontale(data_ext_orz.extensii_oriz_select)"
                                outlined
                                dense>
                            </v-select>
                            <v-select
                                v-model="form.extensii_orizontale.latime"
                                :items="extensiiorizontale"
                                item-value="latime"
                                item-text="latime"
                                label="Extensii orizontale"

                                outlined
                                dense>
                                <template v-slot:selection="{ item, index }" @change="setPriceForExtOrz(item.pret)">
                                    <span>Latime: {{ item.latime }} </span>
                                    <span>Pret: {{ item.pret }} </span>
                                </template>
                                <template v-slot:item="{ item, index }">
                                    <span>Latime: {{ item.latime }} </span>
                                    <span>Pret: {{ item.pret }} </span>

                                </template>
                            </v-select>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.extensii_orizontale.price"
                                :error-messages="errors.quantity"
                                label="Pret"
                                type="number"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.extensii_orizontale.total"
                                :error-messages="errors.quantity"
                                label="Pret total"
                                type="number"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                        </div>
                    </div>
                    <div v-if="form.extensii_verticale_off != false">
                        <h3>Extensii verticale</h3>
                        <v-text-field
                            class="accent-margine"
                            v-model="form.extensii_verticale.quantity"
                            :error-messages="errors.quantity"
                            label="Cantitate extensii verticale (set)"
                            type="number"
                            min="0"
                            outlined
                            dense
                        ></v-text-field>
                        <v-select
                            v-model="form.extensii_verticale.latime"
                            :items="extensiiverticale"
                            item-value="latime"
                            label="Extensii verticale"
                            outlined
                            dense
                        >
                            <template v-slot:selection="{ item, index }">
                                <span>Latime: {{ item.latime }} </span>
                            </template>
                            <template v-slot:item="{ item, index }">
                                <span>Latime: {{ item.latime }} </span>

                            </template>
                        </v-select>
                        <v-text-field
                            class="accent-margine"
                            v-model="form.extensii_verticale.price"
                            :error-messages="errors.quantity"
                            label="Pret"
                            type="number"
                            disabled
                            outlined
                            dense
                        ></v-text-field>
                        <v-text-field
                            class="accent-margine"
                            v-model="form.extensii_verticale.total"
                            :error-messages="errors.quantity"
                            label="Pret total"
                            type="number"
                            disabled
                            outlined
                            dense
                        ></v-text-field>
                    </div>
                </v-card-text>

            </v-card>
        </v-dialog>
        <!--        ### MODAL EXTENSII ###-->
        <v-dialog v-model="openProductExtensii" max-width="800">
            <v-card>
                <v-card-title class="headline"></v-card-title>
                <v-card-text>
                    <div class="product-details">
                        <div v-if="form.extensii_orizontale_off != false">
                            <h3>Extensii orizontale</h3>
                            <div class="filters d-flex">
                                <v-col>
                                    <v-select
                                        v-model="data_ext_orz.extensii_oriz_select_seria"
                                        :items="seria"
                                        item-value="id"
                                        item-text="name"
                                        @change="getExtensiiOrizontale(data_ext_orz.extensii_oriz_select)"
                                        label="Alege seria"
                                        outlined
                                        dense>
                                    </v-select>
                                </v-col>
                                <v-col>
                                    <v-select
                                        v-model="form.extensii_orizontale.culoare"
                                        :items="color"
                                        item-text="name"
                                        label="Culoare"
                                        outlined
                                        dense
                                    ></v-select>
                                </v-col>
                                <v-col>
                                    <v-select
                                        v-model="data_ext_orz.extensii_oriz_select"
                                        :items="extensii_type"
                                        item-value="latime"
                                        label="Extensii orizontale tip"
                                        @change="getExtensiiOrizontale(data_ext_orz.extensii_oriz_select)"
                                        outlined
                                        dense>
                                    </v-select>
                                </v-col>
                                <v-col>
                                    <v-text-field
                                        class="accent-margine"
                                        v-model="form.extensii_orizontale.quantity"
                                        :error-messages="errors.quantity"
                                        label="Cantitate extensii orizontale (set)."
                                        type="number"
                                        min="0"
                                        outlined
                                        dense
                                    ></v-text-field>
                                </v-col>
                            </div>
                            <div class="items-ext">
                                <div class="item" v-for="(ext_ori, index) in extensiiorizontale">
                                    <span class="name">{{index+1}}</span>
                                    <span class="name">Latime:{{ext_ori.latime}}mm</span>
                                    <span class="price">Pret:{{ext_ori.pret}}</span>
                                    <span
                                        class="total">Total:{{ext_ori.pret * form.extensii_orizontale.quantity}}</span>
                                    <div class="act-btn">
                                        <v-btn small color="primary"
                                               :disabled="form.extensii_orizontale.culoare == '' ? true : false"
                                               @click="AddToCart(3, ext_ori.latime, ext_ori.pret, form.extensii_orizontale.quantity)">
                                            Adauga in cos
                                            <v-icon>mdi-arrow-right</v-icon>
                                        </v-btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="form.extensii_verticale_off != false">
                            <h3>Extensii verticale</h3>
                            <div class="filters d-flex">
                                <v-col>
                                    <v-select
                                        v-model="data_ext_vert.extensii_vert_select_seria"
                                        :items="seria"
                                        item-value="id"
                                        item-text="name"
                                        @change="getExtensiiVerticale(data_ext_vert.extensii_vert_select)"
                                        label="Alege seria"
                                        outlined
                                        dense>
                                    </v-select>
                                </v-col>
                                <v-col>
<!--                                    <v-select-->
<!--                                        v-model="data_ext_vert.extensii_vert_select"-->
<!--                                        :items="extensii_type"-->
<!--                                        item-value="latime"-->
<!--                                        label="Extensii orizontale tip"-->
<!--                                        @change="getExtensiiVerticale(data_ext_vert.extensii_vert_select)"-->
<!--                                        outlined-->
<!--                                        dense>-->
<!--                                    </v-select>-->
                                    <v-select
                                        v-model="form.extensii_verticale.culoare"
                                        :items="color"
                                        item-text="name"
                                        label="Culoare"
                                        outlined
                                        dense
                                    ></v-select>
                                </v-col>
                                <v-col>
                                    <v-text-field
                                        class="accent-margine"
                                        v-model="form.extensii_verticale.quantity"
                                        :error-messages="errors.quantity"
                                        label="Cantitate extensii orizontale (set)."
                                        type="number"
                                        min="0"
                                        outlined
                                        dense
                                    ></v-text-field>
                                </v-col>
                            </div>
                            <div class="items-ext">
                                <div class="item" v-for="(ext_ori, index) in extensiiverticale">
                                    <span class="name">{{index+1}}</span>
                                    <span class="name">Latime:{{ext_ori.latime}}mm</span>
                                    <span class="price">Pret:{{ext_ori.pret}}</span>
                                    <span
                                        class="total">Total:{{ext_ori.pret * form.extensii_verticale.quantity}}</span>
                                    <div class="act-btn">
                                        <v-btn small color="primary"
                                               :disabled="form.extensii_verticale.culoare == '' ? true : false"
                                               @click="AddToCart(4, ext_ori.latime, ext_ori.pret, form.extensii_verticale.quantity)">
                                            Adauga in cos
                                            <v-icon>mdi-arrow-right</v-icon>
                                        </v-btn>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar
            v-model="snackbar"
            :color="notify.color"
            :right="notify.right"
            :timeout="notify.timeout"
            :top="notify.top"
        >
            {{ notify.text }}
            <v-btn
                dark
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
        <!--        ### END MODAL EXTENSII ###-->
    </div>
</template>

<script>
    export default {
        name: "ElementeToc",

        props: ['colors', 'seria', 'extension_settings'],
        data() {
            return {
                color: [],
                // ### Extensii ###

                extensiiorizontale: [],

                extensiiverticale: [],
                data_ext_orz: {
                    extensii_oriz_select: 'single',
                    extensii_oriz_select_seria: '',
                },

                data_ext_vert: {
                    extensii_vert_select: 'single',
                    extensii_vert_select_seria: '',
                },
                // ### End Extensii ###


                openProduct: false,
                openProductExtensii: false,
                extensii_type: ['single', 'double'],
                form: {
                    // ####state variables####
                    invoice_id: '',
                    total: 0,


                    traverse_off: false,
                    grinda_off: false,
                    extensii_orizontale_off: false,
                    extensii_verticale_off: false,


                    traverse_verticale: {
                        product_id: 4,
                        quantity: 1,
                        culoare: '',
                        inaltime: 2000,
                        grosime_canat: 36,
                        pervaz: 60,
                        latime_toc: 95,
                        price: 0,
                        total: 0,
                    },

                    grinda: {
                        product_id: 5,
                        quantity: 1,
                        culoare: '',
                        latime: 800,
                        grosime_canat: 36,
                        pervaz: 60,
                        latime_toc: 95,
                        price: 0,
                        total: 0,
                    },

                    extensii_orizontale: {
                        product_id: 6,
                        quantity: 1,
                        culoare: '',
                        latime: '',
                        price: 0,
                        total: 0,
                    },
                    extensii_verticale: {
                        product_id: 7,
                        quantity: 1,
                        culoare: '',
                        latime: '',
                        price: 0,
                        total: 0,
                    },

                },
                notify: {
                    color: 'success',
                    right: 'right',
                    timeout: 4000,
                    top: 'top',
                    text: 'Cosul este gol'
                },
                snackbar: false,

                carts: [],
                cartsum: [],

                successOrder: false,


                traverseOff: true,
                grindaOff: true,

                sheet: false,
                doorMenu: false,
                doorCart: false,
                serieGrosimeCanat: '',
                doors: [],
                product: [],
                productColor: [],
                productWindow: [],
                window: '',
                img_color: '',
                e1: 1,
                steps: 4,
                vertical: false,
                altLabels: false,
                muchii: ['Abs', 'Aluminiu'],

                foaie_de_usa: [
                    {
                        Latime: [
                            {
                                size: 400,
                                procent_more: 0,
                            },
                            {
                                size: 450,
                                procent_more: 0,
                            },
                            {
                                size: 500,
                                procent_more: 0,
                            },
                            {
                                size: 550,
                                procent_more: 0,
                            },
                            {
                                size: 600,
                                procent_more: 0,
                            },
                            {
                                size: 650,
                                procent_more: 0,
                            },
                            {
                                size: 700,
                                procent_more: 0,
                            },
                            {
                                size: 750,
                                procent_more: 0,
                            },
                            {
                                size: 800,
                                procent_more: 0,
                            },
                            {
                                size: 850,
                                procent_more: 0,
                            },
                            {
                                size: 900,
                                procent_more: 20,
                            },
                            {
                                size: 950,
                                procent_more: 20,
                            },
                            {
                                size: 1000,
                                procent_more: 20,
                            }
                        ]
                    },
                    {
                        Inaltime: [
                            {
                                size: 1600,
                                procent: 0,
                            },
                            {
                                size: 1650,
                                procent: 0,
                            },
                            {
                                size: 1700,
                                procent: 0,
                            },
                            {
                                size: 1750,
                                procent: 0,
                            },
                            {
                                size: 1800,
                                procent: 0,
                            },
                            {
                                size: 1850,
                                procent: 0,
                            },
                            {
                                size: 1900,
                                procent: 0,
                            },
                            {
                                size: 1950,
                                procent: 0,
                            },
                            {
                                size: 2000,
                                procent: 0,
                            },
                            {
                                size: 2050,
                                procent: 5,
                            },
                            {
                                size: 2100,
                                procent: 5,
                            },
                            {
                                size: 2150,
                                procent: 10,
                            },
                            {
                                size: 2200,
                                procent: 10,
                            },
                            {
                                size: 2250,
                                procent: 50,
                            },
                            {
                                size: 2300,
                                procent: 50,
                            },
                            {
                                size: 2350,
                                procent: 100,
                            },
                            {
                                size: 2400,
                                procent: 100,
                            },
                        ]
                    }
                ],
                grosime_canat: [36, 44],

                tip_balama: ['Eclipse',],

                nr_de_balamale: [2, 3],

                broasca: [
                    {
                        id: 1,
                        name: 'Wc',
                    },
                    {
                        id: 2,
                        name: 'Cilindru',
                    }
                ],

                pervaz: [60, 80],

                latime_toc: [95, 135, 185, 250],


                errors: [],
                show_error: false,
                token: '',
                current: 0,
            }
        },

        methods: {
            // ### SAVE PRODUCT ###
            AddToCart(type, latime, pret, quantity) {
                let grinda = {grinda: this.form.grinda};
                let traverse_verticale = {traverse_verticale: this.form.traverse_verticale};
                let ext_orizontale = {
                    extensii_orizontale: {
                        latime: latime,
                        price: pret,
                        culoare: this.form.extensii_orizontale.culoare,
                        quantity: quantity,
                        total: pret * quantity,
                    }
                };
                let ext_vertiacale = {
                    extensii_verticale: {
                        latime: latime,
                        price: pret,
                        culoare: this.form.extensii_verticale.culoare,
                        quantity: quantity,
                        total: pret * quantity,

                    }
                };
                let product = [];

                if (type == 1) {
                    product = grinda;
                }

                if (type == 2) {
                    product = traverse_verticale;
                }

                if (type == 3) {
                    product = ext_orizontale
                }

                if (type == 4) {
                    product = ext_vertiacale
                }


                axios.post('/axios/add-to-cart-partial', product).then(response => {
                    if (response.data.status == 'success') {
                        this.snackbar = true;
                        this.notify.text = 'Produsul a fost adaugat cu succes';
                        this.openProductExtensii = false;
                        this.openProduct = false;
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },
            // ### END SAVE PRODUCT ###

            changeGrinda() {
                this.form.grinda.total = this.calc_grinda;
                this.form.grinda.price = this.calc_grinda / this.form.grinda.quantity;
            },

            changeTraverse() {
                this.form.traverse_verticale.price = this.calc_traverse_verticale / this.form.traverse_verticale.quantity;
                this.form.traverse_verticale.total = this.calc_traverse_verticale;
            },

            getExtensiiOrizontale(type) {
                axios.post('/axios/getExtensiiOrizontale', this.data_ext_orz).then(response => {
                    if (response.data.status == 'success') {
                        this.extensiiorizontale = response.data.extensii;
                        this.color = response.data.color;
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            },

            getExtensiiVerticale(type) {
                axios.post('/axios/getExtensiiVerticale', this.data_ext_vert).then(response => {
                    if (response.data.status == 'success') {
                        this.extensiiverticale = response.data.extensii;
                        this.color = response.data.color;
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            },

            openModalProduct(type) {
                this.openProduct = true;
                if (type == 1) {
                    this.form.grinda.total = this.calc_grinda;
                    this.form.grinda.price = this.calc_grinda / this.form.grinda.quantity;
                    this.form.traverse_off = false;
                    this.form.grinda_off = true;
                    this.form.extensii_orizontale_off = false;
                    this.form.extensii_verticale_off = false;
                }

                if (type == 2) {
                    this.form.traverse_verticale.price = this.calc_traverse_verticale / this.form.traverse_verticale.quantity;
                    this.form.traverse_verticale.total = this.calc_traverse_verticale;
                    this.form.traverse_off = true;
                    this.form.grinda_off = false;
                    this.form.extensii_orizontale_off = false;
                    this.form.extensii_verticale_off = false;
                }

            },

            openModalProductExtensii(type) {
                this.openProductExtensii = true;

                if (type == 3) {
                    this.form.traverse_off = false;
                    this.form.grinda_off = false;
                    this.form.extensii_orizontale_off = false;
                    this.form.extensii_verticale_off = true;
                }

                if (type == 4) {
                    this.form.traverse_off = false;
                    this.form.grinda_off = false;
                    this.form.extensii_orizontale_off = true;
                    this.form.extensii_verticale_off = false;
                }

            },

            change_latime_toc() {
                this.form.grinda.latime_toc = this.form.traverse_verticale.latime_toc;

            },

            change_pervaz() {
                this.form.grinda.pervaz = this.form.traverse_verticale.pervaz;
            },

            change_inaltime() {
                this.form.traverse_verticale.inaltime = this.form.foaie_de_usa.inaltime;
            },

            change_latime() {
                this.form.grinda.latime = this.form.foaie_de_usa.latime;
            },
        },

        computed: {

            calc_traverse_verticale() {
                let total = 0;

                if (this.form.traverse_verticale.pervaz == 60 && this.form.traverse_verticale.latime_toc == 95) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.traverse_verticale.quantity * 88;
                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 115;
                    // }
                }

                if (this.form.traverse_verticale.pervaz == 60 && this.form.traverse_verticale.latime_toc == 135) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.traverse_verticale.quantity * 99;
                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 127;
                    // }
                }

                if (this.form.traverse_verticale.pervaz == 60 && this.form.traverse_verticale.latime_toc == 185) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.traverse_verticale.quantity * 106;
                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 137;
                    // }
                }

                if (this.form.traverse_verticale.pervaz == 60 && this.form.traverse_verticale.latime_toc == 250) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {

                    total = this.form.traverse_verticale.quantity * 125;
                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 159;
                    // }
                }

                if (this.form.traverse_verticale.pervaz == 80 && this.form.traverse_verticale.latime_toc == 95) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.traverse_verticale.quantity * 92;
                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 120;
                    // }
                }

                if (this.form.traverse_verticale.pervaz == 80 && this.form.traverse_verticale.latime_toc == 135) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.traverse_verticale.quantity * 103;

                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 132;
                    // }
                }

                if (this.form.traverse_verticale.pervaz == 80 && this.form.traverse_verticale.latime_toc == 185) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.colectia_id == 7 || this.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {

                    total = this.form.traverse_verticale.quantity * 111;
                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 143;
                    // }
                }

                if (this.form.traverse_verticale.pervaz == 80 && this.form.traverse_verticale.latime_toc == 250) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.colectia_id == 7 || this.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {

                    total = this.form.traverse_verticale.quantity * 129;
                    // } else {
                    //     total = this.form.traverse_verticale.quantity * 163;
                    // }
                }
                return total;
            },

            calc_grinda() {

                let total = 0;

                if (this.form.grinda.pervaz == 60 && this.form.grinda.latime_toc == 95) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.grinda.quantity * 17;
                    // } else {
                    //     total = this.form.grinda.quantity * 20;
                    // }
                }

                if (this.form.grinda.pervaz == 60 && this.form.grinda.latime_toc == 135) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.grinda.quantity * 24;
                    // } else {
                    //     total = this.form.grinda.quantity * 28;
                    // }
                }

                if (this.form.grinda.pervaz == 60 && this.form.grinda.latime_toc == 185) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.grinda.quantity * 26;
                    // } else {
                    //     total = this.form.grinda.quantity * 30;
                    // }
                }

                if (this.form.grinda.pervaz == 60 && this.form.grinda.latime_toc == 250) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {

                    total = this.form.grinda.quantity * 31;
                    // } else {
                    //     total = this.form.grinda.quantity * 36;
                    // }
                }

                if (this.form.grinda.pervaz == 80 && this.form.grinda.latime_toc == 95) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.grinda.quantity * 22;
                    // } else {
                    //     total = this.form.grinda.quantity * 26;
                    // }
                }

                if (this.form.grinda.pervaz == 80 && this.form.grinda.latime_toc == 135) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.grinda.quantity * 25;

                    // } else {
                    //     total = this.form.grinda.quantity * 29;
                    // }
                }

                if (this.form.grinda.pervaz == 80 && this.form.grinda.latime_toc == 185) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {

                    total = this.form.grinda.quantity * 27;
                    // } else {
                    //     total = this.form.grinda.quantity * 31;
                    // }
                }

                if (this.form.grinda.pervaz == 80 && this.form.grinda.latime_toc == 250) {
                    // if (this.form.foaie_de_usa.colectia_id == 6 || this.form.foaie_de_usa.colectia_id == 12 || this.form.foaie_de_usa.colectia_id == 1 || this.form.foaie_de_usa.colectia_id == 7 || this.form.foaie_de_usa.colectia_id == 3 || this.form.foaie_de_usa.colectia_id == 9 || this.form.foaie_de_usa.colectia_id == 5 || this.form.foaie_de_usa.colectia_id == 11) {
                    total = this.form.grinda.quantity * 32;
                    // } else {
                    //     total = this.form.grinda.quantity * 37;
                    // }
                }

                return total;

            },

            calc_extensii_verticale() {

                let total = 0;

                if (this.form.extensii_verticale.latime == 65) {
                    total = this.form.extensii_verticale.quantity * 16;
                }

                if (this.form.extensii_verticale.latime == 100) {
                    total = this.form.extensii_verticale.quantity * 31;
                }

                if (this.form.extensii_verticale.latime == 150) {
                    total = this.form.extensii_verticale.quantity * 47;
                }

                this.form.extensii_verticale.total = total;
                return total;
            },

            calc_extensii_orizontale() {
                let total = 0;

                if (this.form.extensii_orizontale.latime == 65) {
                    total = this.form.extensii_orizontale.quantity * 4;
                }

                if (this.form.extensii_orizontale.latime == 100) {
                    total = this.form.extensii_orizontale.quantity * 8;
                }

                if (this.form.extensii_orizontale.latime == 150) {
                    total = this.form.extensii_orizontale.quantity * 12;
                }
                this.form.extensii_orizontale.total = total;
                return total;
            },

            calc_total() {

                let total = 0;
                let balama = 0;
                let broasca = 0;
                let extensii_verticale = 0;
                let grinda = 0;
                let traverse = 0;
                let extensii_orizontale = 0;

                if (this.form.balamale_off == true) {
                    balama = this.calc_balama;
                }

                if (this.form.broasca_off == true) {
                    broasca = this.calc_broaste
                }

                if (this.form.extensii_orizontale_off == true) {
                    extensii_orizontale = this.calc_extensii_orizontale
                }

                if (this.form.grinda_off == true) {
                    grinda = this.calc_grinda;
                }

                if (this.form.traverse_off == true) {
                    traverse = this.calc_traverse_verticale;
                }

                if (this.form.extensii_verticale_off == true) {
                    extensii_verticale = this.calc_extensii_verticale
                }
                console.log(total);
                total = balama + broasca + extensii_verticale + grinda + traverse + extensii_orizontale;
                this.form.total = total;

                return total;
            }
        },
    }
</script>

<style lang="scss" scoped>
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        .item {
            box-shadow: 0px 1px 2px 0px #929292;
            margin: 15px;
            justify-content: center;
            text-align: center;
            justify-self: center;
            border-radius: 10px;

            .img {
                width: 150px;
                height: 150px;
                cursor: pointer;
                padding: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &:hover {
                        width: 92%;
                        height: 92%;
                    }
                }


            }

            .title {
                background-color: black;
                color: white;
                padding: 0 6px;
                border-radius: 0px 0px 10px 10px;

                span {
                    font-size: 14px;
                }
            }
        }
    }

    .options {
        margin: 16px;
        padding: 16px;
    }

    .tags {
        position: fixed;
        bottom: 30px;
        right: 0px;
    }

    .items-ext {
        .item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: ". . . . .";
            margin: 7px 0;
            padding: 4px 12px;
            height: 70px;
            text-align: center;
            box-shadow: 0px 1px 4px #000;

            .cantiate {
                padding: 10px;
            }

            .name {
                padding: 20px;
            }

            .price {
                padding: 20px;
            }

            .total {
                padding: 20px;
            }

            .act-btn {
                padding: 20px;
            }
        }
    }
</style>
