<template>
    <div>
        <div class="items">
            <div class="item" @click="showProductDetail(0)">
                <div class="img">
                    <img src="/images/feronerie/balamale-eclips.jpg" alt="">
                </div>
                <div class="title">
                    <span>Balamale</span>
                </div>
            </div>
            <div class="item" @click="showProductDetail(1)">
                <div class="img">
                    <img src="/images/feronerie/polaris-wc.jpg" alt="">
                </div>
                <div class="title">
                    <span>Broaste</span>
                </div>
            </div>
            <div class="item" @click="GetMinere">
                <div class="img">
                    <img src="/images/feronerie/miner.jpg" alt="">
                </div>
                <div class="title">
                    <span>Mânere</span>
                </div>
            </div>
        </div>
        <div class="options">
            <div class="minere" v-if="form.minere_off == true">
                <div class="items">
                    <div class="item" v-for="(product, index) in products" :key="index">
                        <div class="img">
                            <img :src="product.image" alt="">
                        </div>
                        <div class="char">
                            <span class="name">{{product.name}}</span>
                            <span class="price">{{product.price}} euro</span>
                        </div>
                        <div class="act-btn">
                            <v-btn depressed small color="primary" @click="openModalMinere(product)">Adauga in cos
                            </v-btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <v-dialog v-model="dialogMinere" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2" primary-title>
                    {{dialogMinereInfo.name}}
                </v-card-title>

                <v-card-text>
                    <div class="modal-miner-images">
                        <img :src="dialogMinereInfo.img" alt="">
                    </div>
                    <v-text-field
                        class="accent-margine"
                        v-model="form.minere.quantity"
                        label="Cantitate buc."
                        type="number"
                        outlined
                        dense
                    ></v-text-field>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="addToCartMiner(dialogMinereObj)">
                        Adauga la comanda
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="showProductsModal"
            max-width="290"
        >
            <v-card>
                <v-card-title></v-card-title>
                <v-card-text>
                    <div class="product-details">
                        <div v-if="form.balamale_off != false">
                            <h3>Balamale</h3>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.balamale.quantity"
                                :error-messages="errors.quantity"
                                label="Cantitate balamale buc."
                                @change="changeBalamaPrice"
                                type="number"
                                outlined
                                dense
                            ></v-text-field>
                            <v-select
                                v-model="form.balamale.tip_balama"
                                :items="tip_balama"
                                label="Tip balama"
                                outlined
                                dense
                            ></v-select>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.balamale.total"
                                :error-messages="errors.quantity"
                                label="Pret total"
                                type="number"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                            <v-btn
                                color="green darken-1"
                                @click="AddToCart(1)">
                                Adauga in cos
                            </v-btn>
                        </div>
                        <div v-if="form.broasca_off != false">
                            <h3>Broaste</h3>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.broasca.quantity"
                                :error-messages="errors.quantity"
                                label="Cantitate broasca buc."
                                @change="changeBroascaPrice"
                                type="number"
                                outlined
                                dense
                            ></v-text-field>
                            <v-select
                                v-model="form.broasca.broasca"
                                :items="broasca"
                                label="Broasca"
                                item-text="name"
                                item-value="name"
                                outlined
                                dense
                            ></v-select>
                            <v-text-field
                                class="accent-margine"
                                v-model="form.broasca.total"
                                :error-messages="errors.quantity"
                                label="Pret total"
                                disabled
                                outlined
                                dense
                            ></v-text-field>
                            <v-btn
                                color="green darken-1"
                                @click="AddToCart(2)">
                                Adauga in cos
                            </v-btn>
                        </div>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-snackbar
            v-model="snackbar"
            :color="notify.color"
            :right="notify.right"
            :timeout="notify.timeout"
            :top="notify.top"
        >
            {{ notify.text }}
            <v-btn
                dark
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        name: "Feronerie",
        props: ['colors'],
        data() {
            return {
                showProductsModal: false,
                // ### Minere ###
                products: [],
                imgSelected: '',
                dialogMinere: false,
                dialogMinereObj: [],
                dialogMinereInfo: {
                    img: '',
                    name: '',
                },
                // ### END Minere ###

                form: {
                    // ####state variables####
                    invoice_id: '',
                    total: 0,
                    balamale_off: false,
                    broasca_off: false,
                    minere_off: false,


                    balamale: {
                        product_id: 2,
                        quantity: 2,
                        tip_balama: 'Eclipse',
                        nr_de_balamale: 2,
                        price: 15,
                        total: 30,
                    },

                    broasca: {
                        product_id: 3,
                        quantity: 1,
                        broasca: 'Wc',
                        price: 12,
                        total: 12,
                    },

                    minere: {
                        product_id: 7,
                        product_system_id: 0,
                        name: '',
                        quantity: 1,
                        price: 0,
                        total: 0,
                    }


                },
                notify: {
                    color: 'success',
                    right: 'right',
                    timeout: 4000,
                    top: 'top',
                    text: 'Cosul este gol'
                },
                snackbar: false,

                carts: [],
                cartsum: [],

                successOrder: false,


                traverseOff: true,
                grindaOff: true,

                sheet: false,
                doorMenu: false,
                doorCart: false,
                serieGrosimeCanat: '',
                doors: [],
                product: [],
                productColor: [],
                productWindow: [],
                window: '',
                img_color: '',
                e1: 1,
                steps: 4,
                vertical: false,
                altLabels: false,
                muchii: ['Abs', 'Aluminiu'],

                extensii_verticale: [],
                extensii_orizontale: [],

                grosime_canat: [36, 44],

                tip_balama: ['Eclipse',],

                nr_de_balamale: [2, 3],

                broasca: [
                    {
                        id: 1,
                        name: 'Wc',
                    },
                    {
                        id: 2,
                        name: 'Cilindru',
                    }
                ],

                pervaz: [60, 80],

                latime_toc: [95, 135, 185, 250],


                errors: [],
                show_error: false,
                token: '',
                current: 0,
            }
        },
        methods: {
            openModalMinere(product) {
                this.dialogMinere = true;
                this.dialogMinereInfo = {
                    img: product.image,
                    name: product.name,
                };
                this.dialogMinereObj = product;
            },

            changeBroascaPrice() {
                this.form.broasca.total = this.form.broasca.quantity * this.form.broasca.price;
            },

            changeBalamaPrice() {
                this.form.balamale.total = this.form.balamale.quantity * this.form.balamale.price;
            },


            // ### SAVE PRODUCT ###
            AddToCart(type) {
                let minere = {minere: this.form.minere};
                let balamale = {balamale: this.form.balamale};
                let broasca = {broasca: this.form.broasca};
                let product = [];

                if (type == 1) {
                    product = balamale;
                }

                if (type == 2) {
                    product = broasca;
                }

                if (type == 3) {
                    product = minere
                }


                axios.post('/axios/add-to-cart-partial', product).then(response => {
                    if (response.data.status == 'success') {
                        this.snackbar = true;
                        this.notify.text = 'Produsul a fost adaugat cu succes';
                        this.dialogMinere = false;
                        this.form.minere.quantity = 1;
                        this.dialogMinereInfo = {
                            img: 'product.image',
                            name: 'product.name',
                        };
                        this.dialogMinereObj = [];
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },
            // ### END SAVE PRODUCT ###

            addToCartMiner(product) {
                this.form.minere.price = product.price;
                this.form.minere.product_system_id = product.id;
                this.form.minere.name = product.name;
                this.form.minere.total = this.form.minere.quantity * product.price;
                this.AddToCart(3);
            },

            showProductDetail(state) {
                this.showProductsModal = !this.showProductsModal;
                if (state == 0) {
                    this.form.balamale_off = true;
                    this.form.broasca_off = false;
                }

                if (state == 1) {
                    this.form.broasca_off = true;
                    this.form.balamale_off = false;
                }
            },

            GetMinere() {
                this.form.minere_off = !this.form.minere_off
                this.GetProducts();
            },

            GetProducts() {
                axios.get('/axios/get-minere').then(response => {
                    if (response.data.status == 'success') {
                        this.products = response.data.minere;
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            change_latime_toc() {
                this.form.grinda.latime_toc = this.form.traverse_verticale.latime_toc;

            },

            change_pervaz() {
                this.form.grinda.pervaz = this.form.traverse_verticale.pervaz;
            },

            change_inaltime() {
                this.form.traverse_verticale.inaltime = this.form.foaie_de_usa.inaltime;
            },

            change_latime() {
                this.form.grinda.latime = this.form.foaie_de_usa.latime;
            },
        },

        computed: {
            calc_miner() {
                let total = 0;

                total = this.form.minere.quantity * this.form.minere.price;

                this.form.minere.total = total;
                return total;
            },

            calc_balama() {
                let total = 0;
                total = this.form.balamale.price * this.form.balamale.quantity;

                this.form.balamale.total = total;
                return total;
            },

            calc_broaste() {

                let total = 0;
                total = this.form.broasca.quantity * this.form.broasca.price;
                this.form.broasca.total = total;
                return total;

            },

        },

    }
</script>

<style lang="scss" scoped>
    .modal-miner-images{
        width: 150px;
        height: 150px;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .minere {
        .items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: ". . . .";

            .item {
                margin: 20px;
                padding: 16px;
                box-shadow: 0px 2px 5px 0px #3f50b545;
                text-align: center;
                width: 200px;

                .img {
                    width: 150px;
                    height: 150px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .char {
                    display: grid;
                    margin: 10px 0;
                    min-height: 87px;

                    .price {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    .name {

                    }
                }

                .act-btn {

                }
            }
        }
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        .item {
            box-shadow: 0px 1px 2px 0px #929292;
            margin: 15px;
            justify-content: center;
            text-align: center;
            justify-self: center;
            border-radius: 10px;

            .img {
                width: 150px;
                height: 150px;
                cursor: pointer;
                padding: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &:hover {
                        width: 92%;
                        height: 92%;
                    }
                }


            }

            .title {
                background-color: black;
                color: white;
                padding: 0 6px;
                border-radius: 0px 0px 10px 10px;

                span {
                    font-size: 14px;
                }
            }
        }
    }

    .options {
        margin: 16px;
        padding: 16px;
    }

    .tags {
        position: fixed;
        bottom: 30px;
        right: 0px;
    }
</style>
