<template>
    <div>
        <div class="container">
            <div class="filters">
                <div class="row">
                    <div class="col">
                        <v-select
                            :items="stare"
                            label="Cauta factura dupa stare"
                            prepend-icon="info"
                            single-line
                        ></v-select>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="item" v-for="(invoice, index) in invoices" :key="index">
                <div class="pdf">
                    <v-btn class="ma-2" outlined small color="indigo" @click="showInvoice(invoice.id)">{{invoice.pentru_cine}}</v-btn>
                </div>
                <div class="nr">
                </div>
                <div class="nr">
                    <span>#{{invoice.id}}</span>
                    <span>{{$moment(invoice.created_at).format('L')}}</span>
                </div>
                <div class="price">
                    <span class="def">Valoare factura</span>
                    <span class="pric">{{invoice.total}} euro</span>
                </div>
                <div class="price">
                    <span class="def">Pret dealer(fara TVA)</span>
                    <span class="pric">{{invoice.total_with_discount}} euro</span>
                </div>
                <div class="price-tax">
                    <span class="def">Cu taxe (19%)</span>
                    <span class="pric">{{invoice.total_with_discount_tva}} euro</span>
                </div>
                <div class="action-btn">
                    <v-btn class="mx-2" dark small color="error" v-if="invoice.status == 1">
                        In procesare
                    </v-btn>
                    <v-btn class="mx-2" dark small color="deep-orange" v-if="invoice.status == 2">
                        Factura in procesare
                    </v-btn>
                    <v-btn class="mx-2" dark small color="primary" @click="showInvoice(invoice.id)">
                        Vezi detalii <v-icon dark>mdi-download</v-icon>
                    </v-btn>
                    <vue-countdown-timer
                        @start_callback="startCallBack('event started')"
                        @end_callback="endCallBack('event ended')"
                        :start-time="$moment(invoice.created_at).add(1, 'day')"
                        :end-time="$moment(invoice.created_at).unix"
                        :interval="1000"
                        :start-label="''"
                        :end-label="'Until end:'"
                        label-position="begin"
                        :end-text="'Event ended!'"
                        :day-txt="''"
                        :hour-txt="'ore'"
                        :minutes-txt="'minute'"
                        :seconds-txt="'pina la anulare'">
                    </vue-countdown-timer>
                </div>
            </div>
        </div>
        <v-alert
            v-if="invoices.length == 0"
            dense
            border="left"
            type="warning"
        >
            Momentan nu aveti nici o factura inregistrata
        </v-alert>
    </div>
</template>

<script>
    export default {
        name: "Invoices",
        data() {
            return {
                invoices: [],
                reverse: false,
                errors: [],
                show_error: false,
                token: '',

                stare: [],
                date: [],

            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
        },

        created() {
            this.getInvoice();
        },

        methods: {
            startCallBack: function (x) {
                console.log(x)
            },
            endCallBack: function (x) {
                console.log(x)
            },

            showInvoice(id) {
                window.open('/cabinet/client/pdf/' + id, '_blank');
            },

            getInvoice() {
                axios.get('/axios/get-invoices').then(response => {
                    this.invoices = response.data.invoices;
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            priceWithoutTvaDealer(data){
                let total = 0;
                total = Math.round(data.total_with_discount - (data.total_with_discount * 19) / 100);
                return total;
            },


        },

        computed: {

        }
    }
</script>

<style lang="scss" scoped>

    .container {
        .filters {
            display: flex;
            box-shadow: 0px 0px 2px #b9b6b6;
            padding: 0px 10px;
            border-radius: 3px;
        }

        .item {
            display: flex;
            justify-content: space-between;
            box-shadow: 0px 0px 2px #b9b6b6;
            padding: 20px 10px 1px 10px;
            border-radius: 3px;
            margin-bottom: 5px;
            position: relative;

            .pdf {
                position: absolute;
                top: -5px;
                left: -5px;
            }

            .nr {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .price {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .price-tax {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .action-btn {
                padding: 8px 0;
                text-align: center;
            }
        }
    }
</style>
