<template>
    <div>
        <div class="new-cart">
            <div class="items">
                <div class="item" v-for="(cart, i) in carts" :key="i">
                    <div class="head-spec">
                        <div class="title_prod">
                            <span>Nr. comanda:</span>
                        </div>
                        <div class="quantity">
                            <!--                            <span></span>-->
                        </div>
                        <div class="price">
                            <span>#{{cart.id}}</span>
                        </div>
                        <div class="subtotal">
                            <v-btn color="error" small @click="deleteItemCart(cart.id)">Sterge</v-btn>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.foaie_de_usa">
                        <div class="title_prod">
                            <div>
                                <span>Foaie de usa:</span>
                            </div>
                            <div>
                                <span>{{cart.specification.foaie_de_usa.seria}}</span>
                                <span>{{cart.specification.foaie_de_usa.culoare}}</span>
                                <span>{{cart.specification.foaie_de_usa.window}}</span>
                                <span>{{cart.specification.foaie_de_usa.inaltime}}cm x {{cart.specification.foaie_de_usa.latime}}cm</span>
                                <span>Grosime canat: {{cart.specification.foaie_de_usa.grosime_canat}}mm</span>
                            </div>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.foaie_de_usa.quantity}}buc.</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.foaie_de_usa.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.foaie_de_usa.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.traverse_verticale">
                        <div class="title_prod">
                            <div>
                                <span>Traverse verticale:</span>
                            </div>
                            <div>
                                <span>{{cart.specification.traverse_verticale.culoare}}</span>
                                <span>{{cart.specification.traverse_verticale.inaltime}}cm</span>
                                <span>Latime toc: {{cart.specification.traverse_verticale.latime_toc}}mm</span>
                                <span>Grosime canat: {{cart.specification.traverse_verticale.grosime_canat}}mm</span>
                                <span> Pervaz: {{cart.specification.traverse_verticale.pervaz}}mm</span>
                            </div>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.traverse_verticale.quantity}}set</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.traverse_verticale.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.traverse_verticale.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.grinda">
                        <div class="title_prod">
                            <div>
                                <span>Grinda:</span>
                            </div>
                            <div>
                                <span>{{cart.specification.grinda.culoare}}</span>
                                <span>{{cart.specification.grinda.latime}}cm</span>
                                <span>Latime toc: {{cart.specification.grinda.latime_toc}}mm</span>
                                <span>Grosime canat: {{cart.specification.grinda.grosime_canat}}mm</span>
                                <span>Pervaz: {{cart.specification.grinda.pervaz}}mm</span>
                            </div>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.grinda.quantity}}set</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.grinda.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.grinda.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.balamale">
                        <div class="title_prod">
                            <span>Balama:</span>
                            <span>{{cart.specification.balamale.tip_balama}}</span>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.balamale.quantity}}buc.</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.balamale.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.balamale.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.broasca">
                        <div class="title_prod">
                            <span>Broasca:</span>
                            <span>{{cart.specification.broasca.broasca}}</span>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.broasca.quantity}}buc.</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.broasca.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.broasca.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.extensii_verticale">
                        <div class="title_prod">
                            <span>Extensii verticale:</span>
                            <span>{{cart.specification.extensii_verticale.latime}}mm</span>
                            <span>Culoare: {{cart.specification.extensii_verticale.culoare}}</span>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.extensii_verticale.quantity}}buc.</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.extensii_verticale.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.extensii_verticale.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.extensii_orizontale">
                        <div class="title_prod">
                            <span>Extensii orizontale:</span>
                            <span>{{cart.specification.extensii_orizontale.latime}}mm</span>
                            <span>Culoare: {{cart.specification.extensii_orizontale.culoare}}</span>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.extensii_orizontale.quantity}}set</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.extensii_orizontale.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.extensii_orizontale.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.minere">
                        <div class="title_prod">
                            <span>Maner:</span>
                            <span>{{cart.specification.minere.name}}</span>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.minere.quantity}}buc.</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.minere.price}}euro</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.minere.total}}euro</span>
                        </div>
                    </div>
                    <div class="specs" v-if="cart.specification.plinta">
                        <div class="title_prod">
                            <span>Plinta:</span>
                            <span>{{cart.specification.plinta.name}}</span>
                        </div>
                        <div class="quantity">
                            <span>Cantitate:</span><span>{{cart.specification.plinta.quantity}}buc.</span>
                        </div>
                        <div class="price">
                            <span>Pret:</span><span>{{cart.specification.plinta.price}}</span>
                        </div>
                        <div class="subtotal">
                            <span>Subtotal:</span><span>{{cart.specification.plinta.total}}</span>
                        </div>
                    </div>
                    <div class="total">
                        <span></span>
                        <span>Total (pret lista fara TVA): {{cart.total}}euro</span>
                    </div>
                </div>
                <div class="container">
                    <v-alert
                        v-if="carts.length == 0"
                        border="bottom"
                        color="pink darken-1"
                        dark
                    >
                        Momentan nu aveti nimic adugat in cos!
                    </v-alert>
                </div>
            </div>
            <div class="total-block" v-if="carts.length > 0">
                <h3>Vizualizare totaluri:</h3>
                <div class="act-btn">
                    <v-text-field
                        :error-messages="errors['pentru_cine'] ? errors['pentru_cine'][0] : ''"
                        class="accent-margine"
                        v-model="form.pentru_cine"
                        label="Pentru cine"
                        outlined
                        dense
                    ></v-text-field>
                </div>
                <div class="discount">
                    <span>Suma pret lista: <span>{{cartsum}} euro(fara TVA)</span></span>
                    <span>Reducere partener (foaie de usa): {{user_data.discount}}%</span>
                    <span>Reducere partener (manere): {{user_data.discount_minere}}%</span>
                    <span>Suma spre achitare: <span>{{subWithoutTva()}} euro(fara TVA)</span></span>
                    <span>Suma spre achitare: <span>{{calcSumWithTva()}} euro(cu TVA)</span></span>
                </div>
                <v-btn color="secondary" @click="finishOrder">Trimite Comanda {{calcSumWithTva()}}euro (pret lista cu
                    TVA)
                </v-btn>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewCart",
        props: ['user_data'],
        data() {
            return {
                carts: [],
                cartsum: 0,
                sum_by_name: [],
                pentru_cine: '',
                total_without_tva_back: 0,
                form: {
                    invoice_id: 0,
                    pentru_cine: '',
                    total: 0,
                    total_with_discount: 0,
                    total_with_discount_tva: 0,
                },

                errors: [],
                show_error: false,
                token: '',
            }
        },

        created() {

        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
            this.getCart();
        },

        methods: {
            // scoatere cos de cumparaturi
            getCart() {

                axios.get('/axios/get-cart').then(response => {

                    if (response.data.status == 'success') {
                        this.carts = response.data.cart;
                        this.cartsum = Math.round(response.data.total * 100) / 100;
                        this.form.invoice_id = response.data.cart_id;
                        this.sum_by_name = response.data.sum_by_name;
                        this.pentru_cine = response.data.cart_for;
                        this.total_without_tva_back = response.data.total_without_TVA;

                        this.form.total = this.cartsum;
                        this.form.total_with_discount = response.data.total_without_TVA;
                        this.form.total_with_discount_tva = this.calcSumWithTva();
                    }

                    if (response.data.status == 'nocart') {
                        this.form.invoice_id = '';
                        this.carts = [];
                        this.cartsum = [];
                        this.sum_by_name = [];
                    }

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        // this.selectErrors();
                    }

                });

            },
            subWithoutTva() {
                let total = 0;
                // total = this.cartsum - ((this.cartsum * this.user_data.discount) / 100);
                total = this.total_without_tva_back;
                total = total.toFixed(2);

                return total;
            },


            calcSumWithTva() {
                let total = 0;
                total = this.total_without_tva_back;
                total = total * 1.19;
                total = total.toFixed(2);

                return total;
            },

            // finalizare comanda?
            finishOrder() {
                axios.post('/axios/finish-order', this.form).then(response => {
                    if (response.data.status == 'success') {
                        this.getCart();
                        this.successOrder = true;
                    }

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            // stergere element din cos
            deleteItemCart(id) {
                axios.get('/axios/delete-item-cart/' + id).then(response => {
                    this.getCart();
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.selectErrors();
                    }
                });
            },

        },
    }
</script>

<style lang="scss" scoped>
    .new-cart {
        display: grid;
        grid-template-columns: 1.5fr 0.5fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        gap: 1px 1px;
        grid-template-areas: ". .";
        margin-top: 50px;
        margin-left: 20px;

        .items {
            .item {
                border-radius: 10px;
                box-shadow: 0px 1px 2px 1px #3f50b640;
                padding: 10px;
                margin-bottom: 10px;

                &:nth-child(odd) {
                    border-bottom: 4px solid #006cb6;
                    border-top: 4px solid #006cb6;
                }

                &:nth-child(even) {
                    border-bottom: 4px solid #009688;
                    border-top: 4px solid #009688;
                }

                .head-spec {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    gap: 1px 1px;
                    grid-template-areas: ". . . .";
                    border-radius: 10px;
                    box-shadow: 0px 1px 2px 1px #3f50b640;
                    padding: 10px;

                    div {
                        text-align: center;
                    }

                    div:first-child {
                        text-align: left;
                    }

                    span {
                        font-weight: bold;
                        font-size: 22px;

                    }

                    .btn-del {
                        margin: auto;
                    }
                }

                .specs {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    gap: 1px 1px;
                    grid-template-areas: ". . . .";
                    border-radius: 10px;
                    box-shadow: 0px 1px 2px 1px #3f50b640;
                    padding: 10px;
                    margin: 8px 14px 0px;
                    border-left: 4px solid #3f50b6;

                    .title_prod {
                        /*display: grid;*/
                        grid-column-start: 1;
                        grid-column-end: 5;

                        span:first-child {
                            font-weight: bold;
                        }
                    }

                    .quantity {
                        text-align: center;
                        /*grid-column-start: 2;*/
                        span:nth-child(2) {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .price {
                        text-align: center;

                        span:nth-child(2) {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }

                    .subtotal {
                        text-align: center;
                        grid-column-start: 4;

                        span:nth-child(2) {
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }

                .total {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 15px;
                    margin-top: 10px;

                    span {
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
            }
        }

        .total-block {
            border-radius: 10px;
            box-shadow: 0px 1px 2px 1px #3f50b640;
            padding: 9px 12px;
            margin: 0 22px;
            height: fit-content;
            position: sticky;
            top: 70px;
            border-bottom: 4px solid #3f50b6;
            border-top: 4px solid #3f50b6;


            .discount {
                display: grid;
                margin-bottom: 15px;
            }
        }
    }
</style>
