<template>
    <div>
        <v-btn @click="addNewOffer = true" class="mx-2 btn-fixed-bottom-right zindex" fab dark color="indigo">
            <v-icon dark>mdi-plus</v-icon>
        </v-btn>
        <div class="container">
            <div class="row">
                <div class="col">
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                            <tr>
                                <th class="text-left">Oferta</th>
                                <th class="text-left">Nume client</th>
                                <th class="text-left">Colectia</th>
                                <th class="text-left">Seria</th>
                                <th class="text-left">Insertia</th>
                                <th class="text-left">Data de creare</th>
                                <th class="text-left">Descarca</th>
                                <th class="text-left">Sterge</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, key) in clients" :key="key">
                                <td>{{ item.offer_name }}</td>
                                <td>{{ item.client_name }}</td>
                                <td>{{ item.serie.name }}</td>
                                <td>{{ item.product.name }}</td>
                                <td><span v-if="item.window">{{ item.window.window.name }}</span></td>
                                <td>{{ $moment(item.created_at).format('D.MM.YYYY H:m') }}</td>
                                <td>
                                    <v-btn
                                        @click="goTo(item.id)"
                                        x-small
                                        color="blue-grey"
                                        class="ma-2 white--text">
                                        Descarca
                                        <v-icon right dark>mdi-cloud-upload</v-icon>
                                    </v-btn>
                                </td>
                                <td>
                                    <v-btn
                                        @click="delOffer(item.id)"
                                        x-small
                                        color="error"
                                        class="ma-2 white--text">
                                        Sterge
                                    </v-btn>
                                </td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </div>
            </div>
        </div>
        <v-dialog
            v-model="addNewOffer"
            max-width="500"
            persistent>
            <v-card>
                <v-card-title class="headline">Creaza oferta noua pentru client</v-card-title>
                <v-card-text>
                    <v-divider></v-divider>
                    <v-text-field
                        outlined
                        dense
                        v-model="form.client_name"
                        :counter="30"
                        label="Nume client"
                        required
                    ></v-text-field>
                    <v-text-field
                        outlined
                        dense
                        v-model="form.offer_name"
                        :counter="30"
                        label="Denumire oferta"
                        required
                    ></v-text-field>
                    <v-select
                        v-model="form.search_serie"
                        :items="form.result_serie"
                        label="Cauta colectia"
                        item-text="name"
                        item-value="id"
                        @change="searchProduct"
                        outlined
                        dense
                    ></v-select>
                    <v-select
                        v-model="form.search_product"
                        :items="form.result_products"
                        label="Cauta model"
                        item-text="name"
                        return-object
                        @change="resetProd"
                        outlined
                        dense
                    ></v-select>
                    <v-select
                        v-model="form.search_color"
                        :items="form.search_product.colors"
                        label="Cauta culoare"
                        item-text="color.name"
                        @change="resetColor"
                        return-object
                        outlined
                        dense
                    ></v-select>
                    <v-select
                        v-model="form.search_window"
                        :items="form.search_color.windows"
                        label="Cauta sticla"
                        item-text="window.name"
                        return-object
                        outlined
                        dense
                    ></v-select>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="addNewOffer = !addNewOffer">
                        Anuleaza
                    </v-btn>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="saveOffer">
                        Salveaza
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog
            v-model="loader"
            hide-overlay
            persistent
            width="300"
        >
            <v-card
                color="primary"
                dark
            >
                <v-card-text>
                    Se incarca produsele
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-snackbar
            v-model="snackbar"
            :color="notify.color"
            :right="notify.right"
            :timeout="notify.timeout"
            :top="notify.top"
        >
            {{ notify.text }}
            <v-btn
                dark
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        name: "OfferClients",
        data() {
            return {
                clients: [],
                addNewOffer: false,
                loader: false,

                notify: {
                    color: 'success',
                    right: 'right',
                    timeout: 4000,
                    top: 'top',
                    text: ''
                },
                snackbar: false,

                form: {
                    client_name: '',
                    offer_name: '',
                    search_serie: [],
                    search_product: [],
                    search_color: [],
                    search_window: [],

                    result_serie: [],
                    result_products: [],
                }

            }
        },

        created() {
            this.getSeries();
            this.getOffers();
            this.loader = true
        },

        methods: {
            delOffer(id){
                this.snackbar = true;
                this.notify.text = 'Oferta a fost stearsa cu succes!'
                axios.get('/axios/client/del-offers/'+id).then(response => {
                    if (response.data.status == 'success') {
                        this.addNewOffer = false;
                        this.form = {
                            client_name: '',
                            offer_name: '',
                            search_serie: [],
                            search_product: [],
                            search_color: [],
                            search_window: [],

                            result_products: [],
                        };
                        this.getOffers();
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            },

            goTo(id) {
                window.open('/cabinet/client/get-offer/' + id, '_blank')
            },

            resetProd() {
                this.form.search_color = [];
                this.form.search_window = [];
            },
            resetColor() {
                this.form.search_window = [];
            },
            saveOffer() {
                let compose_array = {
                    client_name: this.form.client_name,
                    offer_name: this.form.offer_name,
                    seria_id: this.form.search_serie,
                    product_id: this.form.search_product.id,
                    color_id: this.form.search_color.id,
                    window_id: this.form.search_window.id,
                }

                this.snackbar = true;
                this.notify.text = 'Oferta adugata cu succes!'
                axios.post('/axios/client/save-offer', compose_array).then(response => {
                    if (response.data.status == 'success') {
                        this.addNewOffer = false;

                        this.form.client_name = '',
                            this.form.offer_name = '',
                            this.form.search_serie = [],
                            this.form.search_product = [],
                            this.form.search_color = [],
                            this.form.search_window = [],
                            this.form.result_products = [],

                        this.getOffers();
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            },

            searchProduct() {
                this.form.search_color = [];
                this.form.search_window = [];
                this.form.search_product = [];
                this.loader = true;

                axios.get('/axios/client/get-serie/' + this.form.search_serie).then(response => {
                    if (response.data.status == 'success') {
                        this.form.result_products = response.data.series.products;
                        this.loader = false;
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            },

            getSeries() {
                axios.get('/axios/client/get-series').then(response => {
                    if (response.data.status == 'success') {
                        this.form.result_serie = response.data.series;
                        this.loader = false;
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            },

            getOffers() {
                axios.get('/axios/client/get-offers').then(response => {
                    if (response.data.status == 'success') {
                        this.clients = response.data.clients;
                        this.loader = false;
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .btn-fixed-bottom-right {
        position: fixed;
        bottom: 50px;
        right: 20px;

    }

    .zindex{
        z-index: 999
    }
</style>
