<template>
    <main :style="'width: 800px; margin: 0 auto; background: white; padding: 20px; margin-top: 40px'">
        <div class="btn-bg">
            <v-btn x-small
                   @click="bg = key+1"
                   color="error"
                   class="ma-2 white--text no-print"
                   :class="bg === key+1 ? 'active' : ''"
                   v-for="(item, key) in 10" :key="key">
                Culoare fon {{key+1}}
            </v-btn>
        </div>
        <table :style="'border-collapse: collapse; width: 100%;'" border="0">
            <tbody>
            <tr :style="'text-align: left'">
                <td>
                    <img src="/images/client_offer/header.png" width="534" height="100"/>
                </td>
                <td :style="'font-size: 10px; text-align: right'">
                    {{offer.user.name}}<br>
                    {{offer.user.user_info.bank_details}}<br>
                    {{offer.user.user_info.phone}} | {{offer.user.user_info.email}}<br>
                </td>
            </tr>
            </tbody>
        </table>
        <h3 :style="'text-align: center; font-size: 18px; margin-top: 40px;'">
            <span :style="'color: darkred;'">OFERTĂ SPECIALĂ :</span><br>
            Seria: {{offer.product.name}},
            Culoare: {{offer.color.color.name}}
            <span v-if="offer.window != null">, Insertie: {{offer.window.window.name}}</span>
        </h3>

        <h2 :style="'text-align: center; font-size: 16px'">Nr
            {{offer.id}}/{{$moment(offer.created_at).format('D.MM.YYYY')}}</h2>
        <p></p>

        <div class="images" :style="'position: relative'">
            <img :style="'display: block; margin-left: auto; margin-right: auto;'"
                 :src="'/images/client_offer/backgrounds/'+bg+'-background.jpg'" width="719" height="481"/>

            <img v-if="offer.window != null"
                 :style="'position: absolute; top:'+top+'px; right: 222px; width: 160px; height: 390px;'"
                 :src="'/images/catalog/'+offer.window.image" alt="">

            <img v-else :style="'position: absolute; top:'+top+'px;right: 222px; width: 160px; height: 390px;'"
                 :src="'/images/catalog/'+offer.color.image" alt="">
        </div>
        <p :style="'margin-top: 50px; padding: 0 20px;'">
            <strong>Colecția {{offer.serie.name}}</strong> are la baza construcției carcasă din masiv de pin pentru a le
            face mai rezistente.
            Pentru acoperirea
            acestora este folosită cea mai inovativă tehnică - acoperirea multistrat Unilack UV, metoda proiectată de
            către
            partenerii germani exclusiv pentru ProfilDoors. Aceasta prezintă un inveliș cu textura fină, mată și
            monocromă
            care
            este superioară față de vopsele sau lacuri, at&acirc;t din punct de vedere estetic c&acirc;t și a
            caracteristicilor
            tehnice. Ușile au balamele ascunse 3D de producție italiană (AGB) care pot fi ajustate oricand in patru axe
            și
            broască magneticaă italiană silențioasă AGB Mediana Polaris</p>
        <p>&nbsp;</p>
        <table :style="'border-collapse: collapse; width: 93.2705%; margin: 0 auto;'" border="1">
            <tbody>
            <tr>
                <td :style="'width: 72.8716%; background: #bdbdbd; text-align: center'">ProfilDoors
                    {{offer.product.name}}, Invelis UNILACK,
                </td>
                <td :style="'width: 26.9841%; background: #bdbdbd; text-align: center'">Pret set (TVA inclus)</td>
            </tr>
            <tr>
                <td :style="'width: 72.8716%;'">
                    <ul :style="'margin-left: 25px;'">
                        <li>Inveliș Unilack rezistent la zg&acirc;r&icirc;ieturi si uzură</li>
                        <li v-if="offer.cart.specification.foaie_de_usa.window != null">Inserție {{offer.cart.specification.foaie_de_usa.window}}</li>
                        <li>Carcasă din lemn masiv</li>
                        <li>Pervazuri pe ambele părți de {{offer.cart.specification.traverse_verticale.pervaz}} mm</li>
                        <li>Toc ajustabil pentru grosime zid 75-133 mm</li>
                        <li>Inaltime gol zid maxim 2090 mm (inaltime standard)</li>
                        <li>Balamale ascunse, ajustabile, AGB Eclipse (AGB, Italia)</li>
                        <li>Broască magnetică AGB Polaris</li>
                        <li>Inchidere fără falț</li>
                    </ul>
                </td>
                <td :style="'width: 26.9841%; text-align: center'">
                    <span>{{offer.price}} euro</span>
                </td>
            </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <h1 :style="'text-align: center'">Setul cuprinde:</h1>
        <p :style="'text-align: center'"><img src="/images/client_offer/offer-cuprinde.png" width="735" height="253"/>
        </p>
        <ul :style="'margin: 20px 35px 20px 35px;'">
            <li>Oferta este aproximativa si va fi finala doar dupa masuratori</li>
            <li>Oferta include serviciile de masurare si livrarea</li>
            <li>&Icirc;n preț este inlcusă livrarea &icirc;n județul Iași</li>
            <li>Oferta este valabilă 15 zile.</li>
        </ul>
        <p>&nbsp;</p>
        <h2 :style="'text-align: center;'">Avantaje</h2>
        <table :style="'border-collapse: collapse; width: 100%;'" border="0" data-mce-id="__mce">
            <tbody>
            <tr>
                <td>
                    <ul :style="'margin: 20px 35px 20px 35px;'">
                        <li>Lemnul masiv face ușa REZISTENTĂ și DURABILĂ. MDF-ul
                            permite forme estetice și moderne
                        </li>
                        <li>Iar ÎNVELIȘUL de POLIPROPILENĂ este cea mai practică
                            soluție pentru rezistența la uzură și durată de exploatare
                            a ușilor de interior. Acest înveliș are avantaje cu
                            duiumul:
                        </li>
                        <li>ARATĂ FOARTE BINE - are textură satinată, mată care nu
                            ține urmele de amprente.
                        </li>
                        <li>SE ÎNTREȚINE FOARTE UȘOR - e rezistentă la soluții
                            chimice, chiar dacă copilul va desena cu marker pe ușă o
                            vei curața intr-o clipă cu soluție chimică chiar și cu
                            diluant.
                        </li>
                        <li>REZISTĂ LA INFLUENȚA RAZELOR UV - chiar dacă va sta
                            mult la soare, ușa va rămâne mulți ani de aceiași culoare
                            ca în ziua montării
                        </li>
                        <li>NU ABSOARBE APA - rezistă foarte bine la umeditate,
                            liniștit o poți pune la baie, chiar și la una foarte mică și
                            foarte traficată, ușa nu se va deforma, nu se va umfla.
                        </li>
                        <li>FERONERIE ITALIANĂ (AGB) DE CEA MAI ÎNALTĂ
                            CALITATE.
                        </li>
                        <li>ÎNCHIDERE SILENȚIOASĂ - nu vei auzi scârțâit de uși
                            noapte sau în momente de maximă concentrație
                        </li>
                    </ul>
                </td>
                <td><img src="/images/client_offer/compus.png" width="400" height="582"/></td>
            </tr>
            </tbody>
        </table>
    </main>
</template>

<script>
    export default {
        name: "OfferClientsPdfFromOrder",
        props: ['offer', 'type'],
        data() {
            return {
                bg: 3,
                top: 59,
            }
        },

        watch: {
            bg: function top(val) {
                if (val === 1 || val === 2)
                    this.top = 20;

                if (val === 3)
                    this.top = 59;

                if (val === 4)
                    this.top = 66;

                if (val === 5)
                    this.top = 29;

                if (val === 6)
                    this.top = 86;

                if (val === 7)
                    this.top = 34;

                if (val === 8)
                    this.top = 13;

                if (val === 9)
                    this.top = 38;

                if (val === 10)
                    this.top = 21;
            },
        },
    }
</script>

<style lang="scss" scoped>
    @media print
    {
        .no-print, .no-print *
        {
            display: none !important;
        }
    }
    .btn-bg {
        position: fixed;
        right: 20px;
        top: 20px;
        display: grid;
        grid-gap: 5px;

        .ma-2 {
            background: rebeccapurple !important;
        }

        .active {
            background: darkred !important;
        }
    }
</style>
