<template>
    <div>
        <div class="img">
            <img :src="product.image" alt="">
        </div>
        <div class="char">
            <span class="name">{{ product.name }}</span>
            <span class="name">{{ product.size }}</span>
            <span class="price">{{ product.price }} euro</span>
        </div>
        <div class="act-btn">
            <v-text-field
                class="accent-margine"
                v-model="form.plinta.quantity"
                label="Cantitate buc."
                type="number"
                min="0"
                outlined
                dense
            ></v-text-field>
            <v-btn depressed small color="primary" @click="AddToCart(product)">Adauga in cos</v-btn>
        </div>
        <v-snackbar
            v-model="snackbar"
            :color="notify.color"
            :right="notify.right"
            :timeout="notify.timeout"
            :top="notify.top"
        >
            {{ notify.text }}
            <v-btn
                dark
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
export default {
    name: "PlintaItem",
    props: ['product'],
    data() {
        return {
            form: {
                plinta: {
                    id: '',
                    name: '',
                    size: '',
                    price: '',
                    total: 0,
                    quantity: 0,
                },
            },


            notify: {
                color: 'success',
                right: 'right',
                timeout: 4000,
                top: 'top',
                text: 'pretul a fost modificat cu succes'
            },
            snackbar: false,

            errors: [],
            show_error: false,
            token: '',
        }
    },
    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    methods: {
        // ### SAVE PRODUCT ###
        AddToCart(product) {
            let produc = {
                plinta: {
                    id: product.id,
                    name: product.name,
                    size: product.size,
                    price: product.price,
                    total: product.price * parseInt(this.form.plinta.quantity),
                    quantity: parseInt(this.form.plinta.quantity),
                }
            };


            axios.post('/axios/add-to-cart-partial', produc).then(response => {
                if (response.data.status == 'success') {
                    this.snackbar = true;
                    this.notify.text = 'Produsul a fost adaugat cu succes';
                    this.form.plinta.quantity = 0;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
        // ### END SAVE PRODUCT ###
    }
}
</script>

<style scoped>

</style>
