<template>
    <div>
        <div class="items">
            <PlintaItem class="item"
                        v-for="product in products"
                        :key="product.id"
                        :product="product"/>
        </div>
    </div>
</template>

<script>
import PlintaItem from "./PlintaItem";

export default {
    name: "Plinta",
    components: {PlintaItem},
    data() {
        return {
            products: [],
            form: {
                plinta: {
                    id: '',
                    name: '',
                    size: '',
                    price: '',
                    total: 0,
                    quantity: {},
                },
            },


            notify: {
                color: 'success',
                right: 'right',
                timeout: 4000,
                top: 'top',
                text: 'pretul a fost modificat cu succes'
            },
            snackbar: false,

            errors: [],
            show_error: false,
            token: '',
        }
    },

    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    created() {
        this.GetProducts();
    },

    methods: {
        GetProducts() {
            axios.get('/axios/get-plinta').then(response => {
                if (response.data.status == 'success') {
                    this.products = response.data.minere;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
    }
}
</script>

<style lang="scss" >
.action-btn {
    margin-top: 20px
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: ". . . .";

    .item {
        margin: 20px;
        padding: 16px;
        box-shadow: 0px 2px 5px 0px #3f50b545;
        text-align: center;
        width: 200px;

        .img {
            width: 150px;
            height: 150px;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .char {
            display: grid;
            margin: 10px 0;

            .price {
                font-size: 16px;
                font-weight: 600;
            }

            .name {

            }
        }

        .act-btn {

        }
    }
}
</style>
