<template>
    <div>
        <v-simple-table>
            <template v-slot:default>
                <thead>
                <tr>
                    <th class="text-left">Nr.</th>
                    <th class="text-left">Seria</th>
                    <th class="text-left">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(serie, index) in series" :key="index">
                    <td>{{ index+1  }}</td>
                    <td>{{ serie.name }}</td>
                    <td>

                        <div class="d-flex">
                            <v-select
                                v-model="form.extensii_orizontale[`${index}`]"
                                :items="extensiiorizontale"
                                item-value='id'
                                item-text="latime"
                                attach
                                chips
                                label="Extensii orizontale"
                                multiple
                            >
                                <template slot="item" slot-scope="data">
                                    {{data.item.latime}} Tip: {{data.item.tip ? 'Dublu' : 'Simplu'}} - Pret:{{data.item.pret}} euro
                                </template>
                            </v-select>
                            <v-btn @click="saveExtensiiOrizontale(index, serie.name)" text icon color="deep-orange">
                                <v-icon>mdi-thumb-up</v-icon>
                            </v-btn>
                        </div>

                       <div class="d-flex">
                           <v-select
                               v-model="form.extensii_verticale[`${index}`]"
                               :items="extensiiverticale"
                               item-value='id'
                               item-text="latime"
                               attach
                               chips
                               label="Extensii verticale"
                               multiple>
                               <template slot="item" slot-scope="data">
                                   {{data.item.latime}} Tip: {{data.item.tip ? 'Dublu' : 'Simplu'}} - Pret:{{data.item.pret}} euro
                               </template>
                           </v-select>
                           <v-btn @click="saveExtensiiVerticale(index, serie.name)" text icon color="deep-orange">
                               <v-icon>mdi-thumb-up</v-icon>
                           </v-btn>
                       </div>
                        <div class="d-flex">
                            <v-select
                                v-model="form.grinda[`${index}`]"
                                attach
                                :items='grinda'
                                item-value='id'
                                item-text="latime"
                                chips
                                label="Grinda"
                                multiple>
                                <template slot="item" slot-scope="data">
                                    {{data.item.pervaz_size}} {{data.item.latime}} Tip: {{data.item.tip ? 'Dublu' : 'Simplu'}} - Pret:{{data.item.pret}} euro
                                </template>
                            </v-select>
                            <v-btn @click="saveGrinda(index, serie.name)" text icon color="deep-orange">
                                <v-icon>mdi-thumb-up</v-icon>
                            </v-btn>
                        </div>
                        <div class="d-flex">
                            <v-select
                                v-model="form.traverse_verticale[`${index}`]"
                                :items="traversaverticala"
                                item-value='id'
                                item-text="latime"
                                attach
                                chips
                                label="Traversa verticala"
                                multiple>
                                <template slot="item" slot-scope="data">
                                    {{data.item.pervaz_size}} {{data.item.latime}} Tip: {{data.item.tip ? 'Dublu' : 'Simplu'}} - Pret:{{data.item.pret}} euro
                                </template>
                            </v-select>
                            <v-btn @click="saveTraversaVerticala(index, serie.name)" text icon color="deep-orange">
                                <v-icon>mdi-thumb-up</v-icon>
                            </v-btn>
                        </div>
                    </td>
                </tr>
                </tbody>
            </template>
        </v-simple-table>
    </div>
</template>

<script>
    export default {
        name: "Config",
        props: ['extensiiorizontale', 'extensiiverticale', 'grinda', 'traversaverticala'],
        data() {
            return {
                series: [],


                form: {
                  extensii_orizontale: [],
                  extensii_verticale: [],
                  grinda: [],
                  traverse_verticale: [],
                },

                errors: [],
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }

            this.savePriceGetDoors();

            // this.form.extensii_verticale = this.series.extensiiorizontale;
        },

        methods: {
            atrLang(){
                let locname = this.form.extensii_orizontale;

                val = moment(this.items[index], this.f).add(count, what).format(this.f);


                this.items.$set(index, val);
                console.log("arr length:  " + this.items.length);
            },

            saveExtensiiOrizontale(index, name){
                axios.post('/axios/save-extensii-orizontale', this.form.extensii_orizontale).then(response => {

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            savePriceGetDoors(){
                axios.get('/axios/get-series').then(response => {
                   this.series = response.data.series;
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },
        }
    }
</script>

<style scoped>

</style>
