<template>
    <div>
        <button @click="tableToExcel('table', 'Document', pentru_cine+'/'+de_la+'/'+$moment(created).format('L'))">
            export
        </button>
        <div ref="table" id="Document">


            <table class="tftable" border="1">
                <tr>
                    <th :style="'background: #afafaf;'">Data Comanda</th>
                    <th :style="'background: #afafaf;'">Denumire comandă</th>
                    <th colspan="5" rowspan="2">SC VIPROCEL SRL a predat următoarele bunuri/produse către {{ de_la }} :
                    </th>
                </tr>
                <tr>
                    <td>{{ $moment(created).format('L') }}</td>
                    <td>{{ pentru_cine }}</td>
                </tr>
            </table>


            <div v-for="(cart, i) in data" :key="i">
                <table
                    border="1"
                    class="tableizer-table">
                    <thead>
                    <tr class="tableizer-firstrow">
                        <th :style="'color: red'">Amplasare {{ cart.amplasare }}</th>
                        <th>Culoare</th>
                        <th>Model</th>
                        <th>Sticla</th>
                        <th>Muchie</th>
                        <th>Insertie</th>
                        <th>Înălțime</th>
                        <th>Lățime</th>
                        <th>Grosime canat</th>
                        <!--                        <th>Tip balamale</th>-->
                        <!--                        <th>Număr balamale</th>-->
                        <!--                        <th>Broască</th>-->
                        <th>Pervaz</th>
                        <th>Lățime toc</th>
                        <th>Direcție deschidere</th>
                        <th>Lățime extensie</th>
                        <th>Cantitate</th>
                        <!--                        <th>Pret/Buc.</th>-->
                        <th>Pret lista</th>
                        <th>Pret dealer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="cart.specification.foaie_de_usa">
                        <td>Foaie de usa {{specificationIsReverse(cart.specification)}}</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.foaie_de_usa.culoare }}</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.foaie_de_usa.seria }}</td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.window }}</td>
                        <td :style="'background: #c4e4ff'"><span
                            v-if="cart.specification.foaie_de_usa.grosime_canat != 36">{{ cart.specification.foaie_de_usa.muchii }}</span>
                        </td>
                        <td :style="'background: #c4e4ff'">&nbsp;</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.foaie_de_usa.inaltime }}</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.foaie_de_usa.latime }}</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.foaie_de_usa.grosime_canat }}</td>
                        <!--                        <td :style="'background: #afafaf;'" v-if="cart.specification.balamale">{{cart.specification.balamale.tip_balama}}</td>-->
                        <!--                        <td :style="'background: #afafaf;'" v-if="cart.specification.balamale">{{cart.specification.balamale.quantity}}</td>-->
                        <!--                        <td :style="'background: #afafaf;'">{{cart.specification.broasca.broasca}}</td>-->
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td :style="'background: #c4e4ff'"><span
                            v-if="cart.specification.foaie_de_usa.colectia_id === 2">{{ cart.specification.foaie_de_usa.directia }}</span>
                        </td>
                        <td>&nbsp;</td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.foaie_de_usa.price, 1) }}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.foaie_de_usa.total, 1) }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.traverse_verticale">
                        <td>Traversa verticala</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.traverse_verticale.culoare }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.traverse_verticale.inaltime }}</td>
                        <td></td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.traverse_verticale.grosime_canat }}
                        </td>
                        <!--                        <td :style="'background: #afafaf;'" v-if="cart.specification.balamale">{{cart.specification.balamale.tip_balama}}</td>-->
                        <!--                        <td :style="'background: #afafaf;'" v-if="cart.specification.balamale">{{cart.specification.balamale.quantity}}</td>-->
                        <!--                        <td></td>-->
                        <td :style="'background: #afafaf;'">{{ cart.specification.traverse_verticale.pervaz }}</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.traverse_verticale.latime_toc }}</td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.traverse_verticale.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.traverse_verticale.price, 1)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.traverse_verticale.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.traverse_verticale.total, 1) }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.grinda">
                        <td>Grinda</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.grinda.culoare }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.grinda.latime }}</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.grinda.grosime_canat }}</td>
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <td :style="'background: #afafaf;'">{{ cart.specification.grinda.pervaz }}</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.grinda.latime_toc }}</td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.grinda.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.grinda.price, 1)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.grinda.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.grinda.total, 1) }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.extensii_verticale">
                        <td>Extensii verticale</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.extensii_verticale.culoare }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.extensii_verticale.lungime }}</td>
                        <td></td>
                        <td></td>
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.extensii_verticale.latime }}</td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.extensii_verticale.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.extensii_verticale.price, 1)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.extensii_verticale.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.extensii_verticale.total, 1) }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.extensii_orizontale">
                        <td>Extensii orizontale</td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.extensii_orizontale.culoare }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'">{{ cart.specification.extensii_orizontale.lungime }}</td>
                        <td></td>
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.extensii_orizontale.latime }}</td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.extensii_orizontale.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.extensii_orizontale.price, 1)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.extensii_orizontale.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.extensii_orizontale.total, 1) }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.balamale">
                        <td>Balamale</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>{{ cart.specification.balamale.tip_balama }}</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.balamale.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.balamale.price, 1)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.balamale.total }}</td>
                        <td :style="'background: #c4e4ff'">{{
                                calcItemPartnerTotal(cart.specification.balamale.total, 1)
                            }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.broasca">
                        <td>Broasca</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>{{ cart.specification.broasca.broasca }}</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.broasca.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.broasca.price, 1)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.broasca.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.broasca.total, 1) }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.minere">
                        <td>Manere</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>{{ cart.specification.minere.name }}</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.minere.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.minere.price, 6)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.minere.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.minere.total, 6) }}
                        </td>

                    </tr>

                    <tr v-if="cart.specification.plinta">
                        <td>Plinta</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>{{ cart.specification.plinta.name }}</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <!--                        <td></td>-->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.plinta.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.plinta.price, 0)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.plinta.total }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.plinta.total, cart.product_type_id) }}
                        </td>

                    </tr>

<!--                    //new-->
                    <tr v-if="cart.specification.automatic_threshold">
                        <td>Prag automat:</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>--</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.plinta.price, 0)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.automatic_threshold }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.automatic_threshold, cart.product_type_id) }}
                        </td>
                    </tr>
                    <tr v-if="cart.specification.door_reinforcement">
                        <td>Ranforsare usa:</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>--</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.plinta.price, 0)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.door_reinforcement }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.door_reinforcement, cart.product_type_id) }}
                        </td>
                    </tr>
                    <tr v-if="cart.specification.self_closing">
                        <td>Auto inchidere:</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>--</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.plinta.price, 0)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.self_closing }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.self_closing, cart.product_type_id) }}
                        </td>
                    </tr>
                    <tr v-if="cart.specification.ventilation_grille">
                        <td>Grila ventilare:</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>--</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.plinta.price, 0)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.ventilation_grille }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.ventilation_grille, cart.product_type_id) }}
                        </td>
                    </tr>
                    <tr v-if="cart.specification.invisible_heel">
                        <td>Toc invisibil {{specificationIsReverse(cart.specification)}}:</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>--</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.plinta.price, 0)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.invisible_heel }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.invisible_heel, cart.product_type_id) }}
                        </td>
                    </tr>

                    <tr v-if="cart.specification.door_edition">
                        <td>Editie usa:</td>
                        <td :style="'background: #afafaf;'"></td>
                        <td>{{cart.specification.door_edition.name}}</td>
                        <td></td>
                        <td></td>
                        <td>&nbsp;</td>
                        <td></td>
                        <td :style="'background: #afafaf;'"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td :style="'background: #c4e4ff'"></td>
                        <td :style="'background: #c4e4ff'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                        <!--                        <td :style="'background: #c4e4ff'">{{calcItemPartnerTotal(cart.specification.plinta.price, 0)}}</td>-->
                        <td :style="'background: #c4e4ff'">{{ cart.specification.door_edition.price }}</td>
                        <td :style="'background: #c4e4ff'">
                            {{ calcItemPartnerTotal(cart.specification.door_edition.price, cart.product_type_id) }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table>
                    <thead>
                    <tr></tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "Excel",
    props: ['invoice_id', 'user_data'],
    data() {
        return {
            columns: [
                {
                    label: "Culoare",
                    field: "Culoare",
                },
                {
                    label: "Model",
                    field: "price",
                },
                {
                    label: "Sticla",
                    field: "quantity",
                },
                {
                    label: "Muchie",
                    field: "quantity",
                },
                {
                    label: "Insertie",
                    field: "quantity",
                },
                {
                    label: "Inaltime",
                    field: "quantity",
                },
                {
                    label: "Latime",
                    field: "quantity",
                },
                {
                    label: "Grosime canat",
                    field: "quantity",
                },
                {
                    label: "Tip balamale",
                    field: "quantity",
                },
                {
                    label: "Numar balamale",
                    field: "quantity",
                },
                {
                    label: "Broasca",
                    field: "quantity",
                },
                {
                    label: "Pervaz",
                    field: "quantity",
                },
                {
                    label: "Latime toc",
                    field: "quantity",
                },
                {
                    label: "Directie deschidere",
                    field: "quantity",
                },
                {
                    label: "Latime extensie",
                    field: "quantity",
                },
                {
                    label: "Numar extensii",
                    field: "quantity",
                },
            ],
            created: '',
            de_la: '',
            pentru_cine: '',
            discount: 0,
            discount_minere: 0,
            data: [],

            uri: 'data:application/vnd.ms-excel;base64,',
            template: '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" ' +
                'xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet> ' +
                '<x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets> ' +
                '</x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head> ' +
                '<body><table>{table}</table></body></html>',

            base64: function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            },

            format: function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            }
        }
    },

    created() {
        this.getCart();
    },

    methods: {
        specificationIsReverse(item) {
            let res = ''
            if (item.reverse_door) {
                res = res + '| REVERSE '
            }

            return res;
        },
        tableToExcel(table, name, filename) {

            if (!table.nodeType) table = this.$refs.table
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
            // window.location.href = this.uri + this.base64(this.format(this.template, ctx))
            var a = document.createElement('a');
            a.href = this.uri + this.base64(this.format(this.template, ctx));
            a.download = filename + '.xls';
            a.click();
        },

        getCart() {
            axios.get('/axios/get-cart-pdf-operator/' + this.invoice_id).then(response => {
                if (response.data.status == 'success') {
                    this.data = response.data.cart;
                    // this.cartsum = Math.round(response.data.total * 100) / 100;
                    // this.form.invoice_id = response.data.cart_id;
                    // this.sum_by_name = response.data.sum_by_name;
                    // this.send_date = response.data.send_date;
                    this.de_la = response.data.de_la;
                    this.discount = parseInt(response.data.discount);
                    this.discount_minere = parseInt(response.data.discount_minere);
                    // this.userbank = response.data.userbank;
                    this.created = response.data.created;
                    this.pentru_cine = response.data.pentru_cine;
                    // this.cartSumWithDiscount = response.data.cartSumWithDiscount;

                }

            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                    // this.selectErrors();
                }

            });

        },

        calcItemPartnerTotal(sum, type) {
            let total = 0;
            if (type == 1 || type == 7) {
                total = sum - ((sum * this.discount) / 100);
            } else if (type == 6) {
                total = sum - ((sum * this.discount_minere) / 100);
            } else {
                total = sum;
            }

            total = Math.round(total * 100) / 100;
            return total;
        },

    }

}
</script>

<style lang="scss" scoped>
.bg-blue {
    background: blue;
}

.bg-grey {
    background: grey;
}

.tftable {
    margin-bottom: 20px;
}

table.tableizer-table {
    font-size: 12px;
    border: 1px solid #CCC;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
    text-align: center;
}

.tableizer-table th {
    background-color: #104E8B;
    color: #FFF;
    font-weight: bold;
    padding: 0 10px;
    width: 10%;
    text-align: center;
}
</style>
