<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h4>Edit extensii produs</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="items">
                <v-simple-table class="w-100">
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">
                                Name
                            </th>
                            <th class="text-left">
                                Extensii verticale
                            </th>
                            <th class="text-left">
                                Extensii orizontale
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in products" :key="index">
                            <td>{{ item.name }}</td>
                            <td>
                                <v-btn depressed small color="primary"
                                       @click="editProductOpen(item.extensiiverticales[0].price_extension_vertical, 'verticale', item.name)">
                                    Edit verticale
                                </v-btn>
                            </td>
                            <td>
                                <v-btn depressed small color="primary"
                                       @click="editProductOpen(item.extensiiorizontale[0].price_extension_orizontal, 'orizontale', item.name)">
                                    Edit orizontale
                                </v-btn>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </div>

            <v-dialog
                v-model="addproduct"
                width="400"
                max-width="400"
            >
                <v-card>
                    <v-card-title class="headline">Modul editare extensie {{form.extensie_name}}, seria {{form.serie}}
                    </v-card-title>

                    <v-card-text>
                        <div class="d-flex" v-for="(extensie, index) in form.extensii" :key="extensie.id">
                            <v-text-field
                                class="mr-2"
                                disabled
                                v-model="extensie.latime"
                                label="Latime"
                                outlined
                                dense
                            ></v-text-field>
                            <v-text-field
                                class="mr-2"
                                v-model="extensie.pret"
                                label="Pret"
                                outlined
                                dense
                            ></v-text-field>
                            <v-btn
                                color="green darken-1"
                                text
                                @click="updateProduct(extensie)">
                                Salveaza
                            </v-btn>
                        </div>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                            color="green darken-1"
                            text
                            @click="addproduct = false"
                        >
                            Anuleaza
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
export default {
    name: "ExtensieEditProduct",

    data() {
        return {
            products: [],

            addproduct: false,

            editOrNew: 0,

            imgSelected: '',

            form: {
                extensie_name: '',
                extensii: [],
                serie: '',
            },

            notify: {
                color: 'success',
                right: 'right',
                timeout: 4000,
                top: 'top',
                text: 'pretul a fost modificat cu succes'
            },
            snackbar: false,

            errors: [],
            show_error: false,
            token: '',
        }
    },

    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    created() {
        this.GetProducts();
    },

    methods: {
        updateProduct(extensie) {
            let form = {
                extensie: extensie,
                extensie_name: this.form.extensie_name
            }
            axios.post('/axios/update-extensii-product', form).then(response => {
                if (response.data.status == 'success') {
                    this.addproduct = false;
                    this.form.extensie_name = '';
                    this.form.extensii = [];
                    this.form.serie = '';
                    this.snackbar = true;
                    this.notify.text = 'Produsul a fost adugat cu succes';
                    this.GetProducts();

                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                    this.snackbar = true;
                    this.notify.text = 'A aparut o eroare la salvare de date.';
                }
            });
        },

        GetProducts() {
            axios.get('/axios/get-extensii-product').then(response => {
                if (response.data.status == 'success') {
                    this.products = response.data.data;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        editProductOpen(extensii, type, serie) {
            this.addproduct = true;
            this.form.serie = serie;
            this.form.extensie_name = type;
            this.form.extensii = extensii;
        },
    }
}
</script>

<style lang="scss" scoped>
.action-btn {
    margin-top: 20px
}
</style>
