<template>
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>Editare extensii</h1>
            </div>
        </div>
       <div class="row">
           <div class="col-2"  v-for="(list, index) in lists">
               <v-card
                   class="mx-auto"
                   max-width="200"
                   outlined>
                   <v-list-item three-line>
                       <v-list-item-content>
                           <div class="overline mb-4">{{list.name}}</div>
                       </v-list-item-content>
                   </v-list-item>
                   <v-card-actions>
                       <v-btn text @click="openEditList(list)">Editare</v-btn>
                   </v-card-actions>
               </v-card>
           </div>
       </div>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{list_form.name}}</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <div v-for="(list_detail, i) in list_form.list_details">
                           <div class="d-flex">
                               <span>{{list_detail.name}} ?{{list_detail.id}}<span v-if="list_detail.colectii.length > 0"> | Pentru seriile:</span></span>
                               <div v-for="(colectie, ind) in list_detail.colectii">
                                   <span> {{colectie.serie.name}},</span>
                               </div>
                           </div>
                            <v-text-field label="Pret" v-model="list_detail.value"></v-text-field>
                        </div>

                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" text @click="saveExtension">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar
            v-model="snackbar"
            :color="notify.color"
            :right="notify.right"
            :timeout="notify.timeout"
            :top="notify.top"
        >
            {{ notify.text }}
            <v-btn
                dark
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        name: "ExtensionConfig",
        data(){
            return {
                lists: [],
                list_form: {},
                dialog: false,

                notify: {
                    color: 'success',
                    right: 'right',
                    timeout: 4000,
                    top: 'top',
                    text: 'Cosul este gol'
                },
                snackbar: false,
            }
        },

        created() {
            this.getList();
        },

        methods: {
            getList(){
                axios.get('/axios/get-settings-list').then(response => {
                    this.errors = [];
                    if (response.data.status == 'success') {
                       this.lists = response.data.list;
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            },

            openEditList(list){
                this.list_form = list;
                this.dialog = true;
            },

            saveExtension() {
                axios.post('/axios/save-settings-list', this.list_form).then(response => {
                    this.errors = [];
                    if (response.data.status == 'success') {
                        this.snackbar = true;
                        this.notify.text = 'Datele au fost modificate/salvate cu succes!';
                    }
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }

                });
            }
        }
    }
</script>

<style scoped>

</style>
