<template>
    <div>
        <footer></footer>
        <main>
            <div>
                <table class="invoice-table">
                    <tr class="header">
                        <td style="width: 5%">Nr.crt</td>
                        <td>Denumirea produselor sau a serviciilor</td>
                        <td style="width: 5%">U.M.</td>
                        <td style="width: 5%">Cant.</td>
                    </tr>

                    <tr class="obj" v-for="(foaie, index) in foaie_de_usa_result">
                        <td style="width: 5%"></td>
                        <td style="text-align: left">FOAIE DE USA | Seria: {{foaie.seria}} |
                            Culoare: {{foaie.culoare}} <span
                                v-if="foaie.window != null">| Insertie {{foaie.window}}</span> |
                            {{foaie.inaltime}}x{{foaie.latime}}mm
                            Muchie:{{foaie.muchii}}
                        </td>
                        <td style="width: 5%">pcs</td>
                        <td style="width: 5%">{{foaie.quantity}}</td>
                    </tr>

                    <tr class="obj" v-for="(balama, index) in get_balamale">
                        <td style="width: 5%"></td>
                        <td style="text-align: left">Balama: {{balama.tip_balama}}</td>
                        <td style="width: 5%">pcs</td>
                        <td style="width: 5%">{{balama.quantity}}</td>

                    </tr>

                    <tr class="obj" v-for="(broasca, index) in get_broasca">
                        <td style="width: 5%"></td>
                        <td style="text-align: left">Broasca: {{broasca.broasca}}</td>
                        <td style="width: 5%">pcs</td>
                        <td style="width: 5%">{{broasca.quantity}}</td>
                    </tr>
                    <tr class="obj" v-for="(extensii_orizontale, index) in get_extensii_orizontale">
                        <td style="width: 5%"></td>
                        <td style="text-align: left">Extensii orizontale: {{extensii_orizontale.latime}}mm x {{extensii_orizontale.lungime}}mm | <span>Culoare: {{extensii_orizontale.culoare}}</span></td>
                        <td style="width: 5%">pcs</td>
                        <td style="width: 5%">{{extensii_orizontale.quantity}}</td>
                    </tr>

                    <tr class="obj" v-for="(extensii_verticale, index) in get_extensii_verticale">
                        <td style="width: 5%"></td>
                        <td style="text-align: left">Extensii verticale: {{extensii_verticale.latime}}mm x {{extensii_verticale.lungime}}mm | <span>Culoare: {{extensii_verticale.culoare}}</span></td>
                        <td style="width: 5%">pcs</td>
                        <td style="width: 5%">{{extensii_verticale.quantity}}</td>
                    </tr>

                    <tr class="obj" v-for="(grinda, index) in get_grinda">
                        <td style="width: 5%"></td>
                        <td style="text-align: left">GRINDA | Culoare: {{grinda.culoare}} Grosime
                            canat:{{grinda.grosime_canat}}mm | Latime: {{grinda.latime}}mm | Latime toc:
                            {{grinda.latime_toc}}mm | Pervaz: {{grinda.pervaz}}mm
                        </td>
                        <td style="width: 5%">pcs</td>
                        <td style="width: 5%">{{grinda.quantity}}</td>
                    </tr>

                    <tr class="obj" v-for="(traverse, index) in get_traverse">
                        <td style="width: 5%"></td>
                        <td style="text-align: left">TRAVERSE | Culoare: {{traverse.culoare}} Grosime
                            canat:{{traverse.grosime_canat}}mm | Inaltime: {{traverse.inaltime}}mm | Latime toc:
                            {{traverse.latime_toc}}mm | Pervaz: {{traverse.pervaz}}mm
                        </td>
                        <td style="width: 5%">pcs</td>
                        <td style="width: 5%">{{traverse.quantity}}</td>
                    </tr>


                    <tr class="footer">
                        <td colspan="7" style="text-align: left">Comanda #{{invoice_id}}</td>
                    </tr>
                </table>
            </div>

        </main>
    </div>
</template>

<script>
    export default {
        name: "GroupManufacturePdf",
        props: ['groupid'],
        data() {
            return {
                groups: [],
                total: 0,
                invoice_id: 0,
                foaie_de_usa_result: [],
            }
        },

        // mounted() {
        //     let t = document.head.querySelector('meta[name="csrf-token"]');
        //
        //     if (t) {
        //         this.token = t.content;
        //     } else {
        //         console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        //     }
        //
        // },

        created() {
            this.getGroups();
        },


        methods: {
            getGroups() {
                axios.get('/axios/get-group/' + this.groupid).then(response => {
                    this.groups = response.data.group.combine_product;
                    this.total = response.data.group.group_sum;
                    this.invoice_id = response.data.group.id;
                    this.get_foaie_de_usa();
                }).catch(error => {
                    if(error.response){
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                    }
                });
            },

            get_foaie_de_usa() {
                let obj = this.groups;
                let res = [];


                const foaie = this.groups.filter(f => f.foaie_de_usa);
                // console.log(foaie);
                // obj.forEach((it, ii) => {
                //     it.forEach((iti, iii) => {
                //         if (iti.foaie_de_usa) {
                //             res[iii] = iti.foaie_de_usa;
                //         }
                //     });
                // });ddffdfd

                let toate_foi_de_usa = [];

                res = obj.map(function (currentValue, index, array) {
                    return currentValue.map(function (currentValueL2, index2, array2) {
                        if (currentValueL2.hasOwnProperty('foaie_de_usa')) {
                            toate_foi_de_usa.push(currentValueL2.foaie_de_usa);
                        }


                        // if (currentValue.foaie_de_usa.colectia_id.length){}
                        //
                        // console.log(currentValue.foaie_de_usa);
                        // if (typeof currentValue.foaie_de_usa !== "undefined") { return currentValue.foaie_de_usa }




                    });
                });

                // console.log(res, 'res');

                this.foaie_de_usa_result = toate_foi_de_usa.reduce(function (r, a) {
                    !r.some(function (b) {
                        if (a.culoare === b.culoare && a.latime === b.latime && a.inaltime === b.inaltime && a.muchii === b.muchii && a.grosime_canat === b.grosime_canat && a.seria === b.seria) {
                            b.quantity += a.quantity;
                            b.total += a.total;
                            return true
                        }
                    }) && r.push({
                        culoare: a.culoare,
                        latime: a.latime,
                        inaltime: a.inaltime,
                        muchii: a.muchii,
                        grosime_canat: a.grosime_canat,
                        seria: a.seria,
                        quantity: a.quantity,
                        price: a.price,
                        total: a.total

                    });

                    return r;
                }, []);
            }

        },

        computed: {
            grouped_products() {
                let grouped = [];
                let end = [];
                this.groups.forEach((item, i) => {
                    grouped[i] = item;
                });

                grouped.forEach((ite, ii) => {
                    end[ii] = ite;
                });
                return end;
            },

            get_balamale() {
                let obj = this.groups;
                let result = [];
                obj.forEach((it, ii) => {
                    it.forEach((iti, iii) => {
                        if (iti.balamale) {
                            result[iii] = iti.balamale;
                        }
                    });
                });

                return result.reduce(function (r, a) {
                    !r.some(function (b) {
                        if (a.tip_balama == b.tip_balama) {
                            b.quantity += a.quantity;
                            b.total += a.total;
                            return true;
                        }
                    }) && r.push({
                        tip_balama: a.tip_balama,
                        quantity: a.quantity,
                        price: a.price,
                        total: a.total
                    });
                    return r;
                }, []);
            },

            get_broasca() {
                let obj = this.groups;
                let result = [];
                obj.forEach((it, ii) => {
                    it.forEach((iti, iii) => {
                        if (iti.broasca) {
                            result[iii] = iti.broasca;
                        }

                    });
                });

                return result.reduce(function (r, a) {
                    !r.some(function (b) {
                        if (a.broasca === b.broasca) {
                            b.quantity += a.quantity;
                            b.total += a.total;
                            return true;
                        }
                    }) && r.push({
                        broasca: a.broasca,
                        quantity: a.quantity,
                        price: a.price,
                        total: a.total
                    });
                    return r;
                }, []);
            },

            get_extensii_orizontale() {
                let obj = this.groups;
                let result = [];
                obj.forEach((it, ii) => {
                    it.forEach((iti, iii) => {
                        if (iti.extensii_orizontale) {
                            result[iii] = iti.extensii_orizontale;
                        }

                    });
                });

                return result.reduce(function (r, a) {
                    !r.some(function (b) {
                        if (a.latime === b.latime && a.culoare === b.culoare && a.lungime === b.lungime) {
                            b.quantity += a.quantity;
                            b.total += a.total;
                            return true;
                        }
                    }) && r.push({
                        latime: a.latime,
                        lungime: a.lungime,
                        culoare: a.culoare,
                        quantity: a.quantity,
                        price: a.price,
                        total: a.total
                    });
                    return r;
                }, []);
            },

            get_extensii_verticale() {
                let obj = this.groups;
                let result = [];
                obj.forEach((it, ii) => {
                    it.forEach((iti, iii) => {
                        if (iti.extensii_verticale) {
                            result[iii] = iti.extensii_verticale;
                        }

                    });
                });

                return result.reduce(function (r, a) {
                    !r.some(function (b) {
                        if (a.latime === b.latime && a.culoare === b.culoare && a.lungime === b.lungime) {
                            b.quantity += a.quantity;
                            b.total += a.total;
                            return true;
                        }
                    }) && r.push({
                        culoare: a.culoare,
                        latime: a.latime,
                        lungime: a.lungime,
                        quantity: a.quantity,
                        price: a.price,
                        total: a.total
                    });
                    return r;
                }, []);
            },

            get_grinda() {
                let obj = this.groups;
                let result = [];
                obj.forEach((it, ii) => {
                    it.forEach((iti, iii) => {
                        if (iti.grinda) {
                            result[iii] = iti.grinda;
                        }

                    });
                });

                let reduced = result.reduce(function (r, a) {
                    !r.some(function (b) {
                        if (a.culoare === b.culoare && a.grosime_canat === b.grosime_canat && a.latime === b.latime && a.latime_toc === b.latime_toc && a.pervaz === b.pervaz) {
                            b.quantity += a.quantity;
                            b.total += a.total;
                            return true;
                        }
                    }) && r.push({
                        culoare: a.culoare,
                        grosime_canat: a.grosime_canat,
                        latime: a.latime,
                        latime_toc: a.latime_toc,
                        pervaz: a.pervaz,
                        quantity: a.quantity,
                        price: a.price,
                        total: a.total
                    });
                    return r;
                }, []);
                return reduced;
            },

            get_traverse() {
                let obj = this.groups;
                let result = [];
                obj.forEach((it, ii) => {
                    it.forEach((iti, iii) => {
                        if (iti.traverse_verticale) {
                            result[iii] = iti.traverse_verticale;
                        }

                    });
                });

                let reduced = result.reduce(function (r, a) {
                    !r.some(function (b) {
                        if (a.culoare === b.culoare && a.grosime_canat === b.grosime_canat && a.inaltime === b.inaltime && a.latime_toc === b.latime_toc && a.pervaz === b.pervaz) {
                            b.quantity += a.quantity;
                            b.total += a.total;
                            return true;
                        }
                    }) && r.push({
                        culoare: a.culoare,
                        grosime_canat: a.grosime_canat,
                        inaltime: a.inaltime,
                        latime_toc: a.latime_toc,
                        pervaz: a.pervaz,
                        quantity: a.quantity,
                        price: a.price,
                        total: a.total
                    });
                    return r;
                }, []);
                return reduced;
            },

        }

    }
</script>

<style scoped>

</style>
