<template>
    <div>
        <div class="container">
            <h3>Facturi catre fabrica</h3>
        </div>
        <div class="container">

            <div class="item" v-for="(group, index) in groupOrder" :key="index">
                <div class="pdf">
                    <v-btn class="ma-2" outlined small color="indigo" @click="getGroupPdf(group.id)">Fabrica
                        <v-icon dark>mdi-download</v-icon>
                    </v-btn>
                    <v-btn class="ma-2" outlined small color="indigo" @click="getGroupPdf(group.id)">Parteneri</v-btn>
                </div>
                <div class="nr">
                    <span>#{{group.id}}</span>
                    <span>{{$moment(group.created_at).format('DD/MM/YYYY')}}</span>
                </div>
                <div class="price">
                    <span class="def">Valoare grup facturi</span>
                    <span class="pric">{{Math.round(group.group_sum * 100) / 100}} euro</span>
                </div>
                <div class="price-tax">
                    <span class="def">Cu taxe (19%)</span>
                    <span class="pric">{{Math.round(group.group_sum * 100 * 1.19) / 100}} euro</span>
                </div>
                <div class="action-btn">
                    <v-btn class="mx-2" v-if="group.delivered == 0" @click="endOrder(group.id, 1)" dark small color="error">
                        Finalizeaza comanda
                    </v-btn>
                    <v-btn class="mx-2" v-if="group.delivered == 1" @click="endOrder(group.id, 0)" dark small color="primary">
                        Comanda expediata
                    </v-btn>
                </div>
            </div>
<!--            <div class="text-center">-->
<!--                <v-pagination-->
<!--                    v-model="page"-->
<!--                    :length="4"-->
<!--                    circle-->
<!--                ></v-pagination>-->
<!--            </div>-->
        </div>
        <div class="container">
            <v-alert
                v-if="groupOrder.length == 0"
                prominent
                type="error">
                <v-row align="center">
                    <v-col class="grow">Nu sunt facturi disponibile momentan</v-col>
                    <v-col class="shrink">
                        <v-btn >Ok</v-btn>
                    </v-col>
                </v-row>
            </v-alert>
        </div>
    </div>
</template>

<script>
    export default {
        name: "GroupOrderDetails",
        data(){
            return {
                groupOrder: [],

                errors: [],
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
        },

        created() {
            this.getGroups();
        },

        methods: {
            endOrder(id, status){
                axios.get('/axios/end-group-orders/'+id+'/'+status).then(response => {
                    if (response.data.status == 'success') {
                        this.getGroups();
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            getGroupPdf(group_id) {
                window.open('/cabinet/operator/get-group/' + group_id, '_blank');
            },

            getGroups(){
                axios.get('/axios/get-groups').then(response => {
                    this.groupOrder = response.data.groupOrder;
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },
        }
    }
</script>

<style lang="scss" scoped>
    .filters {
        display: flex;
    }

    .invoice-table {
        .is_grey_row {
            background-color: #d2d2d2;
        }

        .is_total_row {
            background-color: #b5a4c7;
        }


    }

    .container {
        .filters {
            display: flex;
            box-shadow: 0px 0px 2px #b9b6b6;
            padding: 0px 10px;
            border-radius: 3px;
        }

        .itm-total {
            background-color: #f9f9f9;

            .action-btn-total{
                padding: 20px 0;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: ".";
            }
        }

        .item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: ". . . . .";
            justify-content: space-between;
            box-shadow: 0px 0px 2px #b9b6b6;
            padding: 4px 10px;
            border-radius: 3px;
            margin-bottom: 5px;

            .pdf {
                padding: 12px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: ". .";
            }

            .nr {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .price {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .price-tax {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .action-btn {
                padding: 20px 0;
                text-align: center;
                display: grid;
                /*grid-template-columns: 1fr 1fr;*/
                /*grid-template-areas: ". .";*/
            }
        }
    }
</style>
