<template>
    <div>
        <div class="filters">
            <v-container fluid>
                <!--                <v-row>-->
                <v-radio-group v-model="typeinvoice" row>
                    <v-radio label="Facturi noi" value="2"></v-radio>
                    <v-radio label="Facturi spre comanda" value="3"></v-radio>
                    <!--                    <v-radio label="Facturi livrate" value="4"></v-radio>-->
                </v-radio-group>
                <!--                </v-row>-->

                <v-row>
                    <h3 v-if="typeinvoice == '2'">Facturi noi</h3>
                    <h3 v-if="typeinvoice == '3'">Facturi spre comanda GRUPA #{{groupid}}</h3>
                    <h3 v-if="typeinvoice == '4'">Facturi finisate</h3>
                </v-row>
            </v-container>

        </div>
        <div class="container">
            <!--            ## TOTAL ##-->
            <div class="item itm-total" v-if="invoices.length > 0 && typeinvoice == '3'">
                <div class="pdf">
                    <v-btn class="ma-2" outlined small color="indigo">Grup detalii
                        <v-icon dark>mdi-information-outline</v-icon>
                    </v-btn>
                </div>
                <div class="nr">
                    <span></span>
                    <span></span>
                </div>
                <div class="price">
                    <span class="def">Total fara taxe</span>
                    <span class="pric">{{total_invoices_tva}} euro</span>
                </div>
                <div class="price-tax">
                    <span class="def">Total cu taxe (19%)</span>
                    <span class="pric">{{total_invoices_partener_tva}} euro</span>
                </div>
                <div class="action-btn-total">
                    <v-btn class="mx-2" dark small color="warning" @click="sendToManufacture">
                        Catre fabrica
                        <v-icon dark>mdi-arrow-right</v-icon>
                    </v-btn>
                </div>
            </div>

            <div class="item" v-for="(invoice, index) in invoices" :key="index">
                <div class="pdf">
                    <v-btn class="ma-2" outlined small color="indigo" @click="showInvoice(invoice.id)">Detalii</v-btn>
                    <v-btn class="ma-2" outlined small color="indigo" @click="showInvoiceExcel(invoice.id)"><v-icon dark>mdi-download</v-icon></v-btn>
                </div>
                <div class="nr">
                    <span>#{{invoice.id}}</span>
                    <span>{{$moment(invoice.created_at).format('DD/MM/YYYY')}}</span>
                </div>
                <div class="nr">
                    <span>Email: {{invoice.user_info.email}}</span>
                    <span>Pentru: {{invoice.pentru_cine}}</span>
                </div>
                <div class="price">
                    <span class="def">Valoare factura</span>
                    <span class="pric">{{Math.round(invoice.invoice_sum * 100) / 100}} - {{invoice.user_info.user_info.discount}}% = {{invoice.total_with_discount}} euro</span>
                </div>
                <div class="price-tax">
                    <span class="def">Cu taxe (19%)</span>
                    <span class="pric">{{Math.round(invoice.total_with_discount * 100 * 1.19) / 100}} euro</span>
                </div>
                <div class="action-btn">
                    <v-btn class="mx-2" v-if="invoice.process == 2" dark small color="primary"
                           @click="invoiceState(invoice.id, 3)">
                        La comanda
                    </v-btn>
                    <v-btn class="mx-2" v-if="invoice.process == 2" dark small color="red"
                           @click="afterDeleteInvoice(invoice.id)">
                        Anuleaza
                    </v-btn>
                    <!--                    <v-btn class="mx-2" v-if="invoice.process == 2" dark small color="secondary">-->
                    <!--                        Editare-->
                    <!--                    </v-btn>-->
                    <v-btn v-if="invoice.process == 3" class="mx-2" dark small color="error"
                           @click="invoiceState(invoice.id, 2)">
                        Anuleaza
                    </v-btn>
                </div>
            </div>


        </div>
        <v-dialog v-model="acceptDeletionModal" persistent max-width="500">
            <v-card>
                <v-card-title class="headline">Doriti sa stergeti factura nr. #{{invoice_id_del}}?</v-card-title>
                <v-card-text>
                    <div class="d-flex justify-content-center">
                        <svg style="width:50px;height:50px" viewBox="0 0 24 24">
                            <path fill="#ff4444" d="M2.2,16.06L3.88,12L2.2,7.94L6.26,6.26L7.94,2.2L12,3.88L16.06,2.2L17.74,6.26L21.8,7.94L20.12,12L21.8,16.06L17.74,17.74L16.06,21.8L12,20.12L7.94,21.8L6.26,17.74L2.2,16.06M13,17V15H11V17H13M13,13V7H11V13H13Z" />
                        </svg>
                    </div>
                   <div class="d-block">
                       Sunteti spre cale de a sterge definitiv factura curenta.<br>
                       Sigur doriti sa o stergeti?
                   </div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green darken-1" text @click="acceptDeletionModal = false">Nu, anulare!</v-btn>
                    <v-btn color="red darken-1" text @click="deleteInvoice(invoice_id_del)">Da, merg mai departe</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <div class="container">
            <v-alert
                prominent
                type="error"
                v-if="invoices.length == 0">
                <v-row align="center">
                    <v-col class="grow">Nu sunt facturi disponibile momentan</v-col>
                    <v-col class="shrink">
                        <v-btn @click="emptycart = !emptycart">Ok</v-btn>
                    </v-col>
                </v-row>
            </v-alert>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Invoices",
        data() {
            return {
                invoices: [],
                reverse: false,
                errors: [],
                show_error: false,
                token: '',

                emptycart: false,
                groupid: '',

                acceptDeletionModal: false,
                invoice_id_del: 0,

                typeinvoice: '2',
                total_invoices_tva: 0,
                total_invoices_partener_tva: 0,

            }
        },

        watch: {
            typeinvoice() {
                this.getInvoice()
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
        },

        created() {
            this.getInvoice();
        },

        methods: {
            sendToManufacture() {
                axios.get('/axios/operator-invoices-sendToManufacture/' + this.groupid).then(response => {
                    if (response.data.status == 'success') {
                        this.getInvoice()
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            showInvoice(id) {
                window.open('/cabinet/operator/pdf/' + id, '_blank');
            },

            showInvoiceExcel(id) {
                window.open('/cabinet/operator/excel/' + id, '_blank');
            },

            invoicePdf(group_id, order_id) {
                window.open('/get-pdf/' + group_id + '/' + order_id, '_blank');
            },

            invoiceState(invoice_id, process) {
                axios.get('/axios/operator-invoices-state/' + process + '/' + invoice_id).then(response => {
                    if (response.data.status == 'success') {
                        this.getInvoice()
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            getInvoice() {
                axios.get('/axios/get-operator-invoices/' + this.typeinvoice).then(response => {
                    if (response.data.invoices.length > 0) {
                        this.invoices = response.data.invoices;
                        this.groupid = response.data.invoices[0].group_id;
                        this.total_invoices_tva = response.data.total_invoices_tva;
                        this.total_invoices_partener_tva = response.data.total_invoices_partener_tva;
                    } else {
                        this.invoices = [];
                        this.groupid = '';
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            afterDeleteInvoice(invoice_id){
                this.invoice_id_del = invoice_id;
                this.acceptDeletionModal = true
            },

            deleteInvoice(invoice_id) {
                axios.get('/axios/delete-operator-invoices/' + invoice_id).then(response => {
                    if (response.data.status == 'success') {
                        this.invoice_id_del = 0;
                        this.acceptDeletionModal = false;
                        this.getInvoice();
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            }
        },

        computed: {
            totalItem() {
                var total = [];

                if (this.invoices.length > 0) {
                    this.invoices.forEach((inv, i) => {
                        inv.carts.forEach((it, ii) => {


                            total = parseFloat(it.foaie_de_usa_total_price) + parseFloat(it.traversa_verticala_price) + parseFloat(it.grinda_price) + parseFloat(it.balama_price) + parseFloat(it.broasca_price);
                        });

                    });
                    return total;
                }
            },

            totalInvoice() {
                var total = [];

                if (this.invoices.length > 0) {
                    this.invoices.forEach((el, i) => {
                        total[i] = parseFloat(el.balamale.sum_balama_price_Eclipse) + parseFloat(el.broaste.sum_broasca_price_Cilindru) + parseFloat(el.broaste.sum_broasca_price_Wc) + parseFloat(el.usi.sum_foaie_de_usa_total_price) + parseFloat(el.usi.sum_grinda_price) + parseFloat(el.usi.sum_traversa_verticala_price)


                    });
                }
                return total;

            }
        }
    }
</script>

<style lang="scss" scoped>
    .filters {
        display: flex;
    }

    .invoice-table {
        .is_grey_row {
            background-color: #d2d2d2;
        }

        .is_total_row {
            background-color: #b5a4c7;
        }


    }

    .container {
        .filters {
            display: flex;
            box-shadow: 0px 0px 2px #b9b6b6;
            padding: 0px 10px;
            border-radius: 3px;
        }

        .itm-total {
            background-color: #f9f9f9;

            .action-btn-total {
                padding: 20px 0;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas: ".";
            }
        }

        .item {
            display: grid;
            grid-template-columns: 1.2fr 1fr 1.5fr 1.5fr 1fr 1.5fr;
            grid-template-areas: ". . . . . .";
            justify-content: space-between;
            box-shadow: 0px 0px 2px #b9b6b6;
            padding: 4px 10px;
            border-radius: 3px;
            margin-bottom: 5px;

            .pdf {
                padding: 12px 0;
            }

            .nr {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: auto;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .price {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .price-tax {
                display: grid;
                text-align: center;
                height: fit-content;
                padding: 12px 0;

                span {
                    height: 20px;
                    font-weight: 600;
                }

                span:first-child {
                    color: #868383;
                }
            }

            .action-btn {
                padding: 20px 0;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: ". .";
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .container .item .nr span {
            height: auto;
        }

        .container .item .action-btn {
            grid-template-columns: 1fr;
            grid-template-areas: ".";
        }
    }

    @media only screen and (max-width: 1334px) {
        .container .item .nr span {
            height: auto;
        }

        .container .item .action-btn {
            grid-template-columns: 1fr;
            grid-template-areas: ".";
        }
    }
</style>
