<template>
    <div>
        <div class="action-btn">
            <v-btn @click="newProduct" class="mx-2" fab dark color="indigo">
                <v-icon dark>mdi-plus</v-icon>
            </v-btn>
        </div>
        <div class="items">
            <div class="item" v-for="(product, index) in products" :key="index">
                <div class="img">
                    <img :src="product.image" alt="">
                </div>
                <div class="char">
                    <span class="name">{{product.name}}</span>
                    <span class="price">{{product.price}} euro</span>
                </div>
                <div class="act-btn">
                    <v-btn depressed small color="primary" @click="editProductOpen(product)">Edit</v-btn>
                    <v-btn depressed small color="error" @click="GetDelete(product.id)">Delete</v-btn>
                </div>
            </div>
        </div>

        <v-dialog
            v-model="addproduct"
            max-width="290"
        >
            <v-card>
                <v-card-title class="headline">Modul adugare mânere</v-card-title>

                <v-card-text>
                    <v-text-field
                        class="mr-2"
                        v-model="form.name"
                        label="Denumire"
                        outlined
                        dense
                    ></v-text-field>
                    <v-text-field
                        class="mr-2"
                        v-model="form.price"
                        label="Pretul"
                        type="number"
                        outlined
                        dense
                    ></v-text-field>
                    <div class="input-group mb-3">
                        <div class="custom-file file-size">
                            <input accept="image/jpeg, image/png" v-on:change=uploadImage type="file"
                                   class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01" v-if="imgSelected == ''">Alege imagine</label>
                            <label class="custom-file-label" for="inputGroupFile01" v-else>Selectata</label>
                        </div>
                    </div>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="addproduct = false"
                    >
                        Anuleaza
                    </v-btn>

                    <v-btn
                        color="green darken-1"
                        text
                        @click="saveProduct"
                    >
                        Salveaza
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        name: "Minere",
        data() {
            return {
                products: [],

                addproduct: false,

                editOrNew: 0,

                imgSelected: '',

                form: {
                    id: '',
                    image: '',
                    name: '',
                    price: '',
                },

                notify: {
                    color: 'success',
                    right: 'right',
                    timeout: 4000,
                    top: 'top',
                    text: 'pretul a fost modificat cu succes'
                },
                snackbar: false,

                errors: [],
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
        },

        created() {
            this.GetProducts();
        },

        methods: {
            newProduct() {
                this.addproduct = !this.addproduct;
                this.form.image = '';
                this.form.name = '';
                this.form.id = '';
                this.form.price = '';
                this.imgSelected = '';
            },

            uploadImage(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.form.image = e.target.result;
                    this.imgSelected = 'Selected'
                };

                reader.readAsDataURL(file);
            },

            saveProduct() {
                axios.post('/axios/save-minere', this.form).then(response => {
                    if (response.data.status == 'success') {
                        this.addproduct = false;
                        this.form.image = '';
                        this.form.name = '';
                        this.form.price = '';
                        this.snackbar = true;
                        this.notify.text = 'Produsul a fost adugat cu succes';
                        this.GetProducts();

                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            GetProducts() {
                axios.get('/axios/get-minere').then(response => {
                    if (response.data.status == 'success') {
                        this.products = response.data.minere;
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            GetDelete(id) {
                axios.get('/axios/delete-minere/' + id).then(response => {
                    if (response.data.status == 'success') {
                        this.GetProducts();
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            editProductOpen(product) {
                this.addproduct = true;
                this.form.id = product.id;
                this.form.name = product.name;
                this.form.price = product.price;
                this.form.image = '';
                this.editOrNew = 1;
                this.imgSelected = '';
            },
        }
    }
</script>

<style lang="scss" scoped>
    .action-btn {
        margin-top: 20px
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". . . .";

        .item {
            margin: 20px;
            padding: 16px;
            box-shadow: 0px 2px 5px 0px #3f50b545;
            text-align: center;
            width: 200px;

            .img {
                width: 150px;
                height: 150px;
                margin: 0 auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .char {
                display: grid;
                margin: 10px 0;

                .price {
                    font-size: 16px;
                    font-weight: 600;
                }

                .name {

                }
            }

            .act-btn {

            }
        }
    }
</style>
