<template>
    <div>
        <div class="m-4">
            <v-btn @click="newPartnerData()" color="primary">Adaugare partener nou!</v-btn>
        </div>
        <div class="items">
            <div class="item" v-for="(partener, index) in getpartners"
                 :key="index">
                <v-card
                    :loading="loading"
                    class="mx-auto"
                    max-width="374"

                >
                    <v-card-title class="fs-14">{{partener.name}}</v-card-title>

                    <v-card-text>
                        <v-row
                            align="center"
                            class="mx-0"
                        >
                            <!--                            <v-rating-->
                            <!--                                :value="4.5"-->
                            <!--                                color="amber"-->
                            <!--                                dense-->
                            <!--                                half-increments-->
                            <!--                                readonly-->
                            <!--                                size="14"-->
                            <!--                            ></v-rating>-->

                            <!--                            <div class="grey&#45;&#45;text ml-4">4.5 (413)</div>-->
                        </v-row>

                        <div class="my-4 subtitle-1 black--text">
                            {{partener.phone}}
                        </div>

                        <div>
                            <p>email: {{partener.email}}</p>
                            <p>{{partener.work_hour}}</p>
                        </div>
                    </v-card-text>

                    <v-divider class="mx-4"></v-divider>

                    <!--                    <v-card-title>Detalii</v-card-title>-->

                    <v-card-text>
                        <v-chip-group
                            v-model="selection"
                            active-class="deep-purple accent-4 white--text"
                            column
                        >
                            <v-chip>Facturi</v-chip>
                            <v-chip @click="openPartnerData(partener)">Detalii cont</v-chip>
                        </v-chip-group>
                    </v-card-text>
                </v-card>
            </div>
        </div>

        <v-dialog
            v-model="show_details"
            width="500">
            <v-card>
                <v-card-text>
                    <v-text-field
                        v-model="partner_data.name"
                        label="Nume"
                        required
                        :error-messages="errors.name"
                    ></v-text-field>
                    <v-text-field
                        v-model="partner_data.phone"
                        label="Telefon"
                        required
                        :error-messages="errors.phone"
                    ></v-text-field>
                    <v-text-field
                        v-model="partner_data.email"
                        label="Email"
                        :disabled="partner_data.id != ''"
                        required
                        :error-messages="errors.email"
                    ></v-text-field>
                    <v-text-field
                        v-model="partner_data.address"
                        label="Adresa"
                        required
                        :error-messages="errors.address"
                    ></v-text-field>
                    <v-text-field
                        v-model="partner_data.discount"
                        label="Reducere foaie de usa"
                        required
                        :error-messages="errors.discount"
                    ></v-text-field>
                    <v-text-field
                        v-model="partner_data.discount_minere"
                        label="Reducere manere"
                        required
                        :error-messages="errors.discount_minere"
                    ></v-text-field>
                    <v-text-field
                        v-model="partner_data.bank_details"
                        label="Detalii bancare"
                        required
                        :error-messages="errors.bank_details"
                    ></v-text-field>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        text
                        @click="savePartnerData">
                        Salveaza
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-snackbar
            v-model="snackbar"
            :color="notify.color"
            :right="notify.right"
            :timeout="notify.timeout"
            :top="notify.top"
        >
            {{ notify.text }}
            <v-btn
                dark
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </div>
</template>

<script>
    export default {
        name: "Parteners",
        data() {
            return {
                loading: false,
                selection: 1,
                getpartners: [],

                show_details: false,

                partner_data: {
                    id: '',
                    name: '',
                    phone: '',
                    email: '',
                    address: '',
                    discount: '',
                    minere_discount: '',
                    bank_details: '',
                },

                notify: {
                    color: 'success',
                    right: 'right',
                    timeout: 4000,
                    top: 'top',
                    text: 'Cosul este gol'
                },
                snackbar: false,

                errors: [],
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }

        },

        created() {
            this.getPartners();
        },

        methods: {
            getPartners(){
                axios.get('/axios/get-partners').then(response => {
                    this.getpartners = response.data.parteneri;
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            },

            newPartnerData(){
                this.show_details = !this.show_details;
                this.partner_data = {
                    id: '',
                    name: '',
                    phone: '',
                    email: '',
                    address: '',
                    discount: '',
                    discount_minere: '',
                    bank_details: '',
                }
            },

            openPartnerData(data) {
                this.show_details = !this.show_details;

                this.partner_data = {
                    id: data.id,
                    name: data.name,
                    phone: data.phone,
                    email: data.email,
                    address: data.address,
                    discount: data.discount,
                    discount_minere: data.discount_minere,
                    bank_details: data.bank_details,
                }
            },

            savePartnerData() {
                axios.post('/axios/save-partner-data', this.partner_data).then(response => {
                    if (response.data.status == 'success') {
                        this.show_details = false;
                        this.snackbar = true;
                        this.notify.text = 'Partenerul a fost edit cu succes';
                        this.dialogMinere = false;
                        this.getPartners();
                    }

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .fs-14 {
        font-size: 14px;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". . .";
        grid-gap: 15px;
        padding: 20px;

        .item {
            box-shadow: 0px 2px 9px 4px #a4aad070;
        }
    }
</style>
