<template>
    <div>
        <div class="title">
            <h3>Factura numarul #{{invoice_id}} la data de {{$moment(send_date).format('L')}} de la
                <strong>{{de_la}}</strong></h3>
        </div>
        <div class="cart-items">
            <div class="item" v-for="(carts, index) in sum_by_name">
                <div class="item-name" v-for="(cart, i) in carts.items">
                    <!--                    <h4>Pentru:{{cart.pentru_cine}} | Amplasare: {{cart.amplasare}}</h4>-->
                    <div class="specs" v-if="cart.specification.foaie_de_usa">
                   <span>Foaie de usa:
                       {{cart.specification.foaie_de_usa.seria}}
                       {{cart.specification.foaie_de_usa.culoare}}
                       {{cart.specification.foaie_de_usa.window}} |
                       {{cart.specification.foaie_de_usa.inaltime}}cm x {{cart.specification.foaie_de_usa.latime}}cm |
                       Grosime canat: {{cart.specification.foaie_de_usa.grosime_canat}}mm
                       <span class="text-red">{{cart.specification.foaie_de_usa.quantity}}set x {{cart.specification.foaie_de_usa.price}} = {{cart.specification.foaie_de_usa.total}}euro</span>
                   </span>
                    </div>
                    <div class="specs"
                         v-if="cart.specification.traverse">
                   <span>Traverse verticale:
                       {{cart.specification.traverse.culoare}}|
                       {{cart.specification.traverse.inaltime}}cm |
                       Latime toc: {{cart.specification.traverse.latime_toc}}mm |
                       Grosime canat: {{cart.specification.traverse.grosime_canat}}mm |
                       Pervaz: {{cart.specification.traverse.pervaz}}mm
                       <span class="text-red">{{cart.specification.traverse.quantity}}set x {{cart.specification.traverse.price}} = {{cart.specification.traverse.total}} euro</span>
                   </span>
                    </div>
                    <div class="specs" v-if="cart.specification.grinda">
                   <span>Grinda:
                       {{cart.specification.grinda.culoare}} |
                       {{cart.specification.grinda.latime}}cm |
                       Latime toc: {{cart.specification.grinda.latime_toc}}mm |
                       Grosime canat: {{cart.specification.grinda.grosime_canat}}mm |
                       Pervaz: {{cart.specification.grinda.pervaz}}mm
                       <span class="text-red">{{cart.specification.grinda.quantity}}set x {{cart.specification.grinda.price}} = {{cart.specification.grinda.total}} euro</span>
                   </span>
                    </div>
                    <div class="specs"
                         v-if="cart.specification.balamale">
                   <span>Balama: {{cart.specification.balamale.tip_balama}}
                       <span class="text-red">{{cart.specification.balamale.quantity}}set x {{cart.specification.balamale.price}} = {{cart.specification.balamale.total}} euro</span>
                   </span>
                    </div>
                    <div class="specs" v-if="cart.specification.broasca">
                   <span>Broasca: {{cart.specification.broasca.broasca}}
                       <span class="text-red">{{cart.specification.broasca.quantity}}set x {{cart.specification.broasca.price}} = {{cart.specification.broasca.total}} euro</span>
                   </span>
                    </div>
                    <div class="specs"
                         v-if="cart.specification.extensii_verticale">
                   <span>Extensii verticale:
                       {{cart.specification.extensii_verticale.latime}}mm
                       <span class="text-red">{{cart.specification.extensii_verticale.quantity}}set x {{cart.specification.extensii_verticale.price}} = {{cart.specification.extensii_verticale.total}} euro</span>
                   </span>
                    </div>

                    <div class="specs"
                         v-if="cart.specification.extensii_orizontale">
                   <span>Extensii orizontale:
                       {{cart.specification.extensii_orizontale.latime}}mm
                       <span class="text-red">{{cart.specification.extensii_orizontale.quantity}}set x {{cart.specification.extensii_orizontale.price}} = {{cart.specification.extensii_orizontale.total}} euro</span>
                   </span>
                    </div>

                    <div class="specs"
                         v-if="cart.specification.extensii_orizontale">
                   <span>Extensii orizontale:
                       {{cart.specification.extensii_orizontale.latime}}mm
                       <span class="text-red">{{cart.specification.extensii_orizontale.quantity}}set x {{cart.specification.extensii_orizontale.price}} = {{cart.specification.extensii_orizontale.total}} euro</span>
                   </span>
                    </div>

                    <div class="specs"
                         v-if="cart.specification.minere">
                   <span>Miner:{{cart.specification.minere.name}}
                       <span class="text-red">{{cart.specification.minere.quantity}}buc x {{cart.specification.minere.price}} = {{cart.specification.minere.total}} euro</span>
                   </span>
                    </div>
                    <div class="specs"
                         v-if="cart.specification.plinta">
                   <span>Plinta:{{cart.specification.plinta.name}}
                       <span class="text-red">{{cart.specification.plinta.quantity}}buc x {{cart.specification.plinta.price}} = {{cart.specification.plinta.total}} euro</span>
                   </span>
                    </div>
                    <div class="total">
                        <v-btn small class="btn-delete" @click="deleteItemCart(cart.id)">Sterge din comanda</v-btn>
                        <span class="text-red">Subtotal: {{cart.total}}euro</span>
                    </div>


                </div>
                <div class="item-total">
                    <span>Total: {{carts.total}}euro</span>
                </div>
            </div>


            <div class="container">
                <v-alert
                    v-if="carts.length == 0"
                    border="bottom"
                    color="pink darken-1"
                    dark
                >
                    Momentan nu aveti nimic adugat in cos!
                </v-alert>
            </div>

            <div class="total-invoice">
                <span>Total invoice: {{cartsum}}euro | Cu TVA: {{Math.round(cartsum * 1.19 * 100) / 100}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PdfOperator",
        props: ['invoice_id'],
        data() {
            return {
                carts: [],
                cartsum: 0,
                sum_by_name: [],
                form: {
                    invoice_id: 0,
                },

                send_date: '',
                de_la: '',

                errors: [],
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
            this.getCart();
        },

        methods: {
            // stergere element din cos
            deleteItemCart(id) {
                axios.get('/axios/delete-item-cart/' + id).then(response => {
                    this.getCart();
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.selectErrors();
                    }
                });
            },

            // scoatere cos de cumparaturi
            getCart() {

                axios.get('/axios/get-cart-pdf-operator/' + this.invoice_id).then(response => {

                    if (response.data.status == 'success') {
                        this.carts = response.data.cart;
                        this.cartsum = Math.round(response.data.total * 100) / 100;
                        this.form.invoice_id = response.data.cart_id;
                        this.sum_by_name = response.data.sum_by_name;
                        this.send_date = response.data.send_date;
                        this.de_la = response.data.de_la;

                    }

                    if (response.data.status == 'nocart') {
                        this.form.invoice_id = '';
                        this.carts = [];
                        this.cartsum = [];
                    }

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        // this.selectErrors();
                    }

                });

            },

        }
    }
</script>

<style lang="scss" scoped>

    .title {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .total-invoice {
        box-shadow: 0px 1px 4px 1px #cac9c9;
        margin: 16px;
        padding: 16px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        background-color: #000;

        span {
            font-size: 25px;
            color: white;
        }
    }

    .cart-items {
        margin-bottom: 150px;

        .item {
            box-shadow: 0px 1px 4px 1px #cac9c9;
            margin: 16px;
            padding: 16px;

            .item-name {
                /*border-bottom: 2px solid;*/
                padding-bottom: 10px;
                padding-top: 5px;
            }

            .specs {
                span {
                    display: flex;
                    justify-content: space-between;
                }

                .text-red {
                    font-size: 16px;
                    font-weight: 700;
                    color: #bf6a6a;
                }

                &:hover {
                    background-color: #f1f1f1;
                }

                &:nth-child(odd) {
                    background-color: #f1f1f1;

                    &:hover {
                        background-color: #fff;
                    }
                }
            }

            .total {
                display: flex;
                justify-content: space-between;
                background-color: #dcdbd9;

                .text-red {
                    font-size: 16px;
                    font-weight: 700;
                    color: #e03131;
                }
            }

            .btn-delete {
                /*margin-top: 10px;*/
                background-color: #e3342f !important;
                color: white;
            }

            .item-total {
                display: flex;
                justify-content: center;
                background-color: #312d35;
                margin-top: 10px;

                span {
                    font-size: 25px;
                    color: white;
                }
            }
        }

        .action-btn {
            margin: 0 16px;
            float: right;
        }
    }

</style>
