<template>
    <div>
        <v-app-bar app color="indigo" dark class="d-flex justify-content-end">
            <div>
                <v-btn class="mx-2" fab dark color="success" v-if="e1 > 1" @click="backStep(e1)">
                    <v-icon dark>mdi-arrow-left</v-icon>
                </v-btn>

                <v-btn class="mx-2" fab dark color="pink" @click.stop="doorMenu = !doorMenu">
                    <v-icon dark>mdi-plus</v-icon>
                </v-btn>
            </div>
        </v-app-bar>

        <v-divider></v-divider>
        <v-navigation-drawer
            class="nav-distance-door"
            v-model="doorCart"
            absolute
            temporary
            right
        >

            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Comenzile tale</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>
            <v-list>
                <v-list-item
                    value="true"
                    link
                >
                    <template>
                        <v-list-item-action>
                            <v-icon>mdi-door</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>Seria</v-list-item-title>
                    </template>

                </v-list-item>

            </v-list>


        </v-navigation-drawer>
        <v-navigation-drawer
            class="nav-distance-door"
            v-model="doorMenu"
            absolute
            temporary
            right
        >

            <v-list-item>
                <v-list-item-content>
                    <v-list-item-title>Alege seria dorita</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-divider></v-divider>
            <v-list>
                <v-list-item
                    value="true"
                    v-for="(serie, i) in doors" :key="i"
                    link
                    @click="getDoors(serie.id)"
                >
                    <!--                    @click="selectSeries(serie.products, serie.id)"-->

                    <template>
                        <v-list-item-action>
                            <v-icon>mdi-door</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>Seria {{ serie.name }}</v-list-item-title>
                    </template>

                </v-list-item>

            </v-list>


        </v-navigation-drawer>

        <v-stepper
            v-model="e1"
            :vertical="vertical"
            :alt-labels="altLabels"
        >
            <template>
                <v-stepper-header>
                    <v-stepper-step step="1" complete v-if="form.seria != ''">{{ form.seria }}</v-stepper-step>
                    <v-stepper-step step="1" complete v-else>Modele</v-stepper-step>
                    <v-divider></v-divider>

                    <v-stepper-step step="2" v-if="form.color != ''">{{ form.color }}</v-stepper-step>
                    <v-stepper-step step="2" v-else>Culori</v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step step="3" v-if="form.window != ''">{{ form.window }}</v-stepper-step>
                    <v-stepper-step step="3" v-else>Sticla</v-stepper-step>

                    <v-divider></v-divider>

                    <v-stepper-step step="4" v-if="form.price != ''">Pret: {{ form.price }}</v-stepper-step>
                    <v-stepper-step step="4" v-else>Configurare</v-stepper-step>
                </v-stepper-header>

                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-card class="mb-12">
                            <div class="product-items">
                                <div class="item add-new" @click="addNewProduct(0)">
                                    <div class="img">
                                        <img src="/images/door-img.jpg" alt="">
                                        <v-icon>mdi-playlist-plus</v-icon>
                                    </div>
                                    <div class="action">
                                        <span>Adauga usa</span>
                                    </div>
                                    <div class="info-door">

                                    </div>
                                </div>
                                <draggable class="product-items" v-model="product" group="people" @start="updateBoard"
                                           @end="newIndex" @change="changeOrdering">
                                    <div class="item" v-for="(usa, index) in product" :key="index">
                                        <div class="img" @click="selectColors(usa.colors, usa.name, index, usa.id)">
                                            <img v-if="usa.colors.length > 0"
                                                 :src="'/images/catalog/'+usa.colors[0].image" alt="">
                                            <div class="action">
                                                <span>Alege usa</span>
                                            </div>
                                        </div>
                                        <div class="info-door">
                                            <span class="name">{{ usa.name }}</span>
                                            <v-btn small color="error" :disabled="usa.colors.length != 0"
                                                   @click="delDoor(0, usa.id)">Sterge usa
                                            </v-btn>
                                            <v-btn small color="primary" @click.prevent="openDialogSpecification(usa)">
                                                Specificatii
                                            </v-btn>
                                        </div>
                                    </div>
                                </draggable>
                            </div>
                        </v-card>

                        <!--                        <v-btn color="primary" @click="nextStep(1)">Continue</v-btn>-->
                        <!--                        <v-btn text>Cancel</v-btn>-->
                    </v-stepper-content>
                    <v-stepper-content step="2">
                        <v-card class="mb-12">
                            <div class="product-items">
                                <div class="item add-new" @click="addNewProduct(1)">
                                    <div class="img">
                                        <img src="/images/door-img.jpg" alt="">
                                        <v-icon>mdi-playlist-plus</v-icon>
                                    </div>
                                    <div class="action">
                                        <span>Adauga culoare</span>
                                    </div>
                                    <div class="info-door">

                                    </div>
                                </div>
                                <div class="item" v-for="(color, ii) in productColor" :key="ii">
                                    <div class="img"
                                         @click="selectWindow(color.windows, color.color.name, color.image, color.id, ii , color.price, color)">
                                        <img :src="'/images/catalog/'+color.image" alt="">
                                        <div class="action">
                                            <span v-if="form.window_id == ''">Alege Culoare</span>
                                            <span v-else>Seteaza pretul</span>
                                        </div>
                                    </div>
                                    <div class="info-door">
                                        <span class="price"
                                              v-if="color.price != null || color.price > 0">
                                            {{color.price }} euro
                                        </span>
                                        <span class="name">{{ color.color ? color.color.name : 'No name' }}</span>
                                        <v-btn small color="error" v-if="color.windows.length == 0"
                                               :disabled="color.windows.length != 0"
                                               @click="delDoor(1, color.id)">Sterge usa
                                        </v-btn>
                                        <v-btn small color="info" @click="addMolding(colorModel, color.id, color)">
                                            Adauga molding
                                        </v-btn>
                                        <v-btn small color="warning"
                                               @click="editPriceDoor(color.windows, color.color.name, color.image, color.id, ii , color.price, color)">
                                            Edit
                                        </v-btn>
                                        <v-btn small color="primary" v-if="color.windows.length == 0"
                                               :disabled="color.windows.length != 0"
                                               @click="addNewProduct(2, color.id)">Insertie
                                        </v-btn>
                                    </div>
                                </div>
                            </div>
                        </v-card>
                        <!--                        <v-btn color="primary" @click="nextStep(2)">Continue</v-btn>-->
                        <!--                        <v-btn text>Cancel</v-btn>-->
                    </v-stepper-content>

                    <v-stepper-content step="3">
                        <v-card class="mb-12">
                            <div class="product-items">
                                <div class="item add-new" @click="addNewProduct(2, form.color_id)">
                                    <div class="img">
                                        <img src="/images/door-img.jpg" alt="">
                                        <v-icon>mdi-playlist-plus</v-icon>
                                    </div>
                                    <div class="action">
                                        <span>Adauga Sticla</span>
                                    </div>
                                    <div class="info-door">

                                    </div>
                                </div>
                                <div class="item" v-for="(window, iii) in productWindow" :key="iii">
                                    <div class="img"
                                         @click="selectConfig(window.image, window.id, iii, window.price, window), form.window = window.window.name">
                                        <img :src="'/images/catalog/'+window.image" alt="">
                                        <div class="action">
                                            <span>Seteaza pretul</span>
                                        </div>
                                    </div>
                                    <div class="info-door">
                                        <span class="price">{{ window.price }} euro</span>
                                        <span class="name">{{ window.window ? window.window.name : 'No name' }}</span>
                                        <v-btn small color="info" @click="addMolding(windowModel, window.id, window)">
                                            Adauga molding
                                        </v-btn>
                                        <v-btn small color="error" @click="delDoor(2, window.id)">Sterge usa</v-btn>
                                    </div>
                                </div>
                            </div>
                        </v-card>
                        <!--                        <v-btn color="primary" @click="nextStep(3)">Continue</v-btn>-->
                        <!--                        <v-btn text>Cancel</v-btn>-->
                    </v-stepper-content>

                    <v-stepper-content step="4">
                        <v-card class="mb-12">

                            <div class="config-box">
                                <div class="box-item">
                                    <div class="img">
                                        <img :src="form.image" alt="" v-if="form.image.length > 0">
                                        <div v-else>
                                            <img :src="'/images/catalog/'+window" alt="" v-if="window.length > 0">
                                            <img :src="'/images/catalog/'+img_color" alt="" v-else>
                                        </div>
                                    </div>
                                    <!--                                    <div class="text">-->
                                    <!--                                        <span>Pret:{{form.price}}</span>-->
                                    <!--                                    </div>-->
                                </div>
                                <div class="box-item">
                                    <h3>Configurare</h3>
                                    <v-text-field
                                        class="mr-2"
                                        v-model="form.price"
                                        label="Pretul euro [ABS]"
                                        outlined
                                        dense
                                    ></v-text-field>
                                    <v-text-field
                                        v-if="chackSerie"
                                        class="mr-2"
                                        v-model="form.price_matte"
                                        label="Pretul euro [MATTE]"
                                        outlined
                                        dense
                                    ></v-text-field>
                                    <v-text-field
                                        v-if="chackSerie"
                                        class="mr-2"
                                        v-model="form.price_crom"
                                        label="Pretul euro [CROM]"
                                        outlined
                                        dense
                                    ></v-text-field>
                                    <div class="input-group mb-3">
                                        <div class="custom-file file-size">
                                            <input accept="image/jpeg, image/png" v-on:change=uploadImage type="file"
                                                   class="custom-file-input" id="inputGroupFile01"
                                                   aria-describedby="inputGroupFileAddon01">
                                            <label class="custom-file-label" for="inputGroupFile01">Alege
                                                imagine</label>
                                        </div>
                                    </div>

                                    <v-btn color="primary" @click="savePrice">Salveaza</v-btn>
                                </div>
                            </div>

                        </v-card>

                    </v-stepper-content>
                </v-stepper-items>
            </template>
        </v-stepper>
        <v-snackbar
            v-model="snackbar"
            :color="notify.color"
            :right="notify.right"
            :timeout="notify.timeout"
            :top="notify.top"
        >
            {{ notify.text }}
            <v-btn
                dark
                text
                @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>

        <!--        ## MODAL DE ADUGARE A PRODUSELOR ###-->
        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">Adaugare usa noua pentru <span
                        v-if="modalForm.type === 0">colectia {{ modalForm.seria_name }}</span>  <span
                        v-if="modalForm.type == 1 || modalForm.type == 2">seria {{ form.seria }}</span> <span
                        v-if="modalForm.type == 2">{{ form.color }}</span> </span>

                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-text-field
                                v-if="modalForm.type == 0"
                                class="mr-2"
                                v-model="modalForm.name"
                                label="Denumire usa"
                                outlined
                                dense
                            ></v-text-field>
                            <v-select
                                v-if="modalForm.type == 1"
                                class="mr-2"
                                :items="systemColors"
                                v-model="modalForm.color_id"
                                item-value="id"
                                item-text="name"
                                label="Alege Culoare"
                                outlined
                                dense
                            ></v-select>

                            <v-select
                                v-if="modalForm.type == 2"
                                class="mr-2"
                                :items="systemWindows"
                                v-model="modalForm.window_id"
                                item-value="id"
                                item-text="name"
                                label="Alege Sticla"
                                outlined
                                dense
                            ></v-select>
                            <div v-if="modalForm.type == 1 || modalForm.type == 2">
                                <v-text-field
                                    v-model="modalForm.price"
                                    label="Pretul euro [ABS]"
                                    type="number"
                                    outlined
                                    dense
                                ></v-text-field>
                                <v-text-field
                                    v-if="chackSerie"
                                    class="mr-2"
                                    v-model="modalForm.price_matte"
                                    label="Pretul euro [MATTE]"
                                    outlined
                                    dense
                                ></v-text-field>
                                <v-text-field
                                    v-if="chackSerie"
                                    class="mr-2"
                                    v-model="modalForm.price_crom"
                                    label="Pretul euro [CROM]"
                                    outlined
                                    dense
                                ></v-text-field>
                            </div>

                            <div class="input-group mb-3" v-if="modalForm.type == 1 || modalForm.type == 2">
                                <div class="custom-file">
                                    <input accept="image/jpeg" v-on:change=uploadImageNewProduct type="file"
                                           class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01"
                                           v-if="modalForm.image == ''">Alege imagine</label>
                                    <label class="custom-file-label color-red" for="inputGroupFile01" v-else>Imaginea a
                                        fost selectata</label>
                                </div>
                            </div>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">Close</v-btn>
                    <v-btn color="blue darken-1" text @click="SaveNewDoor">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!--        modal adugare molding-->
        <v-dialog v-model="dialog_molding"
                  transition="dialog-bottom-transition"
                  max-width="600"
        >
            <template v-slot:default="dialog">
                <v-card>
                    <v-toolbar
                        color="primary"
                        dark
                    >Modul adaugare molding
                    </v-toolbar>
                    <v-card-text>
                        <div class="molding__section">
                            <v-select
                                class="mr-2"
                                :items="system_moldings"
                                v-model="modalFormMolding.molding_id"
                                item-value="id"
                                item-text="name"
                                label="Alege Molding"
                                outlined
                                dense
                            ></v-select>
                            <v-text-field
                                class="mr-2"
                                v-model="modalFormMolding.price"
                                label="Pretul"
                                outlined
                                dense
                            ></v-text-field>
                            <div class="input-group mb-3">
                                <div class="custom-file file-size">
                                    <input accept="image/jpeg, image/png" v-on:change=uploadImageMolding type="file"
                                           class="custom-file-input" id="inputGroupFile01"
                                           aria-describedby="inputGroupFileAddon01">
                                    <label class="custom-file-label" for="inputGroupFile01">Alege
                                        imagine</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="molding__image__server col-6"
                                     v-if="modalFormMolding.image !== ''">
                                    <h4>Imagine locala</h4>
                                    <img :src="modalFormMolding.image" alt="">
                                </div>
                                <div class="molding__image__server col-6"
                                     v-if="modalFormMolding.image_server !== ''">
                                    <h4>Imagine server</h4>
                                    <img :src="modalFormMolding.image_server" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="table__modling">
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                    <tr>
                                        <th class="text-left">
                                            Tip molding
                                        </th>
                                        <th class="text-left">
                                            Pret
                                        </th>
                                        <th class="text-left">
                                            Imagine
                                        </th>
                                        <th class="text-left">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(molding, i) in modalFormMolding.moldings" :key="i">
                                        <td>{{ molding.molding.name }}</td>
                                        <td>{{ molding.price }}</td>
                                        <td>
                                            <div class="img__table">
                                                <img :src="'/images/catalog/'+molding.image" alt="">
                                            </div>
                                        </td>
                                        <td>
                                            <v-btn
                                                text
                                                @click="editMolding(molding)"
                                            >Edit
                                            </v-btn>
                                            <v-btn
                                                text
                                                @click="deleteMolding(molding)"
                                            >Delete
                                            </v-btn>
                                        </td>
                                    </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                        <v-btn
                            success
                            @click="storeMolding"
                        >Save
                        </v-btn>
                        <v-btn
                            text
                            @click="dialog.value = false"
                        >Close
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </template>
        </v-dialog>

        <!--        modal adugare specificatii-->
        <v-dialog v-model="dialog_specification"
                  transition="dialog-bottom-transition"
                  max-width="600"
        >
            <template v-slot:default="dialog">
                <v-card>
                    <v-toolbar
                        color="primary"
                        dark
                    >Modul adaugare specificatii
                    </v-toolbar>
                    <v-card-text>
                        <div class="molding__section">
                            <v-select
                                v-model="tagsForm.tags"
                                :items="tags"
                                :menu-props="{ maxHeight: '400' }"
                                item-value="id"
                                item-text="name"
                                label="Alege Tagurile"
                                multiple>
                            </v-select>
                        </div>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                        <v-btn
                            success
                            @click="storeTags"
                        >Save
                        </v-btn>
                        <v-btn
                            text
                            @click="dialog.value = false"
                        >Close
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </template>
        </v-dialog>
    </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
    name: "ProductEdit",

    props: ['getdoors', 'system_moldings'],

    components: {
        draggable,
    },

    data() {
        return {
            colorModel: 'App\\Models\\ProductColor::class',
            windowModel: 'App\\Models\\ProductWindow::class',
            dialog_specification: false,
            dialog_molding: false,
            oldIndexItem: 0,
            newIndexItem: 0,
            myArray: [],
            dialog: false,
            tags: [],
            tagsForm: {
                product_id: '',
                tags: [],
            },
            modalForm: {
                name: '',
                type: 0,
                seria_id: 0,
                seria_name: '',
                product_id: 0,
                product_color_id: 0,
                color_id: 0,
                window_id: 0,
                image: '',
                price: '',
                price_matte: 0,
                price_crom: 0,
            },

            modalFormMolding: {
                model_id: null,
                product_id: '',
                model_name: '',
                molding_id: '',
                price: '',
                image: '',
                image_server: '',
                moldings: [],
            },

            notify: {
                color: 'success',
                right: 'right',
                timeout: 4000,
                top: 'top',
                text: 'pretul a fost modificat cu succes'
            },
            snackbar: false,

            // testting
            product_selected_index: '',
            color_selected_index: '',
            window_selected_index: '',

            // ###SYSTEM###
            systemColors: [],
            systemWindows: [],


            // testing
            sheet: false,
            doorMenu: false,
            doorCart: false,
            doors: [],
            product: [],
            productColor: [],
            productWindow: [],
            window: '',
            img_color: '',
            e1: 1,
            steps: 4,
            vertical: false,
            altLabels: false,

            errors: [],
            show_error: false,
            token: '',

            form: {
                seria: '',
                color: '',
                window: '',

                seria_id: '',
                product_id: '',
                color_id: '',
                window_id: '',

                // traversa: '',
                // grinda: '',

                price: '',
                price_matte: '',
                price_crom: '',
                image: '',
            }
        }
    },

    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    created() {
        this.firstLoad();
    },

    watch: {
        steps(val) {
            if (this.e1 > val) {
                this.e1 = val
            }
        },
        vertical() {
            this.e1 = 4;
            requestAnimationFrame(() => this.e1 = 1) // Workarounds
        },

        // product() {
        //     console.log('product Changed!');
        // }
    },

    methods: {
        openDialogSpecification(door) {
            console.log(door)
            this.dialog_specification = !this.dialog_specification;
            this.tagsForm.product_id = parseInt(door.id);
            this.tagsForm.tags = door.tags_array.map(i=>parseInt(i));
        },

        getTags() {
            axios.get('/axios/tags/get').then(response => {
                if (response.data.status == 'success') {
                    this.tags = response.data.data;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        storeTags() {
            axios.post('/axios/tags/save-tag', this.tagsForm).then(response => {
                if (response.status === 200) {
                    this.dialog_specification = false;
                    this.notify.text = 'Tagul a fost adaugat cu succes';
                    this.snackbar = true;
                    this.dialog = false;

                    this.tagsForm = {
                        product_id: '',
                        tags: []
                    };
                    this.firstLoad();

                }
            }).catch(error => {
                    if (error.response) {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                    }
                }
            );
        },

        storeMolding() {
            axios.post('/axios/store-door-molding', this.modalFormMolding).then(response => {
                if (response.data.status == 'success') {
                    this.dialog_molding = false;
                    this.notify.text = 'Produsul a fost adaugat cu succes';
                    this.snackbar = true;
                    this.dialog = false;
                    this.modalFormMolding = {
                        product_id: '',
                        type_id: '',
                        molding_id: '',
                        price: '',
                        image: '',
                        image_server: '',
                    };

                    this.modalForm.name = '';
                    this.modalForm.type = 0;
                    this.modalForm.product_id = 0;
                    this.modalForm.product_color_id = 0;
                    this.modalForm.color_id = 0;
                    this.modalForm.window_id = 0;
                    this.modalForm.image = '';
                    this.modalForm.price = 0;
                    this.modalForm.price_crom = 0;
                    this.modalForm.price_matte = 0;
                    this.firstLoad();

                }
            }).catch(error => {
                    if (error.response) {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                    }
                }
            );
        },

        addMolding(model_name, product_id, current) {
            this.modalFormMolding.moldings = current.moldings;
            this.modalFormMolding.model_name = model_name;
            this.modalFormMolding.product_id = product_id;
            this.dialog_molding = !this.dialog_molding;
        },

        editMolding(current) {
            this.modalFormMolding.model_id = current.id;
            this.modalFormMolding.price = current.price;
            this.modalFormMolding.image_server = '/images/catalog/' + current.image;
            this.modalFormMolding.molding_id = current.molding_id;
        },

        deleteMolding(product) {
            axios.post('/axios/delete-door-molding/' + product.id).then(response => {
                if (response.data.status == 'success') {
                    this.dialog_molding = false;
                    this.notify.text = 'Produsul a fost sters cu succes';
                    this.snackbar = true;
                    this.dialog = false;
                    this.modalFormMolding = {
                        product_id: '',
                        type_id: '',
                        molding_id: '',
                        price: '',
                        image: '',
                        image_server: '',
                    };
                    this.firstLoad();

                }
            }).catch(error => {
                    if (error.response) {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                    }
                }
            );
        },


        updateBoard(event) {
            this.drag = true;

            this.oldIndexItem = event.oldIndex;
            let a = this.product[event.oldIndex].id;
            // console.log(a);
        },

        newIndex(event) {
            this.drag = false;
            this.newIndexItem = event.newIndex
            let b = this.product[event.newIndex].id;

        },

        changeOrdering() {
            let newForm = {
                serie_id: this.modalForm.seria_id,
                product: this.product,
            };
            axios.post('/axios/set-order-door', newForm).then(response => {
                if (response.data.status == 'success') {
                    this.notify.text = 'Usa a fost schimbat pe pozitia cu succes.';
                    this.snackbar = true;
                    this.dialog = false;
                }
            }).catch(error => {
                if (error.response) {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        firstLoad() {
            this.getTags();
            this.doors = this.getdoors;
            this.getDoors(1);
            this.product = this.doors[0].products;
            this.form.seria_id = this.doors[0].id;
            this.modalForm.seria_id = this.form.seria_id;
            this.modalForm.seria_name = this.doors[0].name;
        },

        SaveNewDoor() {
            axios.post('/axios/save-new-door', this.modalForm).then(response => {
                if (response.data.status == 'success') {
                    this.notify.text = 'Produsul a fost adugat cu succes';
                    this.snackbar = true;
                    this.dialog = false;
                    this.modalForm.name = '';
                    this.modalForm.type = 0;
                    this.modalForm.product_id = 0;
                    this.modalForm.product_color_id = 0;
                    this.modalForm.color_id = 0;
                    this.modalForm.window_id = 0;
                    this.modalForm.image = '';
                    this.modalForm.price = 0;
                    this.modalForm.price_crom = 0;
                    this.modalForm.price_matte = 0;
                    this.firstLoad();

                }
            }).catch(error => {
                    if (error.response) {
                        if (error.response.status == 422) {
                            this.errors = error.response.data.errors;
                        }
                    }
                }
            )
            ;
        },

        GetAllColors() {
            axios.get('/axios/get-colors-window').then(response => {
                if (response.data.status == 'success') {
                    this.systemColors = response.data.colors;
                    this.systemWindows = response.data.windows;
                }
            }).catch(error => {
                if (error.response) {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        addNewProduct(type, color_id) {
            if (type === 0) {
                this.modalForm.product_id = ''
            }

            if (type === 2) {
                this.modalForm.product_color_id = color_id;
            }

            this.modalForm.type = type;
            this.GetAllColors();
            this.dialog = true;
        },

        uploadImageMolding(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImageMolding(files[0]);
        },

        createImageMolding(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.modalFormMolding.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        uploadImage(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },

        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.form.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        uploadImageNewProduct(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImageNewProduct(files[0]);
        },

        createImageNewProduct(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.modalForm.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        delDoor(type, id) {

            axios.get('/axios/delete-door/' + type + '/' + id).then(response => {

                if (response.data.status == 'success') {
                    this.snackbar = true;
                    this.notify.text = 'Produsul a fost sters cu succes';
                    this.form.image = '';
                    this.form.price = '';
                    this.form.price_matte = '';
                    this.form.price_crom = '';
                    this.form.seria = '';
                    this.form.window = '';
                    this.savePriceGetDoors(this.form.seria_id);
                }
            }).catch(error => {
                if (error.response) {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
            // console.log(id);
            // console.log(type);
        },

        savePrice() {
            axios.post('/axios/save-price-for-doors', this.form).then(response => {

                this.snackbar = true;
                this.savePriceGetDoors(this.form.seria_id);
                this.form.price = '';
                this.form.price_matte = '';
                this.form.price_crom = '';
                this.form.image = '';
                // this.form.color = '';
                this.form.seria = '';
                this.form.window = '';
                // this.form.window_id = '';


            }).catch(error => {
                if (error.response) {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        savePriceGetDoors(seria_id) {
            axios.get('/axios/get-doors/' + seria_id).then(response => {
                this.product = response.data.doors[0].products;
                this.form.seria_id = seria_id;
                this.doorMenu = false;

                if (this.form.window_id == '') {
                    this.nextStep(1);
                }
                if (this.form.window_id != '') {
                    this.nextStep(2);
                }
                if (this.form.color_id == '') {
                    this.nextStep(0);
                }
                this.productColor = this.product[this.product_selected_index].colors;
                this.productWindow = this.product[this.product_selected_index].colors[this.color_selected_index].windows;
            }).catch(error => {
                if (error.response) {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        getDoors(seria_id) {
            axios.get('/axios/get-doors/' + seria_id).then(response => {
                this.product = response.data.doors[0].products;
                this.form.seria_id = seria_id;
                this.doorMenu = false;
                this.nextStep(0);
                this.modalForm.seria_id = this.form.seria_id;

                this.productColor = this.product[this.product_selected_index].colors;
                this.productWindow = this.product[this.product_selected_index].colors[this.color_selected_index].windows;
            }).catch(error => {
                if (error.response) {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        selectConfig(product, window_id, index, price, window) {
            this.nextStep(3);
            this.window = product;
            this.sheet = true
            this.form.window_id = window_id;
            this.form.price = price;
            this.form.price_matte = window.price_matte;
            this.form.price_crom = window.price_crom;
        },

        editPriceDoor(product, color_name, color_img, color_id, index, price, data) {
            this.form.color = color_name;
            this.color_selected_index = index;
            this.img_color = color_img;
            this.nextStep(3);
            this.sheet = true;
            this.productWindow = product;
            this.form.color_id = color_id;
            this.form.price = price;
            this.form.price_matte = data.price_matte;
            this.form.price_crom = data.price_crom;
            this.window = '';
            this.window_id = '';
        },

        selectWindow(product, color_name, color_img, color_id, index, price, data) {
            this.form.color = color_name;

            if (product.length > 0) {
                this.color_selected_index = index;
                this.doorMenu = false;
                this.nextStep(2);
                this.productWindow = product;
                this.form.color_id = color_id;
                this.modalForm.product_color_id = color_id;
                this.window = '';
                this.window_id = '';
            } else {
                this.color_selected_index = index;
                this.img_color = color_img;
                this.nextStep(3);
                this.sheet = true;
                this.productWindow = product;
                this.form.color_id = color_id;
                this.form.price = price;
                this.form.price_matte = data.price_matte;
                this.form.price_crom = data.price_crom;
                this.window = '';
                this.window_id = '';
            }
        },

        selectColors(product, usa_name, index, usa_id) {
            this.product_selected_index = index;

            // pentru modal#################

            this.modalForm.product_id = usa_id;


            //mentru podal fin#################

            this.form.color = '';
            this.form.seria = '';
            this.form.window = '';
            this.form.window_id = '';


            this.form.seria = usa_name;
            this.doorMenu = false;
            this.nextStep(1);
            this.productColor = product;
            // this.form.color = product.color.name;

        },

        selectSeries(product, serie_id) {
            this.doorMenu = false;
            this.nextStep(0);
            this.product = product;
            this.form.seria_id = serie_id;
        },


        onInput(val) {
            this.steps = parseInt(val)
        },
        nextStep(n) {
            if (n === this.steps) {
                this.e1 = 1
            } else {
                this.e1 = n + 1
            }
        },

        backStep(n) {

            if (n === 4 && this.productWindow.length === 0) {
                this.e1 = n - 2;

            } else if (n <= 4) {
                this.e1 = n - 1;
            }

            // this.color_selected_index = '';
            this.form.price = '';
            this.form.price_matte = '';
            this.form.price_crom = '';
        },
    },

    computed: {
        chackSerie() {
            let multipleMuchii = false;
            if (this.form.seria_id == 7 || this.form.seria_id == 8 || this.form.seria_id == 9 || this.form.seria_id == 10 || this.form.seria_id == 11 || this.form.seria_id == 12 || this.form.seria_id == 13 || this.form.seria_id == 14 || this.form.seria_id == 15) {
                multipleMuchii = true;
            }

            return multipleMuchii;
        },
    },

}
</script>

<style lang="scss" scoped>
.file-size {
    margin-right: 8px !important;
}

.molding__image__server {
    width: 100px;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.img__table {
    width: 50px;
    height: auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.product-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . . .";
    grid-gap: 15px;

    .add-new {
        i {
            position: absolute;
            top: 45%;
            right: 29%;
            font-size: 50px;
        }

        .img {

        }

    }


    .item {
        display: block;
        justify-self: center;
        text-align: center;
        box-shadow: 0px 2px 5px 0px #3f50b545;
        border-radius: 4px;
        height: fit-content;

        .img {
            position: relative;
            cursor: pointer;
            height: 334px;
            width: 140px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .action {
                span {
                    display: none;
                }
            }

            &:hover {
                .action {
                    position: absolute;
                    top: 0px;
                    right: 0;
                    z-index: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 189, 245, 0.24);

                    span {
                        display: block;
                        border: 2px solid;
                        border-radius: 4px;
                        bottom: 40px;
                        position: absolute;
                        right: 25%;
                        left: 25%;
                        color: black;
                    }

                    &hover {
                        color: white;
                        background-color: black;
                    }
                }
            }
        }

        .info-door {
            max-width: 140px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-areas: ".";

            .price {
                font-weight: 600;
            }

            .name {
                /*height: 50px;*/
            }
        }

        .button {
            padding-bottom: 5px;
        }
    }
}

.item-config {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    grid-gap: 15px;

    .img {
        display: block;
        justify-self: center;
        text-align: center;
        box-shadow: 0px 2px 5px 0px #3f50b545;
        border-radius: 4px;
        height: 334px;
        width: 140px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .item-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.config-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
    grid-gap: 15px;

    .img {
        height: 334px;
        width: 140px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

.color-red {
    color: red;
}
</style>
