<template>
    <div>
        <header>
            <div class="flex">
                <table>
                    <tr>
                        <td width="33%">
                            <span>Furnizor: VIPROCELL SRL</span>
                            <span>Reg. com.: J08/2165/2017</span>
                            <span>CIF:RO37998555</span>
                            <span>Adresa: Str. Stadionului 1, Brasov, Jud. Brasov</span>
                            <span>IBAN: RO77RZBR0000060019559736</span>
                            <span>Banca: RAIFFEISEN BANK</span><br>
                            <span>Capital social: 200 Lei</span>
                        </td>
                        <td class="info-box" width="33%">
                            <h3>PROFORMA INVOICE</h3>
                            <div class="info">
                                <span> Seria PD nr. 1008 </span> <br>
                                <span>Data (zi/luna/an):{{$moment(created).format('L')}}</span> <br>
                                <span>Cota TVA: 19%</span>
                            </div>
                            <div class="partner-logo">
                                <!--                                <img src="/images/partners-img/profildoors.png" alt="">-->
                            </div>
                        </td>
                        <td width="33%" style="text-align: right">
                            <!--                            <span>Furnizor: VIPROCELL SRL</span>-->
                            <!--                            <span>Reg. com.: J08/2165/2017</span>-->
                            <!--                            <span>CIF:RO37998555</span>-->
                            <!--                            <span>Adresa: Str. Stadionului 1, Brasov, Jud. Brasov</span>-->
                            <!--                            <span>IBAN: RO77RZBR0000060019559736</span>-->
                            <!--                            <span>Banca: RAIFFEISEN BANK</span><br>-->
                            <!--                            <span>Capital social: 200 Lei</span>-->
                            <h4>{{de_la}}</h4>
                            <span>{{userbank}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </header>
        <footer></footer>
        <main>
            <div class="invoice">
                <div class="specs spcs-header">
                    <div class="item">
                        <span>Denumirea produselor sau a serviciilor</span>
                    </div>
                    <div class="item">
                        <span>Cant.</span>
                    </div>
                    <div class="item">
                        <span>Pret unitar raft<br> (fara TVA)<br> -Euro-</span>
                    </div>
                    <div class="item">
                        <span>Pret unitar partener<br> (fara TVA)<br> -Euro-</span>
                    </div>
                    <div class="item">
                        <span>Valoarea totală partener<br> (fara TVA)<br> -Euro-</span>
                    </div>
                    <div class="item">
                        <span>Valoarea totală partener<br> (cu TVA)<br> -Euro-</span>
                    </div>
                </div>
                <div class="item" v-for="(cart, i) in carts" :key="i">
                    <div class="item-name">
                        <div class="specs" v-if="cart.specification.foaie_de_usa">
                           <span>Foaie de usa:
                               {{cart.specification.foaie_de_usa.seria}}
                               {{specificationIsReverse(cart.specification)}}
                               {{cart.specification.foaie_de_usa.culoare}}
                               {{cart.specification.foaie_de_usa.window}} |
                               {{cart.specification.foaie_de_usa.inaltime}}cm x {{cart.specification.foaie_de_usa.latime}}cm |
                               Grosime canat: {{cart.specification.foaie_de_usa.grosime_canat}}mm
                               {{generateSpecificationDoor(cart.specification)}}
                           </span>
                            <span class="qnt">{{cart.specification.foaie_de_usa.quantity}}</span>
                            <span>{{cart.specification.foaie_de_usa.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.foaie_de_usa.price, 1)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.foaie_de_usa.total, 1)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.foaie_de_usa.total, 1)}}EURO</span>
                        </div>

                        <div class="specs" v-if="cart.specification.traverse_verticale">
                           <span>Traverse verticale:
                               {{cart.specification.traverse_verticale.culoare}}
                               {{specificationIsReverse(cart.specification)}}
                               {{cart.specification.traverse_verticale.inaltime}}cm |
                               Latime toc: {{cart.specification.traverse_verticale.latime_toc}}mm |
                               Grosime canat: {{cart.specification.traverse_verticale.grosime_canat}}mm |
                               Pervaz: {{cart.specification.traverse_verticale.pervaz}}mm
                           </span>
                            <span class="qnt">{{cart.specification.traverse_verticale.quantity}}</span>
                            <span>{{cart.specification.traverse_verticale.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.traverse_verticale.price, 1)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.traverse_verticale.total, 1)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.traverse_verticale.total, 1)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.grinda">
                           <span>Grinda:
                               {{cart.specification.grinda.culoare}}
                               {{specificationIsReverse(cart.specification)}}
                               {{cart.specification.grinda.latime}}cm |
                               Latime toc: {{cart.specification.grinda.latime_toc}}mm |
                               Grosime canat: {{cart.specification.grinda.grosime_canat}}mm |
                               Pervaz: {{cart.specification.grinda.pervaz}}mm
                           </span>
                            <span class="qnt">{{cart.specification.grinda.quantity}}</span>

                            <span>{{cart.specification.grinda.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.grinda.price, 1)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.grinda.total, 1)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.grinda.total, 1)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.balamale">
                            <span>Balama: {{cart.specification.balamale.tip_balama}}</span>
                            <span>{{cart.specification.balamale.quantity}}</span>

                            <span>{{cart.specification.balamale.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.balamale.price, 1)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.balamale.total, 1)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.balamale.total, 1)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.broasca">
                            <span>Broasca: {{cart.specification.broasca.broasca}}</span>
                            <span class="qnt">{{cart.specification.broasca.quantity}}</span>

                            <span>{{cart.specification.broasca.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.broasca.price, 1)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.broasca.total, 1)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.broasca.total, 1)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.extensii_verticale">
                            <span>Extensii verticale: {{cart.specification.extensii_verticale.latime}}mm x {{cart.specification.extensii_verticale.lungime}}mm | Culoare: {{cart.specification.extensii_verticale.culoare}}</span>
                            <span class="qnt">{{cart.specification.extensii_verticale.quantity}}</span>

                            <span>{{cart.specification.extensii_verticale.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.extensii_verticale.price, 1)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.extensii_verticale.total, 1)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.extensii_verticale.total, 1)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.extensii_orizontale">
                            <span>Extensii orizontale: {{cart.specification.extensii_orizontale.latime}}mm x {{cart.specification.extensii_orizontale.lungime}}mm | Culoare: {{cart.specification.extensii_orizontale.culoare}} {{specificationIsReverse(cart.specification)}}</span>
                            <span class="qnt">{{cart.specification.extensii_orizontale.quantity}}</span>

                            <span>{{cart.specification.extensii_orizontale.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.extensii_orizontale.price, 1)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.extensii_orizontale.total, 1)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.extensii_orizontale.total, 1)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.minere">
                            <span>Miner:{{cart.specification.minere.name}}</span>
                            <span class="qnt">{{cart.specification.minere.quantity}}</span>

                            <span>{{cart.specification.minere.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.minere.price, 6)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.minere.total, 6)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.minere.total, 6)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.plinta">
                            <span>Plinta:{{cart.specification.plinta.name}}</span>
                            <span class="qnt">{{cart.specification.plinta.quantity}}</span>

                            <span>{{cart.specification.plinta.price}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.plinta.price, 0)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.plinta.total, 0)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.plinta.total, 0)}}EURO</span>
                        </div>

<!--                        //new-->
                        <div class="specs" v-if="cart.specification.automatic_threshold">
                            <span>Prag automat:</span>
                            <span class="qnt">{{cart.specification.foaie_de_usa.quantity}}</span>
                            <span>{{cart.specification.automatic_threshold / cart.specification.foaie_de_usa.quantity}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.automatic_threshold / cart.specification.foaie_de_usa.quantity, 0)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.automatic_threshold, 0)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.automatic_threshold, 0)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.door_reinforcement">
                            <span>Ranforsare usa:</span>
                            <span class="qnt">{{cart.specification.foaie_de_usa.quantity}}</span>
                            <span>{{cart.specification.door_reinforcement / cart.specification.foaie_de_usa.quantity}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.door_reinforcement / cart.specification.foaie_de_usa.quantity, 0)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.door_reinforcement, 0)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.door_reinforcement, 0)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.self_closing">
                            <span>Auto inchidere:</span>

                            <span class="qnt">{{cart.specification.foaie_de_usa.quantity}}</span>
                            <span>{{cart.specification.self_closing / cart.specification.foaie_de_usa.quantity}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.self_closing / cart.specification.foaie_de_usa.quantity, 0)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.self_closing, 0)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.self_closing, 0)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.ventilation_grille">
                            <span>Grila ventilare:</span>

                            <span class="qnt">{{cart.specification.foaie_de_usa.quantity}}</span>
                            <span>{{cart.specification.ventilation_grille / cart.specification.foaie_de_usa.quantity}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.ventilation_grille / cart.specification.foaie_de_usa.quantity, 0)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.ventilation_grille, 0)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.ventilation_grille, 0)}}EURO</span>
                        </div>
                        <div class="specs" v-if="cart.specification.invisible_heel">
                            <span>Toc invisibil {{specificationIsReverse(cart.specification)}}:</span>

                            <span class="qnt">{{cart.specification.foaie_de_usa.quantity}}</span>
                            <span>{{cart.specification.invisible_heel / cart.specification.foaie_de_usa.quantity}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.invisible_heel / cart.specification.foaie_de_usa.quantity, 0)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.invisible_heel, 0)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.invisible_heel, 0)}}EURO</span>
                        </div>

                        <div class="specs" v-if="cart.specification.door_edition">
                            <span>Editie usa: {{cart.specification.door_edition.name}}</span>

                            <span class="qnt">{{cart.specification.foaie_de_usa.quantity}}</span>
                            <span>{{cart.specification.door_edition.price / cart.specification.foaie_de_usa.quantity}}EURO</span>
                            <span>{{calcItemPrtner(cart.specification.door_edition.price / cart.specification.foaie_de_usa.quantity, 0)}}EURO</span>
                            <span>{{calcItemPartnerTotal(cart.specification.door_edition.price, 0)}}EURO</span>
                            <span>{{calItemWithTvaSum(cart.specification.door_edition.price, 0)}}EURO</span>
                        </div>

                        <!--                <div class="specs">-->
                        <!--                    <span></span>-->
                        <!--                    <span class="text-red">Total lista: {{cart.total}}euro</span>-->
                        <!--                    <span class="text-red">Total partener: {{calcEveryItemTotalPartner(cart.total, cart.product_type_id)}}euro</span>-->
                        <!--                </div>-->
                    </div>
                </div>
                <div class="specs spcs-footer">
                    <div class="item">
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                    </div>
                    <div class="item">
                        <span></span>
                    </div>
                    <div class="item">
                        <span>Total: </span>
                    </div>
                    <div class="item">
                        <span>{{cartSumWithDiscount}}</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</template>

<script>
    export default {
        name: "ProformaClientInvoiceNew",
        props: ['invoice_id', 'user_data'],
        data() {
            return {
                count_row: 0,
                carts: [],
                cartsum: 0,
                cartSumWithDiscount: 0,
                discount: 0,
                discount_minere: 0,
                userbank: '',
                created: '',
                sum_by_name: [],
                form: {
                    invoice_id: 0,
                },

                row_form: {
                    cart: [],
                },


                send_date: '',
                de_la: '',

                errors: [],
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
            this.getCart();
        },

        methods: {
            generateSpecificationDoor(item) {
                let res = ''
                if (item.automatic_threshold){
                    res = res + '| Prag automat '
                }

                if (item.door_reinforcement ){
                    res = res + '| Ranforsare usa '
                }

                if (item.self_closing) {
                    res = res + '| Auto inchidere '
                }

                if (item.ventilation_grille) {
                    res = res + '| Grila ventilare '
                }

                return res;
            },

            specificationIsReverse(item) {
                let res = ''
                if (item.reverse_door) {
                    res = res + '| REVERSE '
                }

                return res;
            },
            calcItemPrtner(sum, type) {
                let total = 0;

                if (type == 1) {
                    total = sum - ((sum * this.discount) / 100);
                }else if (type == 6){
                    total = sum - ((sum * this.discount_minere) / 100);
                }else{
                    total = sum;
                }

                total = Math.round(total * 100) / 100;
                return total;
            },
            calItemWithTvaSum(sum, type) {
                let total = 0;

                if (type == 1) {
                    total = sum - ((sum * this.discount) / 100);
                }else if (type == 6){
                    total = sum - ((sum * this.discount_minere) / 100);
                }else{
                    total = sum;
                }

                total = (total * 100 * 1.19) / 100;
                total = Math.round(total * 100) / 100;
                return total;
            },
            calcItemPartnerTotal(sum, type) {
                let total = 0;
                if (type == 1) {
                    total = sum - ((sum * this.discount) / 100);
                }else if (type == 6){
                    total = sum - ((sum * this.discount_minere) / 100);
                }else{
                    total = sum;
                }

                total = Math.round(total * 100) / 100;
                return total;
            },

            // scoatere cos de cumparaturi
            getCart() {

                axios.get('/axios/get-cart-pdf-operator/' + this.invoice_id).then(response => {

                    if (response.data.status == 'success') {
                        this.carts = response.data.cart;
                        this.cartsum = Math.round(response.data.total * 100) / 100;
                        this.form.invoice_id = response.data.cart_id;
                        this.sum_by_name = response.data.sum_by_name;
                        this.send_date = response.data.send_date;
                        this.de_la = response.data.de_la;
                        this.discount = parseInt(response.data.discount);
                        this.discount_minere = parseInt(response.data.discount_minere);
                        this.userbank = response.data.userbank;
                        this.created = response.data.created;
                        this.cartSumWithDiscount = response.data.cartSumWithDiscount;

                    }

                    if (response.data.status == 'nocart') {
                        this.form.invoice_id = '';
                        this.carts = [];
                        this.cartsum = [];
                    }

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        // this.selectErrors();
                    }

                });

            },

        },
    }
</script>

<style lang="scss" scoped>
    .invoice {
        .spcs-header {
            display: grid;
            grid-template-columns: 3fr 0.2fr 0.5fr 0.5fr 0.5fr 0.7fr;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-template-areas: ". . . . . .";


            .item {
                text-align: center;
                border-top: 1px solid #dfdfdf;
                border-left: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                font-size: 12px;

                &:nth-child(-n+2) {
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;

                }

                &:nth-child(odd) {
                    border-top: 1px solid #dfdfdf;
                    border-left: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;
                }

                &:nth-child(-n+3) {
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;

                }

                &:first-child,
                &:nth-child(3n+1) {
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;
                    border-left: 1px solid #dfdfdf;
                }
            }
        }
        .spcs-footer {
            display: grid;
            grid-template-columns: 3fr 0.2fr 0.5fr 0.5fr 0.5fr 0.7fr;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-template-areas: ". . . . . .";
            font-weight: bold;


            .item {
                text-align: center;
                border-top: 1px solid #dfdfdf;
                border-left: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;

                &:nth-child(-n+2) {
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;

                }

                &:nth-child(odd) {
                    border-top: 1px solid #dfdfdf;
                    border-left: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;
                }

                &:nth-child(-n+3) {
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;

                }

                &:first-child,
                &:nth-child(3n+1) {
                    border-top: 1px solid #dfdfdf;
                    border-bottom: 1px solid #dfdfdf;
                    border-left: 1px solid #dfdfdf;
                }

                &:nth-child(1) {
                    border: none;
                }

                &:nth-child(2) {
                    border: none;
                }

                &:nth-child(3) {
                    border: none;
                }

                &:nth-child(4) {
                    border: none;
                }

            }
        }

        .item {
            .item-name {
                .specs {
                    display: grid;
                    grid-template-columns: 3fr 0.2fr 0.5fr 0.5fr 0.5fr 0.7fr;
                    grid-template-rows: 1fr;
                    gap: 1px 1px;
                    grid-template-areas: ". . . . . .";

                    span {
                        border-top: 1px solid #dfdfdf;
                        border-left: 1px solid #dfdfdf;
                        border-bottom: 1px solid #dfdfdf;
                        text-align: center;
                        &:nth-child(1){
                            text-align: left;
                        }

                        &:nth-child(-n+2) {
                            border-top: 1px solid #dfdfdf;
                            border-bottom: 1px solid #dfdfdf;

                        }

                        &:nth-child(odd) {
                            border-top: 1px solid #dfdfdf;
                            border-left: 1px solid #dfdfdf;
                            border-bottom: 1px solid #dfdfdf;
                        }

                        &:nth-child(-n+3) {
                            border-top: 1px solid #dfdfdf;
                            border-bottom: 1px solid #dfdfdf;

                        }

                        &:first-child,
                        &:nth-child(3n+1) {
                            border-top: 1px solid #dfdfdf;
                            border-bottom: 1px solid #dfdfdf;
                            border-left: 1px solid #dfdfdf;
                        }
                    }
                }
            }
        }

    }
</style>
