<template>
    <div>
        <header>
            <div class="flex">
                <table>
                    <tr>
                        <td width="33%">
                            <span>Furnizor: VIPROCELL SRL</span>
                            <span>Reg. com.: J08/2165/2017</span>
                            <span>CIF:RO37998555</span>
                            <span>Adresa: Str. Stadionului 1, Brasov, Jud. Brasov</span>
                            <span>IBAN: RO77RZBR0000060019559736</span>
                            <span>Banca: RAIFFEISEN BANK</span><br>
                            <span>Capital social: 200 Lei</span>
                        </td>
                        <td class="info-box" width="33%">
                            <h3>PROFORMA INVOICE</h3>
                            <div class="info">
                                <span> Seria PD nr. 1008 </span> <br>
                                <span>Data (zi/luna/an):{{$moment(created).format('L')}}</span> <br>
                                <span>Cota TVA: 19%</span>
                            </div>
                            <div class="partner-logo">
<!--                                <img src="/images/partners-img/profildoors.png" alt="">-->
                            </div>
                        </td>
                        <td width="33%" style="text-align: right">
<!--                            <span>Furnizor: VIPROCELL SRL</span>-->
<!--                            <span>Reg. com.: J08/2165/2017</span>-->
<!--                            <span>CIF:RO37998555</span>-->
<!--                            <span>Adresa: Str. Stadionului 1, Brasov, Jud. Brasov</span>-->
<!--                            <span>IBAN: RO77RZBR0000060019559736</span>-->
<!--                            <span>Banca: RAIFFEISEN BANK</span><br>-->
<!--                            <span>Capital social: 200 Lei</span>-->
                            <h4>{{de_la}}</h4>
                            <span>{{userbank}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </header>
        <footer></footer>
        <main>
            <div v-for="(carts, index) in sum_by_name" :key="index">
                <div class="table">
                    <div class="header">
                        <span>Denumirea produselor sau a serviciilor</span>
                        <span>Cant.</span>
                        <span>Pret unitar raft (fara TVA) -Euro-</span>
                        <span>Pret unitar partener (fara TVA) -Euro-</span>
                        <span>Valoarea totală partener (fara TVA) -Euro-</span>
                        <span>Valoarea totală partener (cu TVA) -Euro-</span>
                    </div>
                    <div class="content" v-for="(cart, ii) in carts.items" :key="ii">
                        <div class="item" v-for="(item, i) in cart.specification" :key="i">
                            <!--                            foaie de usa-->
                            <span class="text-left" v-if="i == 'foaie_de_usa'">{{item.seria}} Culoare: {{item.culoare}} {{item.window}} {{item.inaltime}} {{item.latime}} {{item.grosime_canat}}</span>
                            <span v-if="i == 'foaie_de_usa'">{{item.quantity}}</span>
                            <span v-if="i == 'foaie_de_usa'">{{item.price}} Euro</span>
                            <span v-if="i == 'foaie_de_usa'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'foaie_de_usa'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'foaie_de_usa'">{{calItemWithTvaSum(item.total)}}</span>

                            <!--traverse_verticale-->
                            <span class="text-left" v-if="i == 'traverse_verticale'">Traverse verticale:
                                                            {{item.culoare}}|
                                                            {{item.inaltime}}cm |
                                                            Latime toc: {{item.latime_toc}}mm |
                                                            Grosime canat: {{item.grosime_canat}}mm |
                                                            Pervaz: {{item.pervaz}}mm</span>

                            <span v-if="i == 'traverse_verticale'">{{item.quantity}}</span>
                            <span v-if="i == 'traverse_verticale'">{{item.price}} Euro</span>
                            <span v-if="i == 'traverse_verticale'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'traverse_verticale'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'traverse_verticale'">{{calItemWithTvaSum(item.total)}}</span>

                            <!--                            grinda-->
                            <span class="text-left" v-if="i == 'grinda'">Grinda:{{item.culoare}} | {{item.latime}}cm | Latime toc: {{item.latime_toc}}mm | Grosime canat: {{item.grosime_canat}}mm | Pervaz: {{item.pervaz}}mm</span>
                            <span v-if="i == 'grinda'">{{item.quantity}}</span>
                            <span v-if="i == 'grinda'">{{item.price}} Euro</span>
                            <span v-if="i == 'grinda'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'grinda'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'grinda'">{{calItemWithTvaSum(item.total)}}</span>

                            <!--                            extensii verticale-->
                            <span class="text-left" v-if="i == 'extensii_verticale'">Extensii verticale:{{item.latime}}mm x {{item.lungime}}mm</span>
                            <span v-if="i == 'extensii_verticale'">{{item.quantity}}</span>
                            <span v-if="i == 'extensii_verticale'">{{item.price}} Euro</span>
                            <span v-if="i == 'extensii_verticale'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'extensii_verticale'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'extensii_verticale'">{{calItemWithTvaSum(item.total)}}</span>



                            <!--                            extensii orizontale-->
                            <span class="text-left" v-if="i == 'extensii_orizontale'">Extensii orizontale:{{item.latime}}mm x {{item.lungime}}mm</span>
                            <span v-if="i == 'extensii_orizontale'">{{item.quantity}}</span>
                            <span v-if="i == 'extensii_orizontale'">{{item.price}} Euro</span>
                            <span v-if="i == 'extensii_orizontale'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'extensii_orizontale'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'extensii_orizontale'">{{calItemWithTvaSum(item.total)}}</span>

                            <!--                            plinta-->
                            <span class="text-left" v-if="i == 'plinta'"> Plinta:{{item.name}}--></span>
                            <span v-if="i == 'plinta'">{{item.quantity}}</span>
                            <span v-if="i == 'plinta'">{{item.price}} Euro</span>
                            <span v-if="i == 'plinta'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'plinta'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'plinta'">{{calItemWithTvaSum(item.total)}}</span>

                            <!--                         balamale-->
                            <span class="text-left" v-if="i == 'balamale' && item.tip_balama">Balama: {{item.tip_balama}}</span>
                            <span v-if="i == 'balamale' && item.tip_balama">{{item.quantity}}</span>
                            <span v-if="i == 'balamale' && item.tip_balama">{{item.price}} Euro</span>
                            <span v-if="i == 'balamale' && item.tip_balama">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'balamale' && item.tip_balama">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'balamale'">{{calItemWithTvaSum(item.total)}}</span>

                            <!-- broasca-->
                            <span class="text-left" v-if="i == 'broasca'">Broasca: {{item.broasca}}</span>
                            <span v-if="i == 'broasca'">{{item.quantity}}</span>
                            <span v-if="i == 'broasca'">{{item.price}} Euro</span>
                            <span v-if="i == 'broasca'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'broasca'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'broasca'">{{calItemWithTvaSum(item.total)}}</span>

                            <!--                            minere-->
                            <span class="text-left" v-if="i == 'minere'">Miner:{{item.name}}</span>
                            <span v-if="i == 'minere'">{{item.quantity}}</span>
                            <span v-if="i == 'minere'">{{item.price}} Euro</span>
                            <span v-if="i == 'minere'">{{calcItemPrtner(item.price)}} Euro</span>
                            <span v-if="i == 'minere'">{{calcItemPartnerTotal(item.total)}} Euro</span>
                            <span v-if="i == 'minere'">{{calItemWithTvaSum(item.total)}}</span>


                        </div>

                    </div>
                    <div class="footer">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span>Total:</span>
                        <span>{{calcSumWithDiscountTva()}} Euro</span>
                    </div>
<!--                    <div class="footer-second">-->
<!--                        <span></span>-->
<!--                        <span></span>-->
<!--                        <span></span>-->
<!--                        <span>Total cu reduere {{discount}}%:</span>-->
<!--                        <span>{{calcSumWithDiscount()}} Euro</span>-->
<!--                        <span></span>-->
<!--&lt;!&ndash;                        <span>{{calcSumWithDiscountTva()}} Euro</span>&ndash;&gt;-->
<!--                        <span>{{calcSumWithDiscountTva()}} Euro</span>-->
<!--                    </div>-->

                </div>
            </div>

        </main>
    </div>
</template>

<script>
    export default {
        name: "proformaClientInvoice",
        props: ['invoice_id'],
        data() {
            return {
                count_row: 0,
                carts: [],
                cartsum: 0,
                discount: 0,
                userbank: '',
                created: '',
                sum_by_name: [],
                form: {
                    invoice_id: 0,
                },

                row_form: {
                    cart: [],
                },


                send_date: '',
                de_la: '',

                errors: [],
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
            this.getCart();
        },

        methods: {
            calcItemPrtner(sum){
                let total = 0;
                total = sum - ((sum * this.discount) / 100);
                total = total.toFixed(2);
                return total;
            },

            calItemSumPartner(sum){
                let total = 0;
                total = sum - ((sum * this.discount) / 100);
                total = total.toFixed(2);
                return total;
            },

            calcSumWithDiscount() {
                let total = 0;

                total = this.cartsum - ((this.cartsum * this.discount) / 100);

                return total;
            },

            calItemWithTvaSum(sum){
                let total = 0;
                total = sum - ((sum * this.discount) / 100);
                total = (total * 100 * 1.19) / 100;
                total = total.toFixed(2);
                return total;
            },

            calcItemPartnerTotal(sum){
                let total = 0;
                total = sum - ((sum * this.discount) / 100);
                total = total.toFixed(2);
                return total;
            },

            // Calulare suma fiecare rind
            calcSumWithDiscountTva() {
                let total = 0;

                total = this.cartsum - ((this.cartsum * this.discount) / 100);
                total = Math.round(total * 100 * 1.19) / 100;

                return total;
            },


            totalInvoice(){
                let total = 0;

                return total;
            },



            // stergere element din cos
            deleteItemCart(id) {
                axios.get('/axios/delete-item-cart/' + id).then(response => {
                    this.getCart();
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        this.selectErrors();
                    }
                });
            },

            // scoatere cos de cumparaturi
            getCart() {

                axios.get('/axios/get-cart-pdf-operator/' + this.invoice_id).then(response => {

                    if (response.data.status == 'success') {
                        this.carts = response.data.cart;
                        this.cartsum = Math.round(response.data.total * 100) / 100;
                        this.form.invoice_id = response.data.cart_id;
                        this.sum_by_name = response.data.sum_by_name;
                        this.send_date = response.data.send_date;
                        this.de_la = response.data.de_la;
                        this.discount = response.data.discount;
                        this.userbank = response.data.userbank;
                        this.created = response.data.created;

                    }

                    if (response.data.status == 'nocart') {
                        this.form.invoice_id = '';
                        this.carts = [];
                        this.cartsum = [];
                    }

                }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                        // this.selectErrors();
                    }

                });

            },

        },
    }
</script>

<style lang="scss" scoped>
    .table {
        .header {
            display: grid;
            grid-template-columns:3fr 0.2fr 0.5fr 0.5fr 0.5fr 0.7fr;
            grid-template-areas: ". . . . . .";

            span {
                text-align: center;
                border-right: 1px solid #dfdfdf;
            }
        }

        .content {
            .item {
                display: grid;
                grid-template-columns: 3fr 0.2fr 0.5fr 0.5fr 0.5fr 0.7fr;
                grid-template-areas: ". . . . . .";
                border-top: 1px solid #dfdfdf;

                &:last-child {
                    border-bottom: 1px solid #dfdfdf;
                }

                span {
                    text-align: center;
                    border-right: 1px solid #dfdfdf;
                }

                .text-left {
                    text-left {
                        text-align: left;
                    }
                }

            }
        }

        .footer {
            display: grid;
            grid-template-columns: 3fr 0.2fr 0.5fr 0.5fr 0.5fr 0.7fr;
            grid-template-areas: ". . . . . .";

            span {
                text-align: center;


                &:nth-child(6) {
                    border: 2px solid #dfdfdf;
                    /*border-top: none;*/
                    font-weight: 800;
                }

                &:nth-child(7) {
                    border: 2px solid #dfdfdf;
                    /*border-top: none;*/
                    font-weight: 800;
                }
            }

        }

        .footer-second {
            display: grid;
            grid-template-columns: 3fr 0.2fr 0.5fr 0.5fr 0.5fr 0.7fr;
            grid-template-areas: ". . . . . .";

            span {
                text-align: center;


                &:nth-child(2) {
                    text-align: right;
                }

                &:nth-child(3) {
                    border: 2px solid #dfdfdf;
                    border-top: none;
                }

                &:nth-child(4) {
                    border: 2px solid #dfdfdf;
                    border-top: none;
                }

                &:nth-child(5) {
                    border: 2px solid #dfdfdf;
                    border-top: none;
                }
            }

        }

    }
</style>
