<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h4>Edit Windows</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="action-btn">
                <v-btn @click="newProduct" class="mx-2" fab dark color="indigo">
                    <v-icon dark>mdi-plus</v-icon>
                </v-btn>
            </div>
            <div class="items">
                <v-simple-table class="w-100">
                    <template v-slot:default>
                        <thead>
                        <tr>
                            <th class="text-left">
                                Name
                            </th>
                            <th class="text-left">
                                Image
                            </th>
                            <th class="text-left">
                                Edit
                            </th>
                            <th class="text-left">
                                Delete
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in products" :key="index">
                            <td>{{ item.name }}</td>
                            <td><img v-if="item.image" :src="item.image" alt="" style="width: 25px; height: 25px;"></td>
                            <td>
                                <v-btn depressed small color="primary" @click="editProductOpen(item)">Edit</v-btn>
                            </td>
                            <td>
                                <v-btn depressed small color="error" @click="GetDelete(item.id)">Delete</v-btn>
                            </td>
                        </tr>
                        </tbody>
                    </template>
                </v-simple-table>

                <!--                <div class="item" v-for="(product, index) in products" :key="index">-->
                <!--                    <div class="img">-->
                <!--                        <img :src="product.image" alt="">-->
                <!--                    </div>-->
                <!--                    <div class="char">-->
                <!--                        <span class="name">{{product.name}}</span>-->
                <!--                    </div>-->
                <!--                    <div class="act-btn">-->
                <!--                        <v-btn depressed small color="primary" @click="editProductOpen(product)">Edit</v-btn>-->
                <!--                        <v-btn depressed small color="error" @click="GetDelete(product.id)">Delete</v-btn>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>

            <v-dialog
                v-model="addproduct"
                max-width="290"
            >
                <v-card>
                    <v-card-title class="headline">Modul adugare mânere</v-card-title>

                    <v-card-text>
                        <v-text-field
                            class="mr-2"
                            v-model="form.name"
                            label="Denumire"
                            outlined
                            dense
                        ></v-text-field>
                        <div class="input-group mb-3">
                            <div class="custom-file file-size">
                                <input accept="image/jpeg, image/png" v-on:change=uploadImage type="file"
                                       class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01" v-if="imgSelected == ''">Alege
                                    imagine</label>
                                <label class="custom-file-label" for="inputGroupFile01" v-else>Selectata</label>
                            </div>
                        </div>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn
                            color="green darken-1"
                            text
                            @click="addproduct = false"
                        >
                            Anuleaza
                        </v-btn>

                        <v-btn
                            color="green darken-1"
                            text
                            @click="saveProduct"
                        >
                            Salveaza
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
export default {
    name: "Windows",

    data() {
        return {
            products: [],

            addproduct: false,

            editOrNew: 0,

            imgSelected: '',

            form: {
                id: '',
                image: '',
                name: '',
            },

            notify: {
                color: 'success',
                right: 'right',
                timeout: 4000,
                top: 'top',
                text: 'pretul a fost modificat cu succes'
            },
            snackbar: false,

            errors: [],
            show_error: false,
            token: '',
        }
    },

    mounted() {
        let t = document.head.querySelector('meta[name="csrf-token"]');

        if (t) {
            this.token = t.content;
        } else {
            console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
        }
    },

    created() {
        this.GetProducts();
    },

    methods: {
        newProduct() {
            this.addproduct = !this.addproduct;
            this.form.image = '';
            this.form.name = '';
            this.form.id = '';
            this.imgSelected = '';
        },

        uploadImage(e) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },

        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.form.image = e.target.result;
                this.imgSelected = 'Selected'
            };

            reader.readAsDataURL(file);
        },

        saveProduct() {
            axios.post('/axios/save-window', this.form).then(response => {
                if (response.data.status == 'success') {
                    this.addproduct = false;
                    this.form.image = '';
                    this.form.name = '';
                    this.snackbar = true;
                    this.notify.text = 'Produsul a fost adugat cu succes';
                    this.GetProducts();

                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        GetProducts() {
            axios.get('/axios/get-windows').then(response => {
                if (response.data.status == 'success') {
                    this.products = response.data.data;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        GetDelete(id) {
            axios.get('/axios/delete-window/' + id).then(response => {
                if (response.data.status == 'success') {
                    this.GetProducts();
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        editProductOpen(product) {
            this.addproduct = true;
            this.form.id = product.id;
            this.form.name = product.name;
            this.form.image = '';
            this.editOrNew = 1;
            this.imgSelected = '';
        },
    }
}
</script>

<style scoped>

</style>
