<template>
    <div class="login">
        <v-container
            class="fill-height"
            fluid
        >
            <v-row
                align="center"
                justify="center"
            >
                <v-col
                    cols="12"
                    sm="8"
                    md="4"
                >
                    <v-card class="elevation-12 form-login" v-if="auth != null">
                        <v-toolbar
                            color="primary"
                            dark
                            flat
                        >
                            <v-btn
                                class="ma-2"
                                :loading="load"
                                :disabled="load"
                                color="primary"
                                @click="goToDasboard(auth.user_type)"
                            >
                                Deja sunteti logat in sistem mergeti in cabinetul personal
                            </v-btn>
                        </v-toolbar>
                    </v-card>
                    <v-card class="elevation-12 form-login" v-if="auth == null">
                        <v-toolbar
                            color="primary"
                            dark
                            flat
                        >
                            <v-toolbar-title class="d-flex justify-content-between"><span>Formular de logare</span></v-toolbar-title>
                            <v-spacer />
                        </v-toolbar>
                        <v-card-text>
                            <v-form >
                                <v-text-field v-model="form.email" :class="errors.email ? 'err-inp' : ''" label="Email" name="login" prepend-icon="person" type="email"/>
                                <span for="exampleInputEmail1" class="text-red help-block"
                                      v-html="errors.email ? errors.email[0] : ''"></span>
                                <v-text-field :class="errors.password ? 'err-inp' : ''" v-model="form.password" id="password" label="Password" name="password" prepend-icon="lock" type="password"/>
                                <span for="exampleInputPassword1" class="text-red help-block"
                                      v-html="errors.password ? errors.password[0] : ''"></span>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer />
                            <v-btn
                                class="ma-2"
                                :loading="load"
                                :disabled="load"
                                color="primary"
                                @click="login_user"
                            >
                                Logare in cont
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "Auth",
        props: ['auth'],
        data() {
            return {
                login: false,
                nu: '',
                form: {
                    email: '',
                    password: '',
                },
                errors: [],
                load: false,
                show_error: false,
                token: '',
            }
        },

        mounted() {
            let t = document.head.querySelector('meta[name="csrf-token"]');

            if (t) {
                this.token = t.content;
            } else {
                console.error('CSRF token not found: https://laravel.com/docs/csrf#csrf-x-csrf-token');
            }
        },

        methods: {
            goToDasboard(type){
                if (type == 1) {
                    window.location.assign('/cabinet/client/contul-meu')
                }

                if (type == 2) {
                    window.location.assign('/cabinet/operator/contul-meu')
                }

            },

            onClose() {
                this.login = false
            },

            login_user() {
                this.errors = [];
                this.load = true;
                axios.post('/utlizator-logare', this.form).then(response => {
                    if (response.data.status == 'success') {
                        this.errors = [];
                        this.load = false;
                        this.login = false;
                        if (response.data.url != null) {
                            window.location.assign(response.data.url)
                        }

                    } else {
                        this.show_error = true
                        this.load = false
                        this.nu = 'Nu exista acest utilizator'
                    }
                }).catch(error => {
                    if (error.response.status == 422) {
                        this.load = false;
                        this.errors = error.response.data.errors;
                    }
                });
            }
        }
    }
</script>

<style lang="scss">
    .login {
        width: 100%;
        height: 100vh;
        display: block;
        position: relative;
    }



    .login::after{
        content: "";
        background-image: url(/images/auth/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;
        filter: brightness(0.6) blur(1px);
    }

    .form-login{
        z-index: 12;
    }

    .text-red {
        color: red;
        font-size: 10px;
    }

    .err-inp {
        border: 1px solid red !important;
        border-radius: 5px !important;
    }

    .err-fil {
        border: 1px solid red;
        padding: 15px;
        width: 50%;
        border-radius: 3px;
        background-color: #e6cece45;
    }

    .mmb-5 {
        margin-bottom: 5px !important;
    }

    .mmb-1-r{
        margin-bottom: 1rem;
    }
</style>
