<template>
    <main :style="'width: 800px; margin: 0 auto; background: white; padding: 20px; margin-top: 40px'">
        <table :style="'border-collapse: collapse; width: 100%; margin-bottom: 30px'" border="0">
            <tbody>
            <tr :style="'text-align: left'">
                <td>
                    <img src="/images/client_offer/cos/head.png"
                         :style="'width: 540px; height: 200px; object-fit: contain'"/>
                </td>
                <td>
                    <img src="/images/client_offer/cos/profildoors.png"
                         :style="'width: auto; height: 130px; object-fit: contain'"/>
                </td>
            </tr>
            <tr>
                <td :style="'padding: 0px 11px 0 0;'">
                    <div :style="'background: #dad6d6; font-weight: 800; padding: 4px 10px; text-align: center'">
                        <strong>
                            UȘI MODERNE DE INTERIOR, CEA MAI VARIATĂ GAMĂ DE MODELE
                        </strong>
                    </div>

                    <div :style="'display: block; font-size: 11px'">
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/1.png" alt="">
                            Inveliș german rezistent la uzură și alți factori fizico-chimici
                        </span>
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/2.png" alt="">
                            Construcție durabilă cu ramă din lemn de pin
                        </span>
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/3.png" alt="">
                            Inchidere silențioasă. Ferenorerie premium (AGB Italia)
                        </span>
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/4.png" alt="">
                            Estetică maximă datorită design-ului elaborat de specialiștii italieni
                        </span>
                    </div>
                </td>
                <td :style="'font-size: 10px; text-align: left; padding: 0 20px; vertical-align: baseline;'">
                    <strong>{{ user.user_info.name }}</strong><br>
                    {{ user.user_info.bank_details }}<br>
                    {{ user.user_info.phone }} | {{ user.user_info.email }}<br>
                </td>
            </tr>
            </tbody>
        </table>

        <table border="1" :style="'font-size: 10px; width: 100%; margin-bottom: 30px'"
                v-for="(cart, i) in offer" :key="i">
            <tbody>
            <td :style="'background: #dad6d6; font-size: 16px; font-weight: 800; padding-left: 10px; width: 70%'">Amplasare
                {{ cart.amplasare }}
            </td>
            <td :style="'text-align: center; width: 10%'">Cantitate</td>
            <td :style="'text-align: center; width: 10%'">Pret (inclusiv TVA)</td>
            <td :style="'text-align: center width: 10%'" rowspan="12">
                <comp-el-i :info="cart.specification.foaie_de_usa"></comp-el-i>
            </td>
            <tr v-if="cart.specification.foaie_de_usa">
                <td :style="'padding-left: 10px;'">Foaie de usa: {{ cart.specification.foaie_de_usa.seria }} {{specificationIsReverse(cart.specification)}}
                    {{ cart.specification.foaie_de_usa.culoare }} | {{ cart.specification.foaie_de_usa.inaltime }}cm x
                    {{ cart.specification.foaie_de_usa.latime }}cm |
                    {{ cart.specification.foaie_de_usa.grosime_canat }}mm
                    {{generateSpecificationDoor(cart.specification)}}
                </td>
                <td :style="'text-align: center'">{{ cart.specification.foaie_de_usa.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.foaie_de_usa.total) }}</td>
            </tr>
            <tr v-if="cart.specification.traverse_verticale">
                <td :style="'padding-left: 10px;'">Traverse verticale:
                    {{ cart.specification.traverse_verticale.culoare }} |
                    {{specificationIsReverse(cart.specification)}} |
                    {{ cart.specification.traverse_verticale.inaltime }}cm | Latime toc:
                    {{ cart.specification.traverse_verticale.latime_toc }}mm | Grosime canat:
                    {{ cart.specification.traverse_verticale.grosime_canat }}mm | Pervaz:
                    {{ cart.specification.traverse_verticale.pervaz }}mm
                </td>
                <td :style="'text-align: center'">{{ cart.specification.traverse_verticale.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.traverse_verticale.total) }}</td>
            </tr>
            <tr v-if="cart.specification.grinda">
                <td :style="'padding-left: 10px;'">Grinda: {{ cart.specification.grinda.culoare }} |
                    {{specificationIsReverse(cart.specification)}} |
                    {{ cart.specification.grinda.latime }}cm | Latime toc: {{ cart.specification.grinda.latime_toc }}mm
                    | Grosime canat: {{ cart.specification.grinda.grosime_canat }}mm | Pervaz:
                    {{ cart.specification.grinda.pervaz }}mm
                </td>
                <td :style="'text-align: center'">{{ cart.specification.grinda.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.grinda.total) }}</td>
            </tr>
            <tr v-if="cart.specification.balamale">
                <td :style="'padding-left: 10px;'">Balama: {{ cart.specification.balamale.tip_balama }}</td>
                <td :style="'text-align: center'">{{ cart.specification.balamale.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.balamale.total) }}</td>
            </tr>
            <tr v-if="cart.specification.broasca">
                <td :style="'padding-left: 10px;'">Broasca: {{ cart.specification.broasca.broasca }}</td>
                <td :style="'text-align: center'">{{ cart.specification.broasca.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.broasca.total) }}</td>
            </tr>
            <tr v-if="cart.specification.extensii_verticale">
                <td :style="'padding-left: 10px;'">Extensii verticale:
                    {{ cart.specification.extensii_verticale.latime }}mm x
                    {{ cart.specification.extensii_verticale.lungime }}mm | Culoare:
                    {{ cart.specification.extensii_verticale.culoare }}
                </td>
                <td :style="'text-align: center'">{{ cart.specification.extensii_verticale.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.extensii_verticale.total) }}</td>
            </tr>
            <tr v-if="cart.specification.extensii_orizontale">
                <td :style="'padding-left: 10px;'">Extensii orizontale:
                    {{ cart.specification.extensii_orizontale.latime }}mm x
                    {{ cart.specification.extensii_orizontale.lungime }}mm | Culoare:
                    {{ cart.specification.extensii_orizontale.culoare }}
                    {{specificationIsReverse(cart.specification)}}
                </td>
                <td :style="'text-align: center'">{{ cart.specification.extensii_orizontale.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.extensii_orizontale.total) }}</td>
            </tr>
            <tr v-if="cart.specification.minere">
                <td :style="'padding-left: 10px;'">Manere: {{ cart.specification.minere.name }}</td>
                <td :style="'text-align: center'">{{ cart.specification.minere.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.minere.total) }}</td>
            </tr>
            <tr v-if="cart.specification.plinta">
                <td :style="'padding-left: 10px;'">{{ cart.specification.plinta.name }}</td>
                <td :style="'text-align: center'">{{ cart.specification.plinta.quantity }}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.plinta.total) }}</td>
            </tr>
<!--            //new-->
            <tr v-if="cart.specification.automatic_threshold">
                <td :style="'padding-left: 10px;'">Prag automat:</td>
                <td :style="'text-align: center'">{{cart.specification.foaie_de_usa.quantity}}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.automatic_threshold) }}</td>
            </tr>
            <tr v-if="cart.specification.door_reinforcement">
                <td :style="'padding-left: 10px;'">Ranforsare usa:</td>
                <td :style="'text-align: center'">{{cart.specification.foaie_de_usa.quantity}}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.door_reinforcement) }}</td>
            </tr>
            <tr v-if="cart.specification.self_closing">
                <td :style="'padding-left: 10px;'">Auto inchidere</td>
                <td :style="'text-align: center'">{{cart.specification.foaie_de_usa.quantity}}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.self_closing) }}</td>
            </tr>
            <tr v-if="cart.specification.ventilation_grille">
                <td :style="'padding-left: 10px;'">Grila ventilare:</td>
                <td :style="'text-align: center'">{{cart.specification.foaie_de_usa.quantity}}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.ventilation_grille) }}</td>
            </tr>
            <tr v-if="cart.specification.invisible_heel">
                <td :style="'padding-left: 10px;'">Toc invisibil {{specificationIsReverse(cart.specification)}}:</td>
                <td :style="'text-align: center'">{{cart.specification.foaie_de_usa.quantity}}</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.specification.invisible_heel) }}</td>
            </tr>


            <tr :style="'background: #dad6d6; padding-left: 10px;'">
                <td :style="'padding-left: 10px;'" colspan="2">TOTAL</td>
                <td :style="'text-align: center'">{{ calcSumWithTva(cart.total)}}</td>
            </tr>
            <tr v-if="i === offer.length-1" :style="'background: #dad6d6; padding-left: 10px;'">
                <td :style="'padding-left: 10px;'" colspan="3"></td>
            </tr>
            <tr v-if="i === offer.length-1" :style="'background: #dad6d6; padding-left: 10px;'">
                <td :style="'padding-left: 10px; font-weight: 800;'" colspan="2">TOTAL COMANDA (cu TVA)</td>
                <td :style="'text-align: center'"><strong>{{calcSumWithTva(total)}}</strong></td>
            </tr>
            </tbody>
        </table>
        <div class="sett" :style="'margin-top: 20px; margin-bottom: 20px; margin-left: 30px'">
            <strong>
                Dimensiuni standard. Pot fi realizate dimensiuni atipice;<br>
                *Oferta este aproximativă si va fi finala doar dupa masuratori;<br>
                *Oferta include serviciile de masurare si livrare in raza orașului;<br>
                *Oferta este valabilă 5 zile.<br>
            </strong>
        </div>

        <div class="avantage">
            <table :style="'width: 100%;'">
                <tbody>
                <td :style="'background: #dad6d6; width=70%; font-size: 11px; padding: 8px 30px; line-height: 20px;'">
                    <strong :style="'color: red'">AVANTAJE UȘILOR PROFILDOORS</strong><br>
                    <strong> - &nbsp;&nbsp;&nbsp;Rama din lemn masiv </strong><span>face ușa </span><strong>REZISTENTĂ și DURABILĂ. </strong><br>
                    <strong> - &nbsp;&nbsp;&nbsp;ÎNVELIȘUL german UNILACK</strong> este cea mai practică soluție pentru rezistența la uzură
                    și durată<br>
                    de exploatare a ușilor de interior. Acest înveliș are avantaje cu duiumul:<br>
                    <ul :style="'margin-left: 30px;'">
                        <li>ARATĂ FOARTE BINE - are textură satinată, mată care nu ține urmele de amprente.</li>
                        <li>SE ÎNTREȚINE FOARTE UȘOR - e rezistentă la soluții chimice, chiar dacă copilul va desena cu
                            marker pe ușă o vei curața intr-o clipă cu soluție chimică chiar și cu diluant.
                        </li>
                        <li>REZISTĂ LA INFLUENȚA RAZELOR UV - chiar dacă va sta mult la soare, ușa va rămâne mulți ani
                            de aceiași culoare ca în ziua montării.
                        </li>
                    </ul>
                    <strong> - &nbsp;&nbsp;&nbsp;NU ABSOARBE APA</strong> - rezistă foarte bine la umeditate, liniștit o poți pune la baie,
                    chiar și la una foarte mică și foarte traficată, ușa nu se va deforma, nu se va umfla.<br>

                    <strong> - &nbsp;&nbsp;&nbsp;FERONERIE ITALIANĂ</strong> (AGB) DE CEA MAI ÎNALTĂ CALITATE.<br>

                    <strong> - &nbsp;&nbsp;&nbsp;ÎNCHIDERE SILENȚIOASĂ</strong> – datorită inchiderii magnetice nu vei auzi scârțâit de uși
                    noaptea

                </td>
                <td :style="'width:30%'">
                    <img :style="'width: 100%; height: auto;'" src="/images/client_offer/compus.png" alt="">
                </td>
                </tbody>
            </table>
        </div>



        <div class="contine" :style="'margin-top: 30px'">
            <span>Setul de ușă conține:</span>
            <img :style="'width: 100%'" src="/images/client_offer/offer-cuprinde.png" alt="">
        </div>
        <div class="abs_menu hidden-print">
            <button class="abs-btn"  onclick="window.print()">Save as PDF
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="white" d="M8,13H10.55V10H13.45V13H16L12,17L8,13M19.35,10.04C21.95,10.22 24,12.36 24,15A5,5 0 0,1 19,20H6A6,6 0 0,1 0,14C0,10.91 2.34,8.36 5.35,8.04C6.6,5.64 9.11,4 12,4C15.64,4 18.67,6.59 19.35,10.04M19,18A3,3 0 0,0 22,15C22,13.45 20.78,12.14 19.22,12.04L17.69,11.93L17.39,10.43C16.88,7.86 14.62,6 12,6C9.94,6 8.08,7.14 7.13,8.97L6.63,9.92L5.56,10.03C3.53,10.24 2,11.95 2,14A4,4 0 0,0 6,18H19Z" />
                </svg>
            </button>
            <v-text-field
                v-model="procent"
                counter
                :min="0"
                maxlength="3"
                dense
                label="Procent de reducere"
                outlined
                type="number"
            ></v-text-field>
        </div>

    </main>
</template>

<script>
export default {
    name: "OfertaCos",
    props: ['offer', 'user', 'invoice', 'total'],
    data() {
        return {
            res: [],
            procent: 0,
        }
    },
    methods: {
        generateSpecificationDoor(item) {
            let res = ''
            if (item.automatic_threshold){
                res = res + '| Prag automat '
            }

            if (item.door_reinforcement ){
                res = res + '| Ranforsare usa '
            }

            if (item.self_closing) {
                res = res + '| Auto inchidere '
            }

            if (item.ventilation_grille) {
                res = res + '| Grila ventilare '
            }

            return res;
        },

        specificationIsReverse(item) {
            let res = ''
            if (item.reverse_door) {
                res = res + '| REVERSE '
            }

            return res;
        },

        calcSumWithTva(price) {
            let total = 0;

            total = price;
            total = total * 1.19;
            if (this.procent > 0){
                total = parseFloat((total + (total * this.procent) / 100))
            }
            total = Math.round(total * 100) / 100;
            return total;
        },

        calcEveryItemTotalPartner(sum, type) {
            let total = 0;
            if (type === 1) {
                total = sum - ((sum * parseFloat(this.user.user_info.discount)) / 100);
            } else if (type === 6) {
                total = sum - ((sum * parseFloat(this.user.user_info.discount_minere)) / 100);
            } else {
                total = sum;
            }
            total = Math.round(total * 100) / 100;
            return total;
        },
    },
}
</script>

<style lang="scss" scoped>
@media print {
    .hidden-print {
        display: none !important;
    }
}

@media print {
    tbody {display: table-header-group;page-break-before: always;}
}
.abs_menu{
    position: fixed;
    top: 40px;
    left: 50px;
    display: grid;
    background: white;
    padding: 20px;
    .abs-btn{
        background: black;
        color: white;
        padding: 5px 30px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        &:hover{
            background: grey;
        }
    }

    .btn_action{

    }
}


div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}
</style>
