<template>
    <main id="Document" ref="content" :style="'width: 800px; margin: 0 auto; background: white; padding: 20px;'">
        <table :style="'border-collapse: collapse; width: 100%; margin-bottom: 30px'" border="0">
            <tbody>
            <tr :style="'text-align: left'">
                <td>
                    <img src="/images/client_offer/cos/head.png"
                         :style="'width: 540px; height: 200px; object-fit: contain'"/>
                </td>
                <td>
                    <img src="/images/client_offer/cos/profildoors.png"
                         :style="'width: auto; height: 130px; object-fit: contain'"/>
                </td>
            </tr>
            <tr>
                <td :style="'padding: 0px 11px 0 0;'">
                    <div :style="'font-weight: 800; padding: 4px 10px; text-align: left'">
                        <strong>
                            UȘI MODERNE DE INTERIOR, CEA MAI VARIATĂ GAMĂ DE MODELE
                        </strong>
                    </div>

                    <div :style="'display: block; font-size: 11px;'">
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/1.png" alt="">
                            Inveliș german rezistent la uzură și alți factori fizico-chimici
                        </span>
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/2.png" alt="">
                            Construcție durabilă cu ramă din lemn de pin
                        </span>
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/3.png" alt="">
                            Inchidere silențioasă. Ferenorerie premium (AGB Italia)
                        </span>
                        <span :style="'display: flex; align-items: center; margin: 10px 0;'">
                            <img :style="'width: 25px; height: 25px; margin-right: 10px;'"
                                 src="/images/client_offer/cos/4.png" alt="">
                            Estetică maximă datorită design-ului elaborat de specialiștii italieni
                        </span>
                    </div>
                </td>
                <td :style="'font-size: 10px; text-align: left; padding: 0 20px; vertical-align: baseline;'">
                    <strong>{{ offer.user.name }}</strong><br>
                    {{ offer.user.user_info.bank_details }}<br>
                    {{ offer.user.user_info.phone }} | {{ offer.user.user_info.email }}<br>
                </td>
            </tr>
            </tbody>
        </table>


        <div :style="'width: 100%; display: grid; grid-template-columns: 2fr 0.8fr; gap: 20px;'">
            <div>
                <table :style="'border-collapse: collapse; width: 100%; margin-bottom: 30px'">
                    <tbody>
                    <tr :style="'background: #dad6d6;     border: 1px solid;'">
                        <td :style="'    border-right: 1px solid;     padding-left: 10px;'">
                            <strong>Profildoors {{ offer.product.name }}</strong></td>
                        <td></td>
                        <td :style="'text-align: center;'"><strong>{{ totalCalc(offer.cart.total) }} euro (TVA
                            inclus)</strong></td>

                    </tr>
                    <tr :style="'border-bottom:none'">
                        <td :style="'border:none; padding-left: 10px;'">&nbsp;</td>
                        <td :style="'border:none'"></td>
                        <td></td>
                    </tr>
                    <!--                    <tr :style="'border: 1px solid;'">-->
                    <!--                        <td :style="'border-right: 1px solid;     padding-left: 10px;'">Inaltime</td>-->
                    <!--                        <td :style="'border:none; text-align: center;'">{{offer.cart.specification.foaie_de_usa.inaltime}}mm</td>-->
                    <!--                    </tr>-->
                    <!--                    <tr :style="'border: 1px solid;'">-->
                    <!--                        <td :style="'border-right: 1px solid;     padding-left: 10px;'">Lățime</td>-->
                    <!--                        <td :style="'border:none; text-align: center;'">{{offercart.specification.foaie_de_usa.latime}}mm</td>-->
                    <!--                    </tr>-->
                    <!--                    <tr :style="'border: 1px solid;'">-->
                    <!--                        <td :style="'border-right: 1px solid;     padding-left: 10px;'">Grosime zid</td>-->
                    <!--                        <td :style="'border:none; text-align: center;'">75-133 mm</td>-->
                    <!--                    </tr>-->
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.foaie_de_usa">
                        <td :style="'padding-left: 10px;'">Foaie de usa:
                            {{ offer.cart.specification.foaie_de_usa.seria }}
                            {{specificationIsReverse(offer.cart.specification)}}
                            {{ offer.cart.specification.foaie_de_usa.culoare }} |
                            {{ offer.cart.specification.foaie_de_usa.inaltime }}cm x
                            {{ offer.cart.specification.foaie_de_usa.latime }}cm |
                            {{ offer.cart.specification.foaie_de_usa.grosime_canat }}mm
                            {{generateSpecificationDoor(offer.cart.specification)}}
                        </td>
                        <td :style="'text-align: center'">{{ offer.cart.specification.foaie_de_usa.quantity }}</td>
                        <td :style="'text-align: center'">
                            {{ calcSumWithTva(offer.cart.specification.foaie_de_usa.total) }}
                        </td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.traverse_verticale">
                        <td :style="'padding-left: 10px;'">Traverse verticale:
                            {{ offer.cart.specification.traverse_verticale.culoare }} |
                            {{specificationIsReverse(offer.cart.specification)}} |
                            {{ offer.cart.specification.traverse_verticale.inaltime }}cm | Latime toc:
                            {{ offer.cart.specification.traverse_verticale.latime_toc }}mm | Grosime canat:
                            {{ offer.cart.specification.traverse_verticale.grosime_canat }}mm | Pervaz:
                            {{ offer.cart.specification.traverse_verticale.pervaz }}mm
                        </td>
                        <td :style="'text-align: center'">{{
                                offer.cart.specification.traverse_verticale.quantity
                            }}
                        </td>
                        <td :style="'text-align: center'">
                            {{ calcSumWithTva(offer.cart.specification.traverse_verticale.total) }}
                        </td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.grinda">
                        <td :style="'padding-left: 10px;'">Grinda: {{ offer.cart.specification.grinda.culoare }} |
                            {{specificationIsReverse(offer.cart.specification)}} |
                            {{ offer.cart.specification.grinda.latime }}cm | Latime toc:
                            {{ offer.cart.specification.grinda.latime_toc }}mm
                            | Grosime canat: {{ offer.cart.specification.grinda.grosime_canat }}mm | Pervaz:
                            {{ offer.cart.specification.grinda.pervaz }}mm
                        </td>
                        <td :style="'text-align: center'">{{ offer.cart.specification.grinda.quantity }}</td>
                        <td :style="'text-align: center'">{{
                                calcSumWithTva(offer.cart.specification.grinda.total)
                            }}
                        </td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.balamale">
                        <td :style="'padding-left: 10px;'">Balama: {{
                                offer.cart.specification.balamale.tip_balama
                            }}
                        </td>
                        <td :style="'text-align: center'">{{ offer.cart.specification.balamale.quantity }}</td>
                        <td :style="'text-align: center'">{{
                                calcSumWithTva(offer.cart.specification.balamale.total)
                            }}
                        </td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.broasca">
                        <td :style="'padding-left: 10px;'">Broasca: {{ offer.cart.specification.broasca.broasca }}</td>
                        <td :style="'text-align: center'">{{ offer.cart.specification.broasca.quantity }}</td>
                        <td :style="'text-align: center'">{{
                                calcSumWithTva(offer.cart.specification.broasca.total)
                            }}
                        </td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.extensii_verticale">
                        <td :style="'padding-left: 10px;'">Extensii verticale:
                            {{ offer.cart.specification.extensii_verticale.latime }}mm x
                            {{ offer.cart.specification.extensii_verticale.lungime }}mm | Culoare:
                            {{ offer.cart.specification.extensii_verticale.culoare }}
                        </td>
                        <td :style="'text-align: center'">{{
                                offer.cart.specification.extensii_verticale.quantity
                            }}
                        </td>
                        <td :style="'text-align: center'">
                            {{ calcSumWithTva(offer.cart.specification.extensii_verticale.total) }}
                        </td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.extensii_orizontale">
                        <td :style="'padding-left: 10px;'">Extensii orizontale:
                            {{ offer.cart.specification.extensii_orizontale.latime }}mm x
                            {{ offer.cart.specification.extensii_orizontale.lungime }}mm | Culoare:
                            {{ offer.cart.specification.extensii_orizontale.culoare }}
                            {{specificationIsReverse(offer.cart.specification)}}
                        </td>
                        <td :style="'text-align: center'">{{
                                offer.cart.specification.extensii_orizontale.quantity
                            }}
                        </td>
                        <td :style="'text-align: center'">
                            {{ calcSumWithTva(offer.cart.specification.extensii_orizontale.total) }}
                        </td>
                    </tr>
<!--                    //new added-->
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.minere">
                        <td :style="'padding-left: 10px;'">Manere: {{ offer.cart.specification.minere.name }}</td>
                        <td :style="'text-align: center'">{{ offer.cart.specification.minere.quantity }}</td>
                        <td :style="'text-align: center'">{{ calcSumWithTva(offer.cart.specification.minere.total) }}</td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.plinta">
                        <td :style="'padding-left: 10px;'">{{ offer.cart.specification.plinta.name }}</td>
                        <td :style="'text-align: center'">{{ offer.cart.specification.plinta.quantity }}</td>
                        <td :style="'text-align: center'">{{ calcSumWithTva(offer.cart.specification.plinta.total) }}</td>
                    </tr>
                    <!--            //new-->
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.automatic_threshold">
                        <td :style="'padding-left: 10px;'">Prag automat:</td>
                        <td :style="'text-align: center'">{{offer.cart.specification.foaie_de_usa.quantity}}</td>
                        <td :style="'text-align: center'">{{ calcSumWithTva(offer.cart.specification.automatic_threshold) }}</td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.door_reinforcement">
                        <td :style="'padding-left: 10px;'">Ranforsare usa:</td>
                        <td :style="'text-align: center'">{{offer.cart.specification.foaie_de_usa.quantity}}</td>
                        <td :style="'text-align: center'">{{ calcSumWithTva(offer.cart.specification.door_reinforcement) }}</td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.self_closing">
                        <td :style="'padding-left: 10px;'">Auto inchidere</td>
                        <td :style="'text-align: center'">{{offer.cart.specification.foaie_de_usa.quantity}}</td>
                        <td :style="'text-align: center'">{{ calcSumWithTva(offer.cart.specification.self_closing) }}</td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.ventilation_grille">
                        <td :style="'padding-left: 10px;'">Grila ventilare:</td>
                        <td :style="'text-align: center'">{{offer.cart.specification.foaie_de_usa.quantity}}</td>
                        <td :style="'text-align: center'">{{ calcSumWithTva(offer.cart.specification.ventilation_grille) }}</td>
                    </tr>
                    <tr :style="'border: 1px solid;'" v-if="offer.cart.specification.invisible_heel">
                        <td :style="'padding-left: 10px;'">Toc invisibil {{specificationIsReverse(offer.cart.specification)}}:</td>
                        <td :style="'text-align: center'">{{offer.cart.specification.foaie_de_usa.quantity}}</td>
                        <td :style="'text-align: center'">{{ calcSumWithTva(offer.cart.specification.invisible_heel) }}</td>
                    </tr>
                    </tbody>
                </table>
                <div :style="'margin-top: 20px;'">
                    <ul :style="'font-size: 13px; list-style: none; font-weight: 700;'">
                        <li>*Se pot produce dimensiuni atipice, cu înălțimi de până la 3m</li>
                        <li>*Oferta este pentru mărimile standard și va fi finală doar după masuratorile
                            specialistului
                        </li>
                        <li>*Prețul ofertei include costurile serviciilor de măsurare și livrare</li>
                        <li>*Oferta este valabilă 5 zile din ziua emiterii</li>
                    </ul>
                </div>
                <div class="contine" :style="'margin-top: 30px;'">
                    <strong>Setul de ușă conține:</strong>
                    <img :style="'width: 100%'" src="/images/client_offer/offer-cuprinde.png" alt="">
                </div>
                <div class="avantage">
                    <table :style="'width: 100%;     margin-top: 20px;'">
                        <tbody>
                        <td :style="'width: 100%; font-size: 11px; padding: 8px 6px; line-height: 20px;'">
                            <strong :style="'color: red; font-size: 16px'">AVANTAJELE UȘILOR PROFILDOORS</strong><br>
                            <strong> - &nbsp;&nbsp;&nbsp;RAMA DIN LEMN MASIV </strong><span>face ușa </span><strong>REZISTENTĂ
                            și
                            DURABILĂ. </strong><br>
                            <strong> - &nbsp;&nbsp;&nbsp;ÎNVELIȘUL GERMAN UNILACK</strong> este cea mai practică soluție
                            pentru rezistența la
                            uzură și durată<br>
                            de exploatare a ușilor de interior. Acest înveliș are avantaje cu duiumul:<br>
                            <ul :style="'margin-left: 30px;     margin-bottom: 0;'">
                                <li>ARATĂ FOARTE BINE - are textură satinată, mată care nu ține urmele de amprente.</li>
                                <li>SE ÎNTREȚINE FOARTE UȘOR - e rezistentă la soluții chimice, chiar dacă copilul va
                                    desena cu marker pe ușă o vei curața intr-o clipă cu soluție chimică chiar și cu
                                    diluant.
                                </li>
                                <li>REZISTĂ LA INFLUENȚA RAZELOR UV - chiar dacă va sta mult la soare, ușa va rămâne
                                    mulți ani de aceiași culoare ca în ziua montării.
                                </li>
                            </ul>
                            <strong> - &nbsp;&nbsp;&nbsp;NU ABSOARBE APA</strong> - rezistă foarte bine la umeditate,
                            liniștit o poți pune la
                            baie, chiar și la una foarte mică și foarte traficată, ușa nu se va deforma, nu se va umfla.<br>

                            <strong>- &nbsp;&nbsp;&nbsp;FERONERIE ITALIANĂ</strong> (AGB) DE CEA MAI ÎNALTĂ
                            CALITATE.<br>

                            <strong>- &nbsp;&nbsp;&nbsp;ÎNCHIDERE SILENȚIOASĂ</strong> – datorită inchiderii magnetice
                            nu vei auzi scârțâit
                            de uși noaptea<br>
                            <strong :style="'color: red; font-size: 16px'">PROGRAMEAZĂ VIZITA GRATUITĂ PENTRU
                                MĂSURARE!</strong>

                        </td>
                        </tbody>
                    </table>
                </div>
            </div>

            <div :style="'text-align: center; align-self: end;'">
                <img v-if="offer.window !== null" :style="'width: 100%; height: auto;'"
                     :src="'/images/catalog/'+offer.window.image" alt="">
                <img v-else :style="'width: 100%; height: auto;'" :src="'/images/catalog/'+offer.color.image" alt="">
                <img :style="'width: 100%; height: auto;'" src="/images/client_offer/compus.png" alt="">
            </div>
        </div>
        <div class="abs_menu hidden-print">
            <button class="abs-btn" onclick="window.print()">Save as PDF
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="white"
                          d="M8,13H10.55V10H13.45V13H16L12,17L8,13M19.35,10.04C21.95,10.22 24,12.36 24,15A5,5 0 0,1 19,20H6A6,6 0 0,1 0,14C0,10.91 2.34,8.36 5.35,8.04C6.6,5.64 9.11,4 12,4C15.64,4 18.67,6.59 19.35,10.04M19,18A3,3 0 0,0 22,15C22,13.45 20.78,12.14 19.22,12.04L17.69,11.93L17.39,10.43C16.88,7.86 14.62,6 12,6C9.94,6 8.08,7.14 7.13,8.97L6.63,9.92L5.56,10.03C3.53,10.24 2,11.95 2,14A4,4 0 0,0 6,18H19Z"/>
                </svg>
            </button>
            <v-text-field
                v-model="procent"
                counter
                :min="0"
                maxlength="3"
                dense
                label="Procent de reducere"
                outlined
                type="number"
            ></v-text-field>
        </div>
    </main>
</template>

<script>
import jsPDF from 'jspdf';
import domtoimage from "dom-to-image";
import html2canvas from 'html2canvas'

export default {
    name: "OfertaUsa",
    props: ['offer', 'type'],

    data() {
        return {
            procent: 0,
        }
    },

    methods: {
        generateSpecificationDoor(item) {
            let res = ''
            if (item.automatic_threshold){
                res = res + '| Prag automat '
            }

            if (item.door_reinforcement ){
                res = res + '| Ranforsare usa '
            }

            if (item.self_closing) {
                res = res + '| Auto inchidere '
            }

            if (item.ventilation_grille) {
                res = res + '| Grila ventilare '
            }

            return res;
        },

        specificationIsReverse(item) {
            let res = ''
            if (item.reverse_door) {
                res = res + '| REVERSE '
            }

            return res;
        },
        calcSumWithTva(price) {
            let total = 0;

            total = price;
            total = total * 1.19;
            if (this.procent > 0) {
                total = parseFloat((total + (total * this.procent) / 100))
            }
            total = Math.round(total * 100) / 100;
            return total;
        },

        totalCalc(off) {
            let total = 0
            total = Math.round((parseFloat(off) * 19) / 100)
            if (this.procent > 0) {
                total = parseFloat((total + (total * this.procent) / 100))
            }
            total = total + parseFloat(off);
            total = Math.round(total * 100) / 100;
            return total;
        },

        down2() {
            let my_window = window.open('', 'mywindow', 'status=1,width=350,height=150');
            my_window.document.write('<html><head><title>Print Me</title></head>');
            my_window.document.write('<body onafterprint="self.close()">');
            my_window.document.write(this.$refs.content.innerHtml);
            my_window.document.write('</body></html>');
        },

        download() {
            domtoimage
                .toPng(this.$refs.content)
                .then(function (dataUrl) {
                    var img = new Image();
                    img.src = dataUrl;
                    const doc = new jsPDF({
                        orientation: "portrait",
                        // unit: "pt",
                        format: [1080, 1400]
                    });
                    doc.addImage(img, "JPEG", 20, 20);
                    const date = new Date();
                    const filename =
                        "timechart_" +
                        date.getFullYear() +
                        ("0" + (date.getMonth() + 1)).slice(-2) +
                        ("0" + date.getDate()).slice(-2) +
                        ("0" + date.getHours()).slice(-2) +
                        ("0" + date.getMinutes()).slice(-2) +
                        ("0" + date.getSeconds()).slice(-2) +
                        ".pdf";
                    doc.save(filename);
                })
                .catch(function (error) {
                    console.error("oops, something went wrong!", error);
                });
        },

        downloadWithCSS() {
            const doc = new jsPDF();
            /** WITH CSS */
            var canvasElement = document.createElement('canvas');
            html2canvas(this.$refs.content, {
                canvas: canvasElement
            }).then(function (canvas) {
                const img = canvas.toDataURL("image/jpeg", 0.8);
                doc.addImage(img, 'JPEG', 20, 20);
                doc.save("sample.pdf");
            });
        },
    }
}
</script>

<style lang="scss" scoped>
@media print {
    .hidden-print {
        display: none !important;
    }
}

.abs_menu{
    position: fixed;
    top: 40px;
    left: 50px;
    display: grid;
    background: white;
    padding: 20px;
    .abs-btn{
        background: black;
        color: white;
        padding: 5px 30px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        &:hover{
            background: grey;
        }
    }

    .btn_action{

    }
}
</style>
